AI_agents_for_internal_operations/AI-powered employee database management.json
{
  "name": "AI-powered employee database management",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "id": "fc625bb0-5a6d-42f0-a31a-157dadae33a3",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "position": [
        -192,
        656
      ],
      "webhookId": "5971294c-ab28-481a-83b5-efa64d93554f",
      "typeVersion": 1.2,
      "credentials": {
        "telegramApi": {
          "id": "0wW4zQw8lxj0ZiyX",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "description": "Create Employee AI Agent tool\nCall this tool if user requested to create new employee",
        "workflowId": {
          "__rl": true,
          "value": "vI8x7MDlVXIqtd1f",
          "mode": "list",
          "cachedResultName": "workflow!"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "query": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('query', ``, 'string') }}",
            "action": "=create"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "query",
              "displayName": "query",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "action",
              "displayName": "action",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "id": "2e0be035-c25b-4212-8e00-a09789159b0e",
      "name": "Create Employee AI Agent tool",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "position": [
        -528,
        1248
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Get departments data from airtable tool",
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appT9mNgOz89PZ36D",
          "mode": "list",
          "cachedResultName": "HR Database",
          "cachedResultUrl": "https://airtable.com/appT9mNgOz89PZ36D"
        },
        "table": {
          "__rl": true,
          "value": "tblB0xec7TL36pDgC",
          "mode": "list",
          "cachedResultName": "Departments",
          "cachedResultUrl": "https://airtable.com/appT9mNgOz89PZ36D/tblB0xec7TL36pDgC"
        },
        "filterByFormula": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Filter_By_Formula', ``, 'string') }}",
        "options": {
          "fields": [
            "Department Name",
            "Department Description"
          ]
        }
      },
      "id": "76fd0e8a-a7d0-434f-b7f1-10bc0fa31c32",
      "name": "Get departments data from airtable tool",
      "type": "n8n-nodes-base.airtableTool",
      "position": [
        -48,
        1248
      ],
      "typeVersion": 2.1,
      "credentials": {
        "airtableTokenApi": {
          "id": "sfPlJg8ytZfeLd0C",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Get job titles data from airtable tool",
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appT9mNgOz89PZ36D",
          "mode": "list",
          "cachedResultName": "HR Database",
          "cachedResultUrl": "https://airtable.com/appT9mNgOz89PZ36D"
        },
        "table": {
          "__rl": true,
          "value": "tblnyWkG6BTpxjMzo",
          "mode": "list",
          "cachedResultName": "Job Titles",
          "cachedResultUrl": "https://airtable.com/appT9mNgOz89PZ36D/tblnyWkG6BTpxjMzo"
        },
        "filterByFormula": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Filter_By_Formula', ``, 'string') }}",
        "options": {
          "fields": [
            "Job Title",
            "Job Description"
          ]
        }
      },
      "id": "492532e9-4b45-4d03-8bcc-bbbb566fa7ac",
      "name": "Get job titles data from airtable tool",
      "type": "n8n-nodes-base.airtableTool",
      "position": [
        112,
        1248
      ],
      "typeVersion": 2.1,
      "credentials": {
        "airtableTokenApi": {
          "id": "sfPlJg8ytZfeLd0C",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Get employees data from airtable tool",
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appT9mNgOz89PZ36D",
          "mode": "list",
          "cachedResultName": "HR Database",
          "cachedResultUrl": "https://airtable.com/appT9mNgOz89PZ36D"
        },
        "table": {
          "__rl": true,
          "value": "tblGIVbpACRwWzzlp",
          "mode": "list",
          "cachedResultName": "Employees",
          "cachedResultUrl": "https://airtable.com/appT9mNgOz89PZ36D/tblGIVbpACRwWzzlp"
        },
        "returnAll": "={{ true }}",
        "options": {
          "fields": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Output_Fields', ``, 'string') }}"
        }
      },
      "id": "01ecaa96-8754-4aa8-934b-819f20dedbfa",
      "name": "Get employees data from airtable tool",
      "type": "n8n-nodes-base.airtableTool",
      "position": [
        272,
        1248
      ],
      "typeVersion": 2.1,
      "credentials": {
        "airtableTokenApi": {
          "id": "sfPlJg8ytZfeLd0C",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "id": "b665c3ef-5e13-4137-b9d9-40621871e1f1",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        -560,
        896
      ],
      "typeVersion": 1.2,
      "credentials": {
        "openAiApi": {
          "id": "Hb8scaDn3DEbAoqO",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.message.chat.id }}"
      },
      "id": "f68b03c8-8d7a-456c-85e4-6aa4d6688f09",
      "name": "Simple Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "position": [
        -512,
        1040
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "e008c4f9-dd20-4988-9190-dd2f807a7ce3",
      "name": "Send Message to User",
      "type": "n8n-nodes-base.telegram",
      "position": [
        112,
        912
      ],
      "webhookId": "507c9446-fd78-4695-8dd2-7c348390a4db",
      "typeVersion": 1.2,
      "credentials": {
        "telegramApi": {
          "id": "0wW4zQw8lxj0ZiyX",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Create department tool",
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appT9mNgOz89PZ36D",
          "mode": "list",
          "cachedResultName": "HR Database",
          "cachedResultUrl": "https://airtable.com/appT9mNgOz89PZ36D"
        },
        "table": {
          "__rl": true,
          "value": "tblB0xec7TL36pDgC",
          "mode": "list",
          "cachedResultName": "Departments",
          "cachedResultUrl": "https://airtable.com/appT9mNgOz89PZ36D/tblB0xec7TL36pDgC"
        },
        "columns": {
          "value": {
            "Department Name": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Department_Name', ``, 'string') }}",
            "Department Description": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Department_Description', ``, 'string') }}"
          },
          "schema": [
            {
              "id": "Department Name",
              "type": "string",
              "display": true,
              "removed": false,
              "readOnly": false,
              "required": false,
              "displayName": "Department Name",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Department Description",
              "type": "string",
              "display": true,
              "removed": false,
              "readOnly": false,
              "required": false,
              "displayName": "Department Description",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Department Head",
              "type": "array",
              "display": true,
              "removed": true,
              "readOnly": false,
              "required": false,
              "displayName": "Department Head",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Job Titles",
              "type": "array",
              "display": true,
              "removed": true,
              "readOnly": false,
              "required": false,
              "displayName": "Job Titles",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Employees",
              "type": "array",
              "display": true,
              "removed": true,
              "readOnly": false,
              "required": false,
              "displayName": "Employees",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [
            "Department Name"
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "typecast": true
        }
      },
      "id": "0e1cdaef-058b-40d0-8eae-ae76e0323725",
      "name": "Create Department Tool",
      "type": "n8n-nodes-base.airtableTool",
      "position": [
        -368,
        1248
      ],
      "typeVersion": 2.1,
      "credentials": {
        "airtableTokenApi": {
          "id": "sfPlJg8ytZfeLd0C",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Create job title tool",
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appT9mNgOz89PZ36D",
          "mode": "list",
          "cachedResultName": "HR Database",
          "cachedResultUrl": "https://airtable.com/appT9mNgOz89PZ36D"
        },
        "table": {
          "__rl": true,
          "value": "tblnyWkG6BTpxjMzo",
          "mode": "list",
          "cachedResultName": "Job Titles",
          "cachedResultUrl": "https://airtable.com/appT9mNgOz89PZ36D/tblnyWkG6BTpxjMzo"
        },
        "columns": {
          "value": {
            "Job Title": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Job_Title', ``, 'string') }}",
            "Job Description": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Job_Description', ``, 'string') }}"
          },
          "schema": [
            {
              "id": "Job Title",
              "type": "string",
              "display": true,
              "removed": false,
              "readOnly": false,
              "required": false,
              "displayName": "Job Title",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Job Description",
              "type": "string",
              "display": true,
              "removed": false,
              "readOnly": false,
              "required": false,
              "displayName": "Job Description",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Department associated with the job title",
              "type": "array",
              "display": true,
              "removed": true,
              "readOnly": false,
              "required": false,
              "displayName": "Department associated with the job title",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Employees",
              "type": "array",
              "display": true,
              "removed": true,
              "readOnly": false,
              "required": false,
              "displayName": "Employees",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [
            "Job Title"
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "typecast": true
        }
      },
      "id": "85d99746-bf19-4574-8590-4b584a515107",
      "name": "Create Job Title Tool",
      "type": "n8n-nodes-base.airtableTool",
      "position": [
        -208,
        1248
      ],
      "typeVersion": 2.1,
      "credentials": {
        "airtableTokenApi": {
          "id": "sfPlJg8ytZfeLd0C",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Delete employee tool",
        "operation": "deleteRecord",
        "base": {
          "__rl": true,
          "value": "appT9mNgOz89PZ36D",
          "mode": "list",
          "cachedResultName": "HR Database",
          "cachedResultUrl": "https://airtable.com/appT9mNgOz89PZ36D"
        },
        "table": {
          "__rl": true,
          "value": "tblGIVbpACRwWzzlp",
          "mode": "list",
          "cachedResultName": "Employees",
          "cachedResultUrl": "https://airtable.com/appT9mNgOz89PZ36D/tblGIVbpACRwWzzlp"
        },
        "id": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Record_ID', ``, 'string') }}"
      },
      "id": "15ec0b9a-7f57-4da8-9770-a8ee7f47721e",
      "name": "Delete employee tool",
      "type": "n8n-nodes-base.airtableTool",
      "position": [
        448,
        1248
      ],
      "typeVersion": 2.1,
      "credentials": {
        "airtableTokenApi": {
          "id": "sfPlJg8ytZfeLd0C",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=User Request:\n{{ $json.message.text }}",
        "options": {
          "systemMessage": "=You are employee database management specialist\n\nCall the right tools based on the request:\n\n//\nUser wants to create new employee:\ncall Create Employee AI Agent tool\n//\n\n//\nUser wants to delete:\nPass the employee id to Delete employee tool\nrun Delete employee tool\n//\n\n//\nUser wants to create department data:\ncall \"Create department tool\"\n//\n\n//\nUser wants to create job title data:\ncall \"Create Job Title tool\"\n//\n\n//\nUser wants get department data:\ncall Get departments data from airtable tool\n//\n\n//\nUser wants get employee data:\ncall Get employees data from airtable tool\n//\n\nImportant notes:\nOnly call 1 tool max, choose the most suitable tool\nFor getting data, no need to output the airtable id, example for getting department data => show only name and description (without id)"
        }
      },
      "id": "a68bdab8-0156-4cf7-9517-de69e1d8cad4",
      "name": "Employee Management AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        -288,
        912
      ],
      "typeVersion": 1.9
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Get departments data from airtable",
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appT9mNgOz89PZ36D",
          "mode": "list",
          "cachedResultName": "HR Database",
          "cachedResultUrl": "https://airtable.com/appT9mNgOz89PZ36D"
        },
        "table": {
          "__rl": true,
          "value": "tblB0xec7TL36pDgC",
          "mode": "list",
          "cachedResultName": "Departments",
          "cachedResultUrl": "https://airtable.com/appT9mNgOz89PZ36D/tblB0xec7TL36pDgC"
        },
        "filterByFormula": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Filter_By_Formula', ``, 'string') }}",
        "returnAll": false,
        "limit": 1,
        "options": {}
      },
      "id": "bba6980a-166a-4e9b-b21b-97aafccc2c78",
      "name": "Get departments data from airtable",
      "type": "n8n-nodes-base.airtableTool",
      "position": [
        -272,
        1808
      ],
      "typeVersion": 2.1,
      "credentials": {
        "airtableTokenApi": {
          "id": "sfPlJg8ytZfeLd0C",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Get job titles data from airtable",
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appT9mNgOz89PZ36D",
          "mode": "list",
          "cachedResultName": "HR Database",
          "cachedResultUrl": "https://airtable.com/appT9mNgOz89PZ36D"
        },
        "table": {
          "__rl": true,
          "value": "tblnyWkG6BTpxjMzo",
          "mode": "list",
          "cachedResultName": "Job Titles",
          "cachedResultUrl": "https://airtable.com/appT9mNgOz89PZ36D/tblnyWkG6BTpxjMzo"
        },
        "filterByFormula": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Filter_By_Formula', ``, 'string') }}",
        "returnAll": false,
        "limit": 1,
        "options": {}
      },
      "id": "bf1421bd-33d1-4db7-883e-5c9efa8cff7d",
      "name": "Get job titles data from airtable",
      "type": "n8n-nodes-base.airtableTool",
      "position": [
        -112,
        1808
      ],
      "typeVersion": 2.1,
      "credentials": {
        "airtableTokenApi": {
          "id": "sfPlJg8ytZfeLd0C",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=User message:\n{{ $json.query }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=```\nYou are an airtable database management agent\n\nthe exact column name on airtable is:\nDepartment name\nJob title\n\ndont use any other name combination like underscore\n\nfirst check if {Department name} and {job title} exist\n\nif department name and job title doesnt exist:\ncreate new department and job title then output the airtable id\nif end\n\nif department name and job title exist:\noutput the department and job title existing airtable id\nif end\n\nCall the create employee tools and pass the job_title_id and department_id\n\nOutput in json format:\n{\n  \"department_id\":\"recxxxxxxx\",\n  \"job_title_id\":\"recxxxxxxx\",\n  \"new_employee_id\": \"recxxxxxxx\"\n}\n\n\n```\n"
        }
      },
      "id": "dc0b4ff8-2584-4cac-91d1-a8858aecf09f",
      "name": "Create Employee AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        -208,
        1456
      ],
      "typeVersion": 1.9
    },
    {
      "parameters": {
        "inputSource": "jsonExample",
        "jsonExample": "{\n  \"query\":\"test\",\n  \"action\":\"create\"\n}"
      },
      "id": "1c7c2c76-e232-4d10-8c89-85a7e995041f",
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        -448,
        1456
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"department_id\":\"recxxxxxxx\",\n  \"job_title_id\":\"recxxxxxxx\",\n  \"new_employee_id\": \"recxxxxxxx\"\n}"
      },
      "id": "9dacb1ef-9869-4f7e-bb56-364f96ac6b46",
      "name": "Structured Output Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "position": [
        528,
        1808
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Create department",
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appT9mNgOz89PZ36D",
          "mode": "list",
          "cachedResultName": "HR Database",
          "cachedResultUrl": "https://airtable.com/appT9mNgOz89PZ36D"
        },
        "table": {
          "__rl": true,
          "value": "tblB0xec7TL36pDgC",
          "mode": "list",
          "cachedResultName": "Departments",
          "cachedResultUrl": "https://airtable.com/appT9mNgOz89PZ36D/tblB0xec7TL36pDgC"
        },
        "columns": {
          "value": {
            "Department Name": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Department_Name', ``, 'string') }}",
            "Department Description": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Department_Description', ``, 'string') }}"
          },
          "schema": [
            {
              "id": "Department Name",
              "type": "string",
              "display": true,
              "removed": false,
              "readOnly": false,
              "required": false,
              "displayName": "Department Name",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Department Description",
              "type": "string",
              "display": true,
              "removed": false,
              "readOnly": false,
              "required": false,
              "displayName": "Department Description",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Department Head",
              "type": "array",
              "display": true,
              "removed": true,
              "readOnly": false,
              "required": false,
              "displayName": "Department Head",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Job Titles",
              "type": "array",
              "display": true,
              "removed": true,
              "readOnly": false,
              "required": false,
              "displayName": "Job Titles",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Employees",
              "type": "array",
              "display": true,
              "removed": true,
              "readOnly": false,
              "required": false,
              "displayName": "Employees",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "typecast": true
        }
      },
      "id": "b27469e0-5430-458a-a577-edcd3d1bbf9f",
      "name": "Create Department",
      "type": "n8n-nodes-base.airtableTool",
      "position": [
        48,
        1808
      ],
      "typeVersion": 2.1,
      "credentials": {
        "airtableTokenApi": {
          "id": "sfPlJg8ytZfeLd0C",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Create job title",
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appT9mNgOz89PZ36D",
          "mode": "list",
          "cachedResultName": "HR Database",
          "cachedResultUrl": "https://airtable.com/appT9mNgOz89PZ36D"
        },
        "table": {
          "__rl": true,
          "value": "tblnyWkG6BTpxjMzo",
          "mode": "list",
          "cachedResultName": "Job Titles",
          "cachedResultUrl": "https://airtable.com/appT9mNgOz89PZ36D/tblnyWkG6BTpxjMzo"
        },
        "columns": {
          "value": {
            "Job Title": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Job_Title', ``, 'string') }}",
            "Job Description": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Job_Description', ``, 'string') }}"
          },
          "schema": [
            {
              "id": "Job Title",
              "type": "string",
              "display": true,
              "removed": false,
              "readOnly": false,
              "required": false,
              "displayName": "Job Title",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Job Description",
              "type": "string",
              "display": true,
              "removed": false,
              "readOnly": false,
              "required": false,
              "displayName": "Job Description",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Department associated with the job title",
              "type": "array",
              "display": true,
              "removed": true,
              "readOnly": false,
              "required": false,
              "displayName": "Department associated with the job title",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Employees",
              "type": "array",
              "display": true,
              "removed": true,
              "readOnly": false,
              "required": false,
              "displayName": "Employees",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "typecast": true
        }
      },
      "id": "ee3e49a5-2690-4b9f-a582-1f065a405843",
      "name": "Create Job Title",
      "type": "n8n-nodes-base.airtableTool",
      "position": [
        208,
        1808
      ],
      "typeVersion": 2.1,
      "credentials": {
        "airtableTokenApi": {
          "id": "sfPlJg8ytZfeLd0C",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Create employee",
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appT9mNgOz89PZ36D",
          "mode": "list",
          "cachedResultName": "HR Database",
          "cachedResultUrl": "https://airtable.com/appT9mNgOz89PZ36D"
        },
        "table": {
          "__rl": true,
          "value": "tblGIVbpACRwWzzlp",
          "mode": "list",
          "cachedResultName": "Employees",
          "cachedResultUrl": "https://airtable.com/appT9mNgOz89PZ36D/tblGIVbpACRwWzzlp"
        },
        "columns": {
          "value": {
            "Email": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Email', ``, 'string') }}",
            "Full Name": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Full_Name', ``, 'string') }}",
            "Phone Number": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Phone_Number', ``, 'string') }}",
            "job_title_id": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('job_title_id', ``, 'string') }}",
            "department_id": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('department_id', ``, 'string') }}",
            "Employee Status": "Active"
          },
          "schema": [
            {
              "id": "Full Name",
              "type": "string",
              "display": true,
              "removed": false,
              "readOnly": false,
              "required": false,
              "displayName": "Full Name",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "id",
              "type": "string",
              "display": true,
              "removed": false,
              "readOnly": true,
              "required": false,
              "displayName": "id",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "type": "string",
              "display": true,
              "removed": false,
              "readOnly": false,
              "required": false,
              "displayName": "Email",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Phone Number",
              "type": "string",
              "display": true,
              "removed": false,
              "readOnly": false,
              "required": false,
              "displayName": "Phone Number",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Job Title",
              "type": "array",
              "display": true,
              "removed": true,
              "readOnly": false,
              "required": false,
              "displayName": "Job Title",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Employee Type",
              "type": "options",
              "display": true,
              "options": [
                {
                  "name": "Employee",
                  "value": "Employee"
                },
                {
                  "name": "Manager",
                  "value": "Manager"
                }
              ],
              "removed": true,
              "readOnly": false,
              "required": false,
              "displayName": "Employee Type",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Reports To",
              "type": "array",
              "display": true,
              "removed": true,
              "readOnly": false,
              "required": false,
              "displayName": "Reports To",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Job Title (from Job Titles)",
              "type": "string",
              "display": true,
              "removed": true,
              "readOnly": true,
              "required": false,
              "displayName": "Job Title (from Job Titles)",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Reports To (from Employees)",
              "type": "string",
              "display": true,
              "removed": true,
              "readOnly": true,
              "required": false,
              "displayName": "Reports To (from Employees)",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Department",
              "type": "array",
              "display": true,
              "removed": true,
              "readOnly": false,
              "required": false,
              "displayName": "Department",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Department Name (from Department)",
              "type": "string",
              "display": true,
              "removed": true,
              "readOnly": true,
              "required": false,
              "displayName": "Department Name (from Department)",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Employee Type Text",
              "type": "string",
              "display": true,
              "removed": true,
              "readOnly": false,
              "required": false,
              "displayName": "Employee Type Text",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Employee Status",
              "type": "options",
              "display": true,
              "options": [
                {
                  "name": "Active",
                  "value": "Active"
                },
                {
                  "name": "On Leave",
                  "value": "On Leave"
                },
                {
                  "name": "Inactive",
                  "value": "Inactive"
                }
              ],
              "removed": false,
              "readOnly": false,
              "required": false,
              "displayName": "Employee Status",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "job_title_id",
              "type": "string",
              "display": true,
              "removed": false,
              "readOnly": false,
              "required": false,
              "displayName": "job_title_id",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "department_id",
              "type": "string",
              "display": true,
              "removed": false,
              "readOnly": false,
              "required": false,
              "displayName": "department_id",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Head of Department",
              "type": "array",
              "display": true,
              "removed": true,
              "readOnly": false,
              "required": false,
              "displayName": "Head of Department",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "typecast": true
        }
      },
      "id": "cd17e7a9-fa71-4756-bee2-233de18dbb84",
      "name": "Create employee",
      "type": "n8n-nodes-base.airtableTool",
      "position": [
        368,
        1808
      ],
      "typeVersion": 2.1,
      "credentials": {
        "airtableTokenApi": {
          "id": "sfPlJg8ytZfeLd0C",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appT9mNgOz89PZ36D",
          "mode": "list",
          "cachedResultName": "HR Database",
          "cachedResultUrl": "https://airtable.com/appT9mNgOz89PZ36D"
        },
        "table": {
          "__rl": true,
          "value": "tblGIVbpACRwWzzlp",
          "mode": "list",
          "cachedResultName": "Employees",
          "cachedResultUrl": "https://airtable.com/appT9mNgOz89PZ36D/tblGIVbpACRwWzzlp"
        },
        "columns": {
          "value": {
            "id": "={{ $json.output.new_employee_id }}",
            "Job Title": "=[\"{{ $json.output.job_title_id }}\"]",
            "Department": "=[\"{{ $json.output.department_id }}\"]"
          },
          "schema": [
            {
              "id": "id",
              "type": "string",
              "display": true,
              "removed": false,
              "readOnly": true,
              "required": false,
              "displayName": "id",
              "defaultMatch": true
            },
            {
              "id": "Full Name",
              "type": "string",
              "display": true,
              "removed": true,
              "readOnly": false,
              "required": false,
              "displayName": "Full Name",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "id",
              "type": "string",
              "display": true,
              "removed": false,
              "readOnly": true,
              "required": false,
              "displayName": "id",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "type": "string",
              "display": true,
              "removed": true,
              "readOnly": false,
              "required": false,
              "displayName": "Email",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Phone Number",
              "type": "string",
              "display": true,
              "removed": true,
              "readOnly": false,
              "required": false,
              "displayName": "Phone Number",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Job Title",
              "type": "array",
              "display": true,
              "removed": false,
              "readOnly": false,
              "required": false,
              "displayName": "Job Title",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Employee Type",
              "type": "options",
              "display": true,
              "options": [
                {
                  "name": "Employee",
                  "value": "Employee"
                },
                {
                  "name": "Manager",
                  "value": "Manager"
                }
              ],
              "removed": true,
              "readOnly": false,
              "required": false,
              "displayName": "Employee Type",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Reports To",
              "type": "array",
              "display": true,
              "removed": true,
              "readOnly": false,
              "required": false,
              "displayName": "Reports To",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Job Title (from Job Titles)",
              "type": "string",
              "display": true,
              "removed": true,
              "readOnly": true,
              "required": false,
              "displayName": "Job Title (from Job Titles)",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Reports To (from Employees)",
              "type": "string",
              "display": true,
              "removed": true,
              "readOnly": true,
              "required": false,
              "displayName": "Reports To (from Employees)",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Department",
              "type": "array",
              "display": true,
              "removed": false,
              "readOnly": false,
              "required": false,
              "displayName": "Department",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Department Name (from Department)",
              "type": "string",
              "display": true,
              "removed": true,
              "readOnly": true,
              "required": false,
              "displayName": "Department Name (from Department)",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Employee Type Text",
              "type": "string",
              "display": true,
              "removed": true,
              "readOnly": false,
              "required": false,
              "displayName": "Employee Type Text",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Employee Status",
              "type": "options",
              "display": true,
              "options": [
                {
                  "name": "Active",
                  "value": "Active"
                },
                {
                  "name": "On Leave",
                  "value": "On Leave"
                },
                {
                  "name": "Inactive",
                  "value": "Inactive"
                }
              ],
              "removed": true,
              "readOnly": false,
              "required": false,
              "displayName": "Employee Status",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "job_title_id",
              "type": "string",
              "display": true,
              "removed": true,
              "readOnly": false,
              "required": false,
              "displayName": "job_title_id",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "department_id",
              "type": "string",
              "display": true,
              "removed": true,
              "readOnly": false,
              "required": false,
              "displayName": "department_id",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Head of Department",
              "type": "array",
              "display": true,
              "removed": true,
              "readOnly": false,
              "required": false,
              "displayName": "Head of Department",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [
            "id"
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "3856f1d7-c830-43e2-a6e3-be1b0b3c644a",
      "name": "Update Employee Data",
      "type": "n8n-nodes-base.airtable",
      "position": [
        176,
        1456
      ],
      "typeVersion": 2.1,
      "credentials": {
        "airtableTokenApi": {
          "id": "sfPlJg8ytZfeLd0C",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "id": "4de24d73-e7dd-48d4-b36a-f648aeeb66cf",
      "name": "OpenAI Chat Model1",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        -432,
        1808
      ],
      "typeVersion": 1.2,
      "credentials": {
        "openAiApi": {
          "id": "Hb8scaDn3DEbAoqO",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "content": "## 🤖 AI-Powered Employee Database Management via Telegram using OpenAI and Airtable\n\n**What This Template Does:**\n- Provides an HR assistant chatbot interface through Telegram\n- Uses GPT-4 to interpret natural language requests (e.g., “Show me all employees” or “Create employee Sarah…”)\n- Performs Airtable operations to manage Employees, Departments, and Job Titles\n- Supports dynamic record creation and linking (e.g., if department doesn't exist, it will be created)\n- Maintains conversation memory per Telegram chat for smooth back-and-forth interaction\n- Splits logic into a main router workflow and a sub-workflow for employee creation",
        "height": 460,
        "width": 460,
        "color": 5
      },
      "id": "a9dfd955-7f43-4379-a5e9-fe2df7dd0ae4",
      "name": "Sticky Note7",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -800,
        -192
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## 📋 WORKFLOW PROCESS OVERVIEW  \nStep 1: 💬 Telegram Trigger receives natural language command from HR user  \nStep 2: 🧠 AI Agent (OpenA) interprets intent (view, create, delete, etc.)  \nStep 3: 🔀 Router decides workflow path based on user intent  \nStep 4: 📄 Get Employees fetches employee records from Airtable (if viewing)  \nStep 5: 🛠️ Create Employee Tool triggers sub-workflow for new employee creation  \nStep 6: 🏢 Create/Find Department checks Airtable for department or creates it  \nStep 7: 👔 Create/Find Job Title checks Airtable for job title or creates it  \nStep 8: 💾 Create Employee saves employee record in Airtable with linked fields  \nStep 9: 🗑️ Delete Employee removes employee record by ID (if requested)  \nStep 10: 🔁 Return Response sends formatted reply back to Telegram user\n",
        "height": 460,
        "width": 500,
        "color": 5
      },
      "id": "aafcdf23-f38f-4b64-9cb1-4bbda35c6c4d",
      "name": "Sticky Note8",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        64,
        -256
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## SETUP REQUIRED  \n**Author:** [Billy Christi](https://n8n.io/creators/billy/)\n\nAirtable Base Structure:  \n[Copy this Airtable Base](https://airtable.com/appXXXXXXXXXXXXXX/tblXXXXXXXXXXXXXX/viwXXXXXXXXXXXXXX)  \n*(Replace with your own Airtable base link if private)*\n\nRequired Credentials:  \n• Airtable API Key  \n• OpenAI API Key\n• Telegram Bot Token\n",
        "height": 320,
        "width": 280,
        "color": 4
      },
      "id": "1b467260-af89-4d9e-a498-417837a3bb3f",
      "name": "Sticky Note6",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -304,
        -304
      ],
      "typeVersion": 1
    }
  ],
  "pinData": {},
  "connections": {
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Employee Management AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Create employee": {
      "ai_tool": [
        [
          {
            "node": "Create Employee AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create Job Title": {
      "ai_tool": [
        [
          {
            "node": "Create Employee AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Employee Management AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Department": {
      "ai_tool": [
        [
          {
            "node": "Create Employee AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Employee Management AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Create Employee AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Delete employee tool": {
      "ai_tool": [
        [
          {
            "node": "Employee Management AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create Job Title Tool": {
      "ai_tool": [
        [
          {
            "node": "Employee Management AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create Department Tool": {
      "ai_tool": [
        [
          {
            "node": "Employee Management AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create Employee AI Agent": {
      "main": [
        [
          {
            "node": "Update Employee Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Create Employee AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Employee Management AI Agent": {
      "main": [
        [
          {
            "node": "Send Message to User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Employee AI Agent tool": {
      "ai_tool": [
        [
          {
            "node": "Employee Management AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get job titles data from airtable": {
      "ai_tool": [
        [
          {
            "node": "Create Employee AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Create Employee AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get departments data from airtable": {
      "ai_tool": [
        [
          {
            "node": "Create Employee AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get employees data from airtable tool": {
      "ai_tool": [
        [
          {
            "node": "Employee Management AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get job titles data from airtable tool": {
      "ai_tool": [
        [
          {
            "node": "Employee Management AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get departments data from airtable tool": {
      "ai_tool": [
        [
          {
            "node": "Employee Management AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "9d22d0e1-05c2-4231-af69-f69eebda55a6",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "98b510ca4dbbabb609e24c83189c67f6ae0083179272377aca703df4038b384f"
  },
  "id": "vI8x7MDlVXIqtd1f",
  "tags": []
}