AI_agents_for_internal_operations/AI-Powered Personal Assistant for Telegram with Memory & Task Management.json
{
  "name": "AI-Powered Personal Assistant for Telegram with Memory & Task Management",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "id": "0901d5f9-c8db-4a8d-8bdc-295a8bcfcc7b",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "position": [
        -880,
        288
      ],
      "webhookId": "75056a39-c6a0-4647-9527-62360f8cb937",
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "id": "bd19cd8f-e7be-437a-8c11-15bbb1d46395",
      "name": "Merge1",
      "type": "n8n-nodes-base.merge",
      "position": [
        -80,
        304
      ],
      "executeOnce": true,
      "typeVersion": 3
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "id": "43006023-9e49-4e0c-b3f9-2bfa702a7c6b",
      "name": "OpenAI Chat Model1",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        16,
        624
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "content": "## Grocery",
        "height": 560,
        "width": 200
      },
      "id": "093d4344-7aab-4552-8a65-5516aa55b8f7",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        672,
        544
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Memory",
        "height": 200,
        "width": 320,
        "color": 5
      },
      "id": "af1987f9-85b8-4a2e-9ee2-46405a4174d8",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        336,
        544
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "telekey",
        "contextWindowLength": 10
      },
      "id": "2199a8fb-f8ae-4c57-bcdc-1eaa178bf55a",
      "name": "Window Buffer Memory1",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "position": [
        176,
        624
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message?.chat?.id || $('Telegram Trigger').item.json.message?.from?.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "id": "61a6e09c-9972-4e61-bb47-c606e6f867ff",
      "name": "Telegram Response",
      "type": "n8n-nodes-base.telegram",
      "position": [
        672,
        304
      ],
      "webhookId": "73866d3a-f4c0-493b-808d-c8f90566cd29",
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appt6WSLl5XQvUyra",
          "mode": "list",
          "cachedResultName": "FirstBase",
          "cachedResultUrl": "https://airtable.com/appt6WSLl5XQvUyra"
        },
        "table": {
          "__rl": true,
          "value": "tblIpzN4K8Qwa3ic2",
          "mode": "list",
          "cachedResultName": "User Memory",
          "cachedResultUrl": "https://airtable.com/appt6WSLl5XQvUyra/tblIpzN4K8Qwa3ic2"
        },
        "columns": {
          "value": {
            "User": "={{ $('Telegram Trigger').item.json.message?.from?.username || 'user' }}",
            "Memory": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Memory', ``, 'string') }}"
          },
          "schema": [
            {
              "id": "Memory",
              "type": "string",
              "display": true,
              "removed": false,
              "readOnly": false,
              "required": false,
              "displayName": "Memory",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "User",
              "type": "string",
              "display": true,
              "removed": false,
              "readOnly": false,
              "required": false,
              "displayName": "User",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Assignee",
              "type": "string",
              "display": true,
              "removed": true,
              "readOnly": true,
              "required": false,
              "displayName": "Assignee",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "dcfbfc28-5ac1-4321-9e1f-b66dbaa1d214",
      "name": "User Tele Memory",
      "type": "n8n-nodes-base.airtableTool",
      "position": [
        368,
        608
      ],
      "typeVersion": 2.1
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appt6WSLl5XQvUyra",
          "mode": "list",
          "cachedResultName": "FirstBase",
          "cachedResultUrl": "https://airtable.com/appt6WSLl5XQvUyra"
        },
        "table": {
          "__rl": true,
          "value": "tblIpzN4K8Qwa3ic2",
          "mode": "list",
          "cachedResultName": "User Memory",
          "cachedResultUrl": "https://airtable.com/appt6WSLl5XQvUyra/tblIpzN4K8Qwa3ic2"
        },
        "columns": {
          "value": {
            "User": "={{ $('Telegram Trigger').item.json.message?.from?.username || 'user' }}",
            "Memory": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Memory', ``, 'string') }}"
          },
          "schema": [
            {
              "id": "Memory",
              "type": "string",
              "display": true,
              "removed": false,
              "readOnly": false,
              "required": false,
              "displayName": "Memory",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "User",
              "type": "string",
              "display": true,
              "removed": false,
              "readOnly": false,
              "required": false,
              "displayName": "User",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Assignee",
              "type": "string",
              "display": true,
              "removed": true,
              "readOnly": true,
              "required": false,
              "displayName": "Assignee",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "f0c69d88-00ff-45d3-b89d-bdae4f590f7d",
      "name": "Zeus Text Memory",
      "type": "n8n-nodes-base.airtableTool",
      "position": [
        528,
        608
      ],
      "typeVersion": 2.1
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appt6WSLl5XQvUyra",
          "mode": "list",
          "cachedResultName": "FirstBase",
          "cachedResultUrl": "https://airtable.com/appt6WSLl5XQvUyra"
        },
        "table": {
          "__rl": true,
          "value": "tbllUz7bSu3D3qadm",
          "mode": "list",
          "cachedResultName": "Grocery's",
          "cachedResultUrl": "https://airtable.com/appt6WSLl5XQvUyra/tbllUz7bSu3D3qadm"
        },
        "options": {}
      },
      "id": "45ecd0a8-d290-4231-b70a-9dc3000a8c77",
      "name": "Grocery Search",
      "type": "n8n-nodes-base.airtableTool",
      "position": [
        736,
        624
      ],
      "typeVersion": 2.1
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appt6WSLl5XQvUyra",
          "mode": "list",
          "cachedResultName": "FirstBase",
          "cachedResultUrl": "https://airtable.com/appt6WSLl5XQvUyra"
        },
        "table": {
          "__rl": true,
          "value": "tbllUz7bSu3D3qadm",
          "mode": "list",
          "cachedResultName": "Grocery's",
          "cachedResultUrl": "https://airtable.com/appt6WSLl5XQvUyra/tbllUz7bSu3D3qadm"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Item": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Item', ``, 'string') }}",
            "User": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('User', ``, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Item",
              "displayName": "Item",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "User",
              "displayName": "User",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Created",
              "displayName": "Created",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "9f6d0f88-003d-4235-bd17-74e0eb4e9b68",
      "name": "Grocery Create",
      "type": "n8n-nodes-base.airtableTool",
      "position": [
        736,
        784
      ],
      "typeVersion": 2.1
    },
    {
      "parameters": {
        "operation": "deleteRecord",
        "base": {
          "__rl": true,
          "value": "appt6WSLl5XQvUyra",
          "mode": "list",
          "cachedResultName": "FirstBase",
          "cachedResultUrl": "https://airtable.com/appt6WSLl5XQvUyra"
        },
        "table": {
          "__rl": true,
          "value": "tbllUz7bSu3D3qadm",
          "mode": "list",
          "cachedResultName": "Grocery's",
          "cachedResultUrl": "https://airtable.com/appt6WSLl5XQvUyra/tbllUz7bSu3D3qadm"
        },
        "id": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Record_ID', ``, 'string') }}"
      },
      "id": "3ce7285c-ab37-4da8-855c-b5a14d1b5c06",
      "name": "Grocery Delete",
      "type": "n8n-nodes-base.airtableTool",
      "position": [
        736,
        944
      ],
      "typeVersion": 2.1
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appt6WSLl5XQvUyra",
          "mode": "list",
          "cachedResultName": "FirstBase",
          "cachedResultUrl": "https://airtable.com/appt6WSLl5XQvUyra"
        },
        "table": {
          "__rl": true,
          "value": "tblIpzN4K8Qwa3ic2",
          "mode": "list",
          "cachedResultName": "User Memory",
          "cachedResultUrl": "https://airtable.com/appt6WSLl5XQvUyra/tblIpzN4K8Qwa3ic2"
        },
        "options": {},
        "sort": {
          "property": [
            {
              "field": "Time"
            }
          ]
        }
      },
      "id": "229a24c3-15fe-45ea-bdcb-ef1601f44d6a",
      "name": "Get Memories",
      "type": "n8n-nodes-base.airtable",
      "position": [
        -464,
        464
      ],
      "typeVersion": 2.1,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "include": "allFieldsExcept",
        "fieldsToExclude": "id, createdTime, Created",
        "options": {}
      },
      "id": "9b151a93-6059-4d5e-9069-18b16241d55e",
      "name": "Aggregate",
      "type": "n8n-nodes-base.aggregate",
      "position": [
        -304,
        464
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "id": "183b66b2-d661-42ca-ae99-79360b72d94c",
      "name": "OpenAI",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "position": [
        -304,
        112
      ],
      "typeVersion": 1.8
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "015d3543-4e1a-4355-a45a-9f3c3e8771db",
                    "operator": {
                      "type": "object",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "leftValue": "={{ $json.message.voice }}",
                    "rightValue": ""
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "Voice"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": ""
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "Text"
            }
          ]
        },
        "options": {}
      },
      "id": "620e32c1-a02b-4e76-807e-597f4d7e70cd",
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "position": [
        -624,
        288
      ],
      "typeVersion": 3.2
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.voice.file_id }}",
        "additionalFields": {}
      },
      "id": "cc832a7c-97ad-462a-8dcf-b7ce6a338494",
      "name": "Telegram",
      "type": "n8n-nodes-base.telegram",
      "position": [
        -464,
        112
      ],
      "webhookId": "ef8adf6c-47f6-4b83-ab1b-59ab062daeee",
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "content": "## Voice",
        "height": 220,
        "width": 360,
        "color": 3
      },
      "id": "403726a8-53cb-4a02-8889-3e052e7945b5",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -496,
        48
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "nstamanna19@gmail.com",
          "mode": "list",
          "cachedResultName": "nstamanna19@gmail.com"
        },
        "limit": "={{ $fromAI(\"Limit\") }}",
        "timeMin": "={{ $fromAI(\"After\") }}",
        "timeMax": "={{ $fromAI(\"Before\") }}",
        "options": {}
      },
      "id": "08c26cd4-76c1-4d9b-8346-acc8e1a46a02",
      "name": "Get Events",
      "type": "n8n-nodes-base.googleCalendarTool",
      "position": [
        944,
        624
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "nstamanna19@gmail.com",
          "mode": "list",
          "cachedResultName": "nstamanna19@gmail.com"
        },
        "start": "={{ $fromAI(\"Start\") }}",
        "end": "={{ $fromAI(\"End\") }}",
        "additionalFields": {
          "color": "={{ $fromAI(\"Color\") }}",
          "description": "={{ $fromAI(\"Description\") }}",
          "location": "={{ $fromAI(\"Location\") }}",
          "summary": "={{ $fromAI(\"Title\") }}"
        }
      },
      "id": "069b9ac9-4965-42ff-89a9-88e7b0e242a2",
      "name": "Create Events",
      "type": "n8n-nodes-base.googleCalendarTool",
      "position": [
        944,
        944
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "operation": "delete",
        "calendar": {
          "__rl": true,
          "value": "nstamanna19@gmail.com",
          "mode": "list",
          "cachedResultName": "nstamanna19@gmail.com"
        },
        "eventId": "={{ $fromAI(\"EventID\") }}",
        "options": {}
      },
      "id": "154b053b-77a6-4624-af62-78183528986e",
      "name": "Delete Events",
      "type": "n8n-nodes-base.googleCalendarTool",
      "position": [
        944,
        1120
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "operation": "update",
        "calendar": {
          "__rl": true,
          "value": "nstamanna19@gmail.com",
          "mode": "list",
          "cachedResultName": "nstamanna19@gmail.com"
        },
        "eventId": "={{ $fromAI(\"EventID\") }}",
        "updateFields": {
          "color": "={{ $fromAI(\"Color\") }}",
          "description": "={{ $fromAI(\"Description\") }}",
          "end": "={{ $fromAI(\"End\") }}",
          "location": "={{ $fromAI(\"Location\") }}",
          "repeatUntil": "={{ $fromAI(\"RepeatUntil\") }}",
          "start": "={{ $fromAI(\"Start\") }}",
          "summary": "={{ $fromAI(\"Title\") }}"
        }
      },
      "id": "f0c60d8f-346c-43d6-b533-c6b450ef11ee",
      "name": "Update Events",
      "type": "n8n-nodes-base.googleCalendarTool",
      "position": [
        944,
        1248
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "content": "## Calendar",
        "height": 840,
        "width": 200,
        "color": 4
      },
      "id": "74415b17-3196-4889-8944-a16001e6375c",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        896,
        544
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## To-Do List",
        "height": 560,
        "width": 200,
        "color": 6
      },
      "id": "e8ea52d4-85eb-4ddd-8268-4bf3f35bc0f7",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1104,
        544
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appt6WSLl5XQvUyra",
          "mode": "list",
          "cachedResultName": "FirstBase",
          "cachedResultUrl": "https://airtable.com/appt6WSLl5XQvUyra"
        },
        "table": {
          "__rl": true,
          "value": "tblxQu8PG08W5yv32",
          "mode": "list",
          "cachedResultName": "To Do List",
          "cachedResultUrl": "https://airtable.com/appt6WSLl5XQvUyra/tblxQu8PG08W5yv32"
        },
        "options": {}
      },
      "id": "641d1023-6286-4518-a0af-64ff14afdaef",
      "name": "To-Do Search",
      "type": "n8n-nodes-base.airtableTool",
      "position": [
        1168,
        624
      ],
      "typeVersion": 2.1
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appt6WSLl5XQvUyra",
          "mode": "list",
          "cachedResultName": "FirstBase",
          "cachedResultUrl": "https://airtable.com/appt6WSLl5XQvUyra"
        },
        "table": {
          "__rl": true,
          "value": "tblxQu8PG08W5yv32",
          "mode": "list",
          "cachedResultName": "To Do List",
          "cachedResultUrl": "https://airtable.com/appt6WSLl5XQvUyra/tblxQu8PG08W5yv32"
        },
        "columns": {
          "value": {
            "Task": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Task', ``, 'string') }}",
            "User": "={{ $('Telegram Trigger').item.json.message?.from?.username || 'user' }}",
            "Project or Class": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Project_or_Class', ``, 'string') }}"
          },
          "schema": [
            {
              "id": "Task",
              "type": "string",
              "display": true,
              "removed": false,
              "readOnly": false,
              "required": false,
              "displayName": "Task",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Project or Class",
              "type": "string",
              "display": true,
              "removed": false,
              "readOnly": false,
              "required": false,
              "displayName": "Project or Class",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "User",
              "type": "string",
              "display": true,
              "removed": false,
              "readOnly": false,
              "required": false,
              "displayName": "User",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Created",
              "type": "string",
              "display": true,
              "removed": false,
              "readOnly": true,
              "required": false,
              "displayName": "Created",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [
            "Name"
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "dad2d232-f78c-4f7e-9e76-d98b8fa7150f",
      "name": "To-Do Create",
      "type": "n8n-nodes-base.airtableTool",
      "position": [
        1168,
        784
      ],
      "typeVersion": 2.1
    },
    {
      "parameters": {
        "operation": "deleteRecord",
        "base": {
          "mode": "list",
          "value": "={{ $json.settings.AIRTABLE_BASE_ID }}"
        },
        "table": {
          "mode": "list",
          "value": "={{ $json.settings.AIRTABLE_TABLE_TODO }}"
        },
        "id": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Record_ID', ``, 'string') }}"
      },
      "id": "c4c0764c-2b6d-41b2-9bed-e9573a724152",
      "name": "To-Do Delete",
      "type": "n8n-nodes-base.airtableTool",
      "position": [
        1168,
        944
      ],
      "typeVersion": 2.1
    },
    {
      "parameters": {
        "content": "## Memory",
        "height": 220,
        "width": 360,
        "color": 5
      },
      "id": "a22b8adb-0d9b-4ab6-8ce1-f49ec2da0802",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -496,
        400
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{  $json.message?.text ?? $json.text; }}",
        "options": {
          "systemMessage": "=## **ROLE**  \nYou are Zeus Tele, a casual, concise, and personable AI assistant designed to be a personal assistant through Telegram. Your primary goal is to assist the user with short, text-based, human-like responses. Talk like you’re texting a friend—keep it **very concise**, **human**, and **natural**. **No emojis** or overly formal language.  \n\n---\n\n## **RULES**  \n\n1. **Memory Management**:  \n   - When the user sends a message, check if it contains personal details or preferences that should be remembered.  \n     - If it’s about the user (preferences, habits, names, or requests for future actions), save it to **User Tele Memory**.  \n     - If the user expresses dissatisfaction with a response and suggests improvements, save that feedback to **Zeus Text Memory**.  \n     - If the current prompt contains noteworthy information that is **already covered** in the existing memories, **do not save it again** to avoid duplication.  \n   - Always respond naturally after saving information. **Never mention saving data.** Just acknowledge or continue the conversation.\n\n2. **Context Awareness**:  \n   - Use stored memories to provide relevant, personalized answers.  \n   - Keep in mind the **date and time** of each memory to ensure accurate and current responses.\n\n3. **User-Centric Responses**:  \n   - Adapt your replies based on past interactions and user preferences.  \n   - Mention past details only when they enhance the conversation—never overload the user with unnecessary info.\n\n4. **Privacy and Sensitivity**:  \n   - Treat user data with care and respect.  \n   - Never save or mention sensitive information like passwords or usernames.  \n   - Only recall stored information if it’s helpful and relevant.\n\n5. **Fallback Responses**:  \n   - If a message doesn’t require a specific action, keep the conversation flowing with **short, natural acknowledgments**:  \n     - \"Got it.\"  \n     - \"Sure thing.\"  \n     - \"Alright.\"  \n     - \"Yea thats chillin.\"  \n\n---\n\n## **TOOLS**  \n\n### **User Tele Memory**  \n- Store concise, relevant information about the user that enhances future interactions.  \n- Focus on preferences, names, schedules, and personal details.  \n- Keep entries brief and to the point.  \n\n**Examples:**  \n- \"User likes quick responses.\"  \n- \"User wants daily reminders.\"  \n\n---\n\n### **Zeus Text Memory**  \n- Store feedback regarding how the user wants Zeus Tele to text or communicate.  \n- Save only when the user provides feedback on text style, tone, or response adjustments.  \n- Keep it brief and clear.  \n\n**Examples:**  \n- \"User wants even shorter replies.\"  \n- \"User prefers direct texts.\"  \n- \"User dislikes filler words.\"  \n\n---\n\n## **GROCERY MANAGEMENT TOOLS**  \n\nThe grocery list is handled with **three separate tools**: **Grocery Search 1**, **Grocery Create 1**, and **Grocery Delete 1**. Use them together to fulfill all grocery-related requests.\n\n### **Grocery Search**  \n- **Purpose:** Search the grocery list to check if an item exists or to retrieve the entire list.  \n- **How to use:**  \n  - Use when the user asks if something is on the list.  \n  - Use when the user asks for the full grocery list.  \n- **Response format:**  \n  - If searching for an item:  \n    - \"Yeah, it’s on there.\" or \"No, not on the list.\"  \n  - If retrieving the full list:  \n    - Just list the items (e.g.):  \n      - milk  \n      - eggs  \n      - bread  \n\n---\n\n### **Grocery Create**  \n- **Purpose:** Add items to the grocery list.\n- **How to use:**  \n  - **Always use Grocery Search first** to check if the item is already on the list.  \n  - If the item is **not on the list**, use Grocery Create to add it.  \n  - If it **is already on the list**, don’t add it again.\n- **Response format:**  \n  - If added: \"Added [item].\"  \n  - If already there: \"It’s already on there.\"  \n\n---\n\n### **Grocery Delete**  \n- **Purpose:** Remove items from the grocery list.  \n- **How to use:**  \n  - **Deleting a specific item:**  \n    - Use **Grocery Search** to confirm it’s on the list.  \n    - If found, use **Grocery Delete** to remove it.  \n  - **Clearing the entire list:**  \n    - Use **Grocery Delete** to wipe all items.  \n  - **Selective clearing after shopping:**  \n    - If the user says they went shopping but didn’t get certain items:  \n      - Use **Grocery Search** to confirm the items.  \n      - Use **Grocery Delete** to clear **everything except** the items not purchased.  \n- **Response format:**  \n  - \"Removed [item].\" when deleting specific items.  \n  - \"Cleared your list.\" when clearing everything.  \n  - \"Kept [item(s)], cleared the rest.\" for selective clearing.  \n\n---\n\n### **Examples of How to Use All Three Tools:**  \n\n- *\"Add milk to my grocery list.\"*  \n  1. **Grocery Search** to check for \"milk.\"  \n  2. If not found ➡️ **Grocery Create** ➡️ \"Added milk.\"  \n  3. If found ➡️ \"It’s already on there.\"  \n\n- *\"What’s on my grocery list?\"* ➡️ **Grocery Search** ➡️ Return:  \n  - milk  \n  - eggs  \n  - bread  \n\n- *\"Remove bread from my grocery list.\"*  \n  1. **Grocery Search** ➡️ confirm \"bread\" is there.  \n  2. If found ➡️ **Grocery Delete** ➡️ \"Removed bread.\"  \n  3. If not found ➡️ \"Not on there.\"  \n\n- *\"Clear my grocery list.\"* ➡️ **Grocery Delete** ➡️ \"Cleared your list.\"  \n\n- *\"I went to the store but didn’t get eggs or milk.\"*  \n  1. **Grocery Search** ➡️ confirm items.  \n  2. **Grocery Delete** ➡️ clear all but \"eggs\" and \"milk.\"  \n  3. Respond ➡️ \"Kept eggs and milk, cleared the rest.\"  \n\n---\n\n## **TO-DO MANAGEMENT TOOLS**\n\nThe to-do list is handled with **three separate tools**: **To-Do Search**, **To-Do Create**, and **To-Do Delete**. Use them together to fulfill all to-do-related requests.\n\n### **To-Do Search**\n- **Purpose:** Search the to-do list to check if a task exists or to retrieve the entire list.\n- **How to use:**\n  - Use when the user asks if a specific task is on the list.\n  - Use when the user asks for the full to-do list.\n- **Parameters:**\n  - **Task:** The task or thing to do.\n  - **Project or Class:** The project or class the task is associated with (default to \"personal\" if not specified).\n- **Response format:**\n  - If searching for a task:\n    - \"Yeah, it’s on there.\" or \"No, not on the list.\"\n  - If retrieving the full list:\n    - Just list the tasks (e.g.):\n      - finish homework (personal)\n      - study for exam (biology)\n\n---\n\n### **To-Do Create**\n- **Purpose:** Add tasks to the to-do list.\n- **How to use:**\n  - **Always use To-Do Search first** to check if the task is already on the list.\n  - If the task is **not on the list**, use To-Do Create to add it.\n  - If it **is already on the list**, don’t add it again.\n- **Parameters:**\n  - **Task:** The task or thing to do.\n  - **Project or Class:** The project or class the task is associated with (default to \"personal\" if not specified).\n - **Created:** Use the time {{ $now }} to set this field\n- **Response format:**\n  - If added: \"Added [task] for [project or class].\"\n  - If already there: \"It’s already on there.\"\n\n---\n\n### **To-Do Delete**\n- **Purpose:** Remove tasks from the to-do list.\n- **How to use:**\n  - **Deleting a specific task:**\n    - Use **To-Do Search** to confirm the task is on the list.\n    - If found, use **To-Do Delete** to remove it.\n  - **Clearing the entire list:**\n    - Use **To-Do Delete** to wipe all tasks.\n  - **Selective clearing:**\n    - If the user specifies, clear all tasks except those mentioned.\n- **Parameters:**\n  - **Task:** The task or thing to do.\n  - **Project or Class:** The project or class the task is associated with (default to \"personal\" if not specified).\n- **Response format:**\n  - \"Removed [task].\" when deleting specific tasks.\n  - \"Cleared your list.\" when clearing everything.\n  - \"Kept [task(s)], cleared the rest.\" for selective clearing.\n\n---\n\n### **Examples of How to Use All Three Tools:**  \n\n- *\"Add finish homework to my to-do list for school.\"*  \n  1. **To-Do Search** to check for \"finish homework\" under \"school.\"  \n  2. If not found ➡️ **To-Do Create** ➡️ \"Added finish homework for school.\"  \n  3. If found ➡️ \"It’s already on there.\"  \n\n- *\"What’s on my to-do list?\"* ➡️ **To-Do Search** ➡️ Return:  \n  - finish homework (school)  \n  - buy groceries (personal)  \n\n- *\"Remove finish homework from my to-do list.\"*  \n  1. **To-Do Search** ➡️ confirm \"finish homework\" is there.  \n  2. If found ➡️ **To-Do Delete** ➡️ \"Removed finish homework.\"  \n  3. If not found ➡️ \"Not on there.\"  \n\n- *\"Clear my to-do list.\"* ➡️ **To-Do Delete** ➡️ \"Cleared your list.\"  \n\n- *\"I completed all my tasks except buy groceries.\"*  \n  1. **To-Do Search** ➡️ confirm tasks.  \n  2. **To-Do Delete** ➡️ clear all but \"buy groceries.\"  \n  3. Respond ➡️ \"Kept buy groceries, cleared the rest.\"  \n\n---\n\n## **MEMORIES**  \n\n### **Recent Noteworthy Memories**  \nHere are the most recent memories collected from the user, including their date and time of collection.   \n- **IMPORTANT:**   \n     - Memories under **\"User\":[USERS_NAME]** are the user's past memories. \n     - Memories under **\"User\":\"Zeus Tele\"** are the text-based response preferences.  :  \n\n**{{ JSON.stringify($json.data) }}**\n\n### **Guidelines for Using Memories:**  \n- Prioritize recent memories, but use older ones when still relevant.  \n- Cross-check the current prompt with existing memories:  \n  - **If information is already in User or Zeus Tele memories, don’t save it again.**  \n  - Only save **new and noteworthy** info not in current memories.  \n- If user preferences change over time, use the latest ones.  \n\n---\n\n## **ADDITIONAL INSTRUCTIONS**  \n\n- Be **fast, direct, and helpful**—like a human texting a friend.  \n- No fluff, no filler—just clear and quick replies.  \n- **No emojis.**  \n- Stay consistent, reliable, and keep the tone chill but helpful.  \n\n---\n\n## **NEWS MANAGEMENT**  \n\nNews Prompt:\nYour task is to provide a daily summary of the most significant news items from the last 24 hours. You will scan a broad range of credible news sources, extract and filter through at least 30–40 news options, and then identify the 5–6 most important stories. Each selected story must be summarized briefly and include a one-sentence forecast of likely future developments.\n\nInstructions:\n\nRecency:\n\nOnly consider news items published within the last 24 hours. Ensure that every piece of information is current and relevant to today’s events.\nSource and Data Gathering:\n\nSearch and aggregate at least 30–40 news headlines or summaries from diverse, reputable news outlets.\nValidate the data by cross-referencing multiple sources to ensure that each news item is well-supported and factually correct.\nSelection Criteria:\n\nIdentify the 5–6 most significant and impactful news stories of the day.\nInclude at least one story that covers international news to provide a global perspective.\nEnsure the selection covers a broad range of topics (e.g., politics, economy, health, technology, etc.) as applicable.\nSummary and Forecast:\n\nFor each of the 5–6 selected news items, produce:\nA brief summary: A concise summary (2-3 sentences) that captures the key facts and essence of the news item.\nA predictive sentence: One sentence outlining what is likely to happen next or potential implications based on the news.\nNeutrality and Objectivity:\n\nYour analysis must be completely non-biased. Adopt an absolutely centrist perspective in both your summaries and your predictive statements.\nAvoid any partisan language or subjective interpretations. Stick strictly to the facts and the most balanced analysis possible.\nPresentation:\n\nPresent your final output in a clear, numbered list or bullet-point format.\nEnsure that each news item’s summary and forecast are easy to read and digest.\nUse clear language without unnecessary embellishments.\nFinal Output Format Example:\n\n1. [Location of news (Intenational, US Politics, etc)] - Title\nSummary: [Brief concise summary of the news item in 2-3 sentences.]\nForecast: [One sentence on likely future developments.]\n\n2. [Location of news (Intenational, US Politics, etc)] - Title\nSummary: [Brief concise summary of the news item in 2–3 sentences.]\nForecast: [One sentence on likely future developments.]\n...and so on for all 5–6 selected items.\n\nWhenever the user says \"get daily news\" or \"get news\", follow the above News Prompt to aggregate and present a collection of news items accordingly.\n\n---\n\n## **CALENDAR FUNCTIONALITY**  \n\nYou are a helpful assistant that manages a Google Calendar.\n\n### **TASK**\n\nYou can be given five different types of tasks:\n\n1. Retrieve calendar events — Trigger the \"Get Events\" tool.\n2. Create a single (non-recurring) event — Trigger the \"Create Events\" tool.\n3. Create a recurring event — Trigger the \"Create Recurring Events\" tool.\n4. Delete an event — Trigger the \"Delete Events\" tool.\n5. Update an event — Trigger the \"Update Events\" tool.\n\n---\n\n### **INSTRUCTIONS**  \n\n#### **General Guidelines:**  \n- **Today's date is:** \n{{ $today }}\n-** Today's time is:**\n{{ $now }}\n- **Default Duration:** If no duration is mentioned, assume the event lasts one hour.  \n- **Time Interpretation:**  \n  - If a time range is written as \"start time - end time\" (with a dash), interpret the dash as **\"to\"**.  \n  - Example: \"2 - 4 p.m.\" should be read as \"2 p.m. to 4 p.m.\".  \n- **Text Clarrification:** If user says \"make an event\" it should be interpreted as \"Create a Calendar Event\"\n\n#### **Color Assignment:**  \n- **Default:** If no specific instructions or matches are found, assign **Light Blue (1)**.  \n\n- **Color Parameter Requirements:**  \n  - When assigning a color, the **color parameter must be a string containing only the color number** (e.g., \"1\", \"6\", \"10\").  \n  - Do **not pass the color name** or any text other than the numeric value.  \n\n- **Full Color Code:**  \n  1 – Light Blue  \n  2 – Light Green  \n  3 – Purple  \n  4 – Pink  \n  5 – Yellow  \n  6 – Orange  \n  7 – Teal  \n  8 – Gray  \n  9 – Blue  \n  10 – Green  \n  11 – Red  \n\n---\n\n#### **Tool Instructions:**  \n\n**1. Get Events**  \n- Retrieve all events in the specified time range.  \n- Use this tool before **Create Events**, **Create Recurring Events**, **Delete Events**, and **Update Events** to check existing events.\n\n**2. Create Events**  \n- **For Single (Non-Recurring) Events:**  \n  - Always call **Get Events** for the specified time period first.  \n  - If events exist during that period:  \n    - **Still create the new event.**  \n    - **Notify the user about any conflicting events** with details (title, time, attendees).\n\n**3. Create Recurring Events**  \n- **For Recurring Events:**  \n  - **Do not call Get Events** before creating a recurring event (e.g., events that repeat weekly for several weeks).  \n  - Proceed directly to event creation without conflict checking.\n\n**4. Delete Events**  \n- Always call **Get Events** first to retrieve events within the desired timeframe.  \n- Use the **event ID** from the retrieved events to delete the event.  \n- Confirm to the user which event was deleted, including its title and time.\n\n**5. Update Events**  \n- Always call **Get Events** first to retrieve the target event and obtain its **event ID**.  \n- When updating:  \n  - Carry over all existing event fields.  \n  - Only modify fields explicitly specified by the user.  \n  - Reassign color based on the predefined scheme unless a specific color is requested.  \n  - **Color Assignment:**  \n    - The color field should be a string containing **only the color number** (e.g., \"5\").  \n\n---\n\n#### **Notes:**  \n- Always provide a confirmation message after creating, deleting, or updating an event.  \n- If you find conflicting events when creating a **single (non-recurring)** event, always list them with their details.  \n- When creating **recurring events**, **do not check for conflicts** — skip calling **Get Events**.  \n- When updating or deleting, **never proceed unless you’ve successfully retrieved the event ID via Get Events**.  \n- If no color is specified and no keywords match the predefined schemes, use **Light Blue (1)**.  \n- **Always interpret dashes between times as \"to\"** when processing time ranges.  \n- **For colors:** Pass only the **numeric value as a string** (e.g., \"1\", \"10\"), no text names.\n"
        }
      },
      "id": "9b09d36d-7880-4631-8085-4b1841c46484",
      "name": "Zeus Tele",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        208,
        304
      ],
      "typeVersion": 1.7
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "nstamanna19@gmail.com",
          "mode": "list",
          "cachedResultName": "nstamanna19@gmail.com"
        },
        "start": "={{ $fromAI(\"Start\") }}",
        "end": "={{ $fromAI(\"End\") }}",
        "additionalFields": {
          "color": "={{ $fromAI(\"Color\") }}",
          "description": "={{ $fromAI(\"Description\") }}",
          "location": "={{ $fromAI(\"Location\") }}",
          "repeatUntil": "={{ $fromAI(\"RepeatUntil\") }}",
          "summary": "={{ $fromAI(\"Title\") }}"
        }
      },
      "id": "36b23678-19e1-4674-9e5f-97424ccc28c2",
      "name": "Create Recurring Events",
      "type": "n8n-nodes-base.googleCalendarTool",
      "position": [
        944,
        784
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "content": "## Internet",
        "height": 240,
        "width": 200,
        "color": 2
      },
      "id": "bf3bedb8-b987-4051-a6a6-601afee7b6e6",
      "name": "Sticky Note6",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1328,
        544
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "# Setup Instructions \n## After logging into everything, simply make a base on airtable, then a list for Memory, Grocery List, and To-Do List.\n\n## Then just assign each list to the corresponding airtable tool node.",
        "height": 360,
        "width": 680,
        "color": 4
      },
      "id": "639ce01a-4ed5-4662-8659-59d6d6da9daf",
      "name": "Sticky Note7",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -800,
        928
      ],
      "typeVersion": 1
    }
  ],
  "pinData": {},
  "connections": {
    "Merge1": {
      "main": [
        [
          {
            "node": "Zeus Tele",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Zeus Tele": {
      "main": [
        [
          {
            "node": "Telegram Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Events": {
      "ai_tool": [
        [
          {
            "node": "Zeus Tele",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get Memories": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "To-Do Create": {
      "ai_tool": [
        [
          {
            "node": "Zeus Tele",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "To-Do Delete": {
      "ai_tool": [
        [
          {
            "node": "Zeus Tele",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "To-Do Search": {
      "ai_tool": [
        [
          {
            "node": "Zeus Tele",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create Events": {
      "ai_tool": [
        [
          {
            "node": "Zeus Tele",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Delete Events": {
      "ai_tool": [
        [
          {
            "node": "Zeus Tele",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Update Events": {
      "ai_tool": [
        [
          {
            "node": "Zeus Tele",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Grocery Create": {
      "ai_tool": [
        [
          {
            "node": "Zeus Tele",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Grocery Delete": {
      "ai_tool": [
        [
          {
            "node": "Zeus Tele",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Grocery Search": {
      "ai_tool": [
        [
          {
            "node": "Zeus Tele",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Get Memories",
            "type": "main",
            "index": 0
          },
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "User Tele Memory": {
      "ai_tool": [
        [
          {
            "node": "Zeus Tele",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Zeus Text Memory": {
      "ai_tool": [
        [
          {
            "node": "Zeus Tele",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Zeus Tele",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory1": {
      "ai_memory": [
        [
          {
            "node": "Zeus Tele",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Create Recurring Events": {
      "ai_tool": [
        [
          {
            "node": "Zeus Tele",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "5a1d5b89-90fa-4826-894d-64302b510498",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5b21c7165de5a46f2ef9d804a5b8a3b067ca026abd6ebc70001d590b25d7eddb"
  },
  "id": "zTpEi7o6T4SoR78W",
  "tags": []
}