AI_agents_for_internal_operations/Automate Customer Support Issue Resolution using AI Text Classifier.json
{
  "name": "Automate Customer Support Issue Resolution using AI Text Classifier",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "id": "bd0cfd50-503b-49f1-95fc-d03e1ed3bcf3",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        -496,
        848
      ],
      "typeVersion": 1,
      "credentials": {
        "openAiApi": {
          "id": "2I6nkGXnPJR1so01",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "b1900cc5-1710-4cd7-878e-aaa9e2983b5a",
      "name": "OpenAI Chat Model1",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        64,
        1248
      ],
      "typeVersion": 1,
      "credentials": {
        "openAiApi": {
          "id": "2I6nkGXnPJR1so01",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "0e87e865-2513-48cb-8fb1-d025fda7a6fa",
      "name": "OpenAI Chat Model3",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        1200,
        752
      ],
      "typeVersion": 1,
      "credentials": {
        "openAiApi": {
          "id": "2I6nkGXnPJR1so01",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "f281bc19-a578-44c3-b3d9-7f61b22a3f2d",
      "name": "OpenAI Chat Model4",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        80,
        624
      ],
      "typeVersion": 1,
      "credentials": {
        "openAiApi": {
          "id": "2I6nkGXnPJR1so01",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "id": "fefc2bb2-d7cc-429b-86f1-e715948ea765",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        -2080,
        640
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "operation": "update",
        "issueKey": "={{ $('Get Issue Metadata').first().json.key }}\n",
        "updateFields": {
          "statusId": {
            "__rl": true,
            "mode": "list",
            "value": "31",
            "cachedResultName": "Done"
          }
        }
      },
      "id": "6449e0ac-3e28-491d-9c5b-9346b100a9b9",
      "name": "Close Issue",
      "type": "n8n-nodes-base.jira",
      "position": [
        688,
        80
      ],
      "typeVersion": 1,
      "credentials": {
        "jiraSoftwareCloudApi": {
          "id": "L87cZbOCpGncCiie",
          "name": "Jira SW Cloud account"
        }
      }
    },
    {
      "parameters": {
        "resource": "issueComment",
        "issueKey": "={{ $('Get Issue Metadata').item.json.key }}",
        "comment": "={{ $json.text }}\n(this is an automated message)",
        "options": {}
      },
      "id": "4ebb3606-072a-427a-ab8b-a35bc2bc9fa9",
      "name": "Send Reminder",
      "type": "n8n-nodes-base.jira",
      "position": [
        1520,
        608
      ],
      "typeVersion": 1,
      "credentials": {
        "jiraSoftwareCloudApi": {
          "id": "L87cZbOCpGncCiie",
          "name": "Jira SW Cloud account"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "id": "2db5830c-1f22-48cd-b802-42fbb1cf3a47",
      "name": "Join Comments",
      "type": "n8n-nodes-base.aggregate",
      "position": [
        -1056,
        640
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "resource": "issueComment",
        "issueKey": "={{ $('Get Issue Metadata').first().json.key }}\n",
        "comment": "=Autoclosing due to inactivity. Please create a new ticket if you require additional support. Thank you!\n(this is an automated message)",
        "options": {}
      },
      "id": "8a7ba589-d79d-46cf-8772-e25c5a4e5e3a",
      "name": "Add Autoclose Message",
      "type": "n8n-nodes-base.jira",
      "position": [
        480,
        272
      ],
      "typeVersion": 1,
      "credentials": {
        "jiraSoftwareCloudApi": {
          "id": "L87cZbOCpGncCiie",
          "name": "Jira SW Cloud account"
        }
      }
    },
    {
      "parameters": {
        "resource": "issueComment",
        "issueKey": "={{ $('Get Issue Metadata').item.json.key }}",
        "comment": "=[~accountid:{{ $('Get Issue Metadata').item.json.reporter_accountId }}]\n\nWe think the issue is resolved so we're autoclosing it. If you've been satisified with our service, please leave us a 5 start review here: [link](link/to/review_site)\n\nPlease feel free to create another ticket if you need further assistance.\n(this is an automated message)",
        "options": {}
      },
      "id": "817d330f-a2dc-4ab7-b24d-d0385dafe4ee",
      "name": "Ask For Feedback Message",
      "type": "n8n-nodes-base.jira",
      "position": [
        480,
        80
      ],
      "typeVersion": 1,
      "credentials": {
        "jiraSoftwareCloudApi": {
          "id": "L87cZbOCpGncCiie",
          "name": "Jira SW Cloud account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f65c5971-c90d-47f2-823f-37fd03d8e9c7",
              "name": "thread",
              "type": "array",
              "value": "={{\n$json.data.map(comment => {\n  const { accountId, displayName } = comment.author;\n\n  const message = comment.body.content.map(item =>\n    `<${item.type}>${item.content\n      .filter(c => c.text || c.content)\n      .map(c => c.content\n        ? c.content\n            .filter(cc => c.text || c.content)\n            .map(cc => cc.text)\n            .join(' ')\n        : c.text\n      )}</${item.type}>`\n  ).join('');\n  return `${displayName} (accountId: ${accountId}) says: ${message}`;\n})\n\n}}"
            },
            {
              "id": "7b98b2db-3417-472f-bea2-a7aebe30184c",
              "name": "topic",
              "type": "string",
              "value": "={{\n[\n  `title: ${$('Get Issue Metadata').first().json.title}`,\n  `original message: ${$('Get Issue Metadata').first().json.description.replaceAll(/\\n/g, ' ')}`,\n  `reported by: ${$('Get Issue Metadata').first().json.reporter}`\n].join('\\n')\n}}\n"
            }
          ]
        },
        "options": {}
      },
      "id": "d5f5224e-fa68-48eb-92fd-f8892855d82b",
      "name": "Simplify Thread For AI",
      "type": "n8n-nodes-base.set",
      "position": [
        -880,
        640
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "0e71783b-3072-421a-852c-58940d0dd7cd",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              },
              "leftValue": "={{ $json.output.solution_found }}",
              "rightValue": ""
            }
          ]
        },
        "options": {}
      },
      "id": "b7166279-c3a5-4f81-b214-6961fb88f911",
      "name": "Solution Found?",
      "type": "n8n-nodes-base.if",
      "position": [
        464,
        1040
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "resource": "issueComment",
        "issueKey": "={{ $('Get Issue Metadata').first().json.key }}\n",
        "comment": "=Hey there!\n{{ $('KnowledgeBase Agent').item.json.output.response }}\nWe'll close this issue now but feel free to create a new one if needed.\n(this is an automated message)",
        "options": {}
      },
      "id": "601295ae-ab82-4e02-b785-5f7b5e2f8d38",
      "name": "Reply to Issue",
      "type": "n8n-nodes-base.jira",
      "position": [
        784,
        1040
      ],
      "typeVersion": 1,
      "credentials": {
        "jiraSoftwareCloudApi": {
          "id": "L87cZbOCpGncCiie",
          "name": "Jira SW Cloud account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "6e07d5dc-01b2-4735-8fc1-983fc57dfaaf",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              },
              "leftValue": "={{ !$('Simplify Thread For AI').item.json.thread.last().includes('this is an automated message') }}",
              "rightValue": ""
            }
          ]
        },
        "options": {}
      },
      "id": "4e1087a5-a692-4719-a4d9-87b5de01a1d4",
      "name": "Last Message is Not Bot",
      "type": "n8n-nodes-base.if",
      "position": [
        1024,
        608
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n\t\"type\": \"object\",\n\t\"properties\": {\n\t\t\"solution_found\": {\n\t\t\t\"type\": \"boolean\"\n\t\t},\n        \"short_summary_of_issue\": {\n          \"type\": \"string\"\n        },\n\t\t\"response\": {\n\t\t\t\"type\": \"string\"\n\t\t}\n\t}\n}"
      },
      "id": "7582ae3b-12b0-4fb5-8ad6-fa0daea056b5",
      "name": "Structured Output Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "position": [
        432,
        1248
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "200706ea-6936-48ae-a46c-38d6e2eff558",
              "name": "key",
              "type": "string",
              "value": "={{ $json.key }}"
            },
            {
              "id": "3e3584bf-dc5c-408a-896c-1660710860f6",
              "name": "title",
              "type": "string",
              "value": "={{ $json.fields.summary }}"
            },
            {
              "id": "e1d89014-5e07-4752-9e7c-ae8d4cba6f6e",
              "name": "url",
              "type": "string",
              "value": "={{\n[\n  'https:/',\n  $json.self.extractDomain(),\n    'browse',\n    $json.key\n  ].join('/')\n}}"
            },
            {
              "id": "df1cca88-1c57-475d-968e-999f6c25dba7",
              "name": "date",
              "type": "string",
              "value": "={{ DateTime.fromISO($json.fields.created).format('yyyy-MM-dd') }}"
            },
            {
              "id": "7fc9c625-e741-43bb-9223-b8024fc86cc7",
              "name": "reporter",
              "type": "string",
              "value": "={{ $json.fields.reporter.displayName }}"
            },
            {
              "id": "17bf06ae-fcad-4eb3-add8-11ac85e9a68e",
              "name": "reporter_url",
              "type": "string",
              "value": "={{\n[\n  'https:/',\n  $json.fields.reporter.self.extractDomain(),\n    'jira',\n    'people',\n    $json.fields.reporter.accountId\n  ].join('/')\n}}"
            },
            {
              "id": "7624642f-f76b-41ec-b402-280b64d46400",
              "name": "reporter_accountId",
              "type": "string",
              "value": "={{ $json.fields.reporter.accountId }}"
            },
            {
              "id": "0fa1d73f-4e8b-435b-a78d-37e95c85c87c",
              "name": "description",
              "type": "string",
              "value": "={{ $json.fields.description }}"
            }
          ]
        },
        "options": {}
      },
      "id": "1727f5ad-f7f1-46f8-8dc6-fe9a4f816581",
      "name": "Get Issue Metadata",
      "type": "n8n-nodes-base.set",
      "position": [
        -1408,
        640
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C09E9H19BC3",
          "mode": "list",
          "cachedResultName": "testn8n"
        },
        "messageType": "block",
        "blocksUi": "={\n  \"blocks\": [\n    {\n      \"type\": \"section\",\n      \"text\": {\n        \"type\": \"mrkdwn\",\n        \"text\": \"Hey there 👋\\nI found a zombie ticket that no one has taken a look at yet.\"\n      }\n    },\n    {\n      \"type\": \"section\",\n      \"text\": {\n        \"type\": \"mrkdwn\",\n        \"text\": \"*[{{ $('Get Issue Metadata').first().json.key }}] {{ $('Get Issue Metadata').first().json.title }}*\\n{{ $('KnowledgeBase Agent').first().item.json.output.short_summary_of_issue }}\\n👤 <{{ $('Get Issue Metadata').first().json.reporter_url }}|{{ $('Get Issue Metadata').first().json.reporter }}>\\n📅 {{ $('Get Issue Metadata').first().json.date }} 🔗 <{{ $('Get Issue Metadata').first().json.url }}|Link to Issue>\"\n      }\n    },\n    {\n      \"type\": \"divider\"\n    },\n    {\n      \"type\": \"section\",\n      \"text\": {\n        \"type\": \"mrkdwn\",\n        \"text\": \"I couldn't find an answer in the knowledgebase for this issue. The user has been notified, and the ticket has been closed. Please take a look and follow up with them if needed. Thanks!\"\n      }\n    }\n  ]\n}\n",
        "otherOptions": {}
      },
      "id": "4b841bd0-185d-4ec0-801d-86dbf3198759",
      "name": "Notify Slack Channel",
      "type": "n8n-nodes-base.slack",
      "position": [
        624,
        1200
      ],
      "typeVersion": 2.2,
      "webhookId": "fcc295fc-6356-4917-8667-babaacf78540",
      "credentials": {
        "slackOAuth2Api": {
          "id": "zCKCAUrhIfr8xFO8",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "issueKey": "={{ $('Get Issue Metadata').first().json.key }}\n",
        "updateFields": {
          "statusId": {
            "__rl": true,
            "mode": "list",
            "value": "31",
            "cachedResultName": "Done"
          }
        }
      },
      "id": "c0875dc7-f689-47a3-bad6-29e9b304705f",
      "name": "Close Issue2",
      "type": "n8n-nodes-base.jira",
      "position": [
        944,
        1040
      ],
      "typeVersion": 1,
      "credentials": {
        "jiraSoftwareCloudApi": {
          "id": "L87cZbOCpGncCiie",
          "name": "Jira SW Cloud account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "limit": 10,
        "options": {
          "jql": "status IN (\"To Do\", \"In Progress\", \"Resolved\")"
        }
      },
      "id": "32268a27-2df2-432b-aa07-9ef49bcdc185",
      "name": "Get List of Unresolved Long Lived Issues",
      "type": "n8n-nodes-base.jira",
      "position": [
        -1872,
        640
      ],
      "typeVersion": 1,
      "credentials": {
        "jiraSoftwareCloudApi": {
          "id": "L87cZbOCpGncCiie",
          "name": "Jira SW Cloud account"
        }
      }
    },
    {
      "parameters": {
        "content": "## 1. Search For Unresolved Long-lived JIRA Issues\n[Learn more about the JIRA node](https://docs.n8n.io/integrations/builtin/app-nodes/n8n-nodes-base.jira)\n\nIn this demonstration, we'll define \"long-lived\" as any issue which is unresolved after 7 days. Adjust to fit your own criteria.\n\nWe'll also use the Execute Workflow node to run the issues separate in parallel. This is a performance optimisation and if not required, the alternative is to use a loop node instead.",
        "height": 484.114789072283,
        "width": 640.6500163735489,
        "color": 7
      },
      "id": "fa90a60a-1de5-4f1b-b85d-5f5617119273",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2320,
        384
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## 2. Retrieves and Combine JIRA Issue Comments\n[Learn more about the JIRA node](https://docs.n8n.io/integrations/builtin/app-nodes/n8n-nodes-base.jira)\n\nTo provide the necessary information for our AI agents, we'll fetch and combine all the issue's comments along with our issue. This gives a accurate history of the the issues progress (or lack thereof!).",
        "height": 411.91054640922755,
        "width": 956.5422324510927,
        "color": 7
      },
      "id": "4575407d-7a5a-4bef-9a8a-d8dca0aa36ba",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1536,
        480
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## 3. Classify the Current State of the Issue\n[Learn more about the Text Classifier node](https://docs.n8n.io/integrations/builtin/cluster-nodes/root-nodes/n8n-nodes-langchain.text-classifier)\n\nToday's AI/LLMs are well suited for solving contextual problems like determining issue state. Here, we can use the text classifier node to analyse the issue as a whole to determine our next move. Almost like a really, really smart Switch node!\n\nThere are 3 branches we want to take: Check if a resolution was reached, blocked issues and auto-resolving when no team member has yet to respond.",
        "height": 583.0290516595711,
        "width": 653.0761795166852,
        "color": 7
      },
      "id": "bdc1cfd0-fa94-455d-b71f-2575910ce787",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -688,
        448
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## 4. Sentiment Analysis on Issue Resolution\n[Read more about the Sentiment Analysis node](https://docs.n8n.io/integrations/builtin/cluster-nodes/root-nodes/n8n-nodes-langchain.sentimentanalysis)\n\nThe Sentiment Analysis node is a convenient method of assessing\ncustomer satisfaction from resolved issues. Here, when resolution\nis detected as positive, we can ask use the opportunity to\ncapitalise of the favourable experience which in this example,\nis to ask for a review. In the opposite vein, if the exchange has\nbeen negative, we can escalate in an attempt to improve\nthe situation before closing the ticket.\n\nAI can equip teams to provide unrivalled customer support\nwhich can differentiate themselves significantly against\nthe competition.",
        "height": 726.4699654775604,
        "width": 896.1509781357872,
        "color": 7
      },
      "id": "5851beb0-0c78-4f90-800b-d8231a297337",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "inputText": "=issue:\n{{ $('Simplify Thread For AI').item.json.topic }}\n\ncomments:\n{{ $('Simplify Thread For AI').item.json.thread.join('\\n') }}",
        "options": {}
      },
      "id": "f0808456-cc12-4ce2-802a-dcba86c5b450",
      "name": "Customer Satisfaction Agent",
      "type": "@n8n/n8n-nodes-langchain.sentimentAnalysis",
      "position": [
        80,
        432
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## 5. Attempt to Resolve The Issue With KnowledgeBase\n[Read more about the AI Agent node](https://docs.n8n.io/integrations/builtin/cluster-nodes/root-nodes/n8n-nodes-langchain.agent/)\n\nWhen the issue is unaddressed, we can attempt to resolve the issue automatically using AI. Here an AI agent can easily be deployed with\naccess to knowledge tools to research and generate solutions for the user. Since n8n v1.62.1, AI Tools Agents can attach nodes directly as\ntools providing a very easy way to linking documents to the LLM.\n\nHere, we use both the JIRA tool to search for similar issues and the notion tool to query for product pages. If a solution can be generated,\nwe create a new comment with the solution and attach it to the issue. If not, then we can leave a simple message notifying the user that we could not do so. Finally, we close the issue as no further action can likely be taken in this case.",
        "height": 675.5857025907994,
        "width": 1120.504487917144,
        "color": 7
      },
      "id": "604003bc-5e8c-4c8c-931a-c679c1688200",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        768
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=issue:\n{{ $('Simplify Thread For AI').item.json.topic }}\n\ncomments:\n{{ $('Simplify Thread For AI').item.json.thread.join('\\n') }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "Help the user answer their question using the company's knowledgebase. Your answer must be based factually on documents retrieved from the knowledge. If no relevant information is found or the information is insufficent to answer the user's query, you must tell the user so and not mislead the user. If you don't know the answer, it is okay to say you don't know."
        }
      },
      "id": "5dea0ee3-869b-4870-9675-9d60c4f2ab61",
      "name": "KnowledgeBase Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        80,
        1040
      ],
      "typeVersion": 1.6
    },
    {
      "parameters": {
        "content": "## 6. Notify for Unanswered Questions or Response Waiting\n[Read more about the Basic LLM Chain node](https://docs.n8n.io/integrations/builtin/cluster-nodes/root-nodes/n8n-nodes-langchain.chainllm/)\n\nIn this step, where signals indicate that the issue is not yet ready to be close, we can try to re-engage issue participants by summarize the conversation so far and sending a reminder comment for any pending actions that were requested. This action can help reduce the number of issues which linger for too long.",
        "height": 507.581094640126,
        "width": 801.0347525891818,
        "color": 7
      },
      "id": "4a228b83-ebac-400e-a34d-4ade4c3cc3cd",
      "name": "Sticky Note6",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        928,
        400
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=issue:\n{{ $('Simplify Thread For AI').item.json.topic }}\n\ncomments:\n{{ $('Simplify Thread For AI').item.json.thread }}",
        "messages": {
          "messageValues": [
            {
              "message": "=The user has a pending issue and some time has passed since the last update. Analyse the last message in this thread and generate a short reminder message to add to the issue comments which summarizes and reiterates what pending action or information is required. Return only the message."
            }
          ]
        }
      },
      "id": "7cb3266a-fed1-444e-a6ab-9c27797779ea",
      "name": "Issue Reminder Agent",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "position": [
        1200,
        608
      ],
      "typeVersion": 1.4
    },
    {
      "parameters": {
        "content": "## Try It Out!\n\n### This n8n template is designed to assist and improve customer support team member capacity by automating the resolution of long-lived and forgotten JIRA issues.\n\n* Schedule Trigger runs daily to check for long-lived unresolved issues and imports them into the workflow.\n* Each Issue is handled as a separate subworkflow by using an execute workflow node. This allows parallel processing.\n* A report is generated from the issue using its comment history allowing the issue to be classified by AI - determining the state and progress of the issue.\n* If determined to be resolved, sentiment analysis is performed to track customer satisfaction. If negative, a slack message is sent to escalate, otherwise the issue is closed automatically.\n* If no response has been initiated, an AI agent will attempt to search and resolve the issue itself using similar resolved issues or from the notion database. If a solution is found, it is posted to the issue and closed.\n* If the issue is blocked and waiting for responses, then a reminder message is added.\n\n### Need Help?\nJoin the [Discord](https://discord.com/invite/XPKeKXeB7d) or ask in the [Forum](https://community.n8n.io/)!",
        "height": 619.151728428442,
        "width": 454.99286536248565
      },
      "id": "b2742297-71f9-4014-8a15-11832735ff58",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2800,
        272
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Call this tool to search for similar issues in JIRA.",
        "operation": "getAll",
        "limit": 4,
        "options": {
          "jql": "=text ~ \"{{ $fromAI('title', 'the title of the current issue', 'string', '') }}\" AND status IN (\"In Progress\", \"Done\")"
        }
      },
      "id": "71abc563-3cbf-4ddb-b622-ddb1be40026c",
      "name": "Find Simlar Issues",
      "type": "n8n-nodes-base.jiraTool",
      "position": [
        192,
        1248
      ],
      "typeVersion": 1,
      "credentials": {
        "jiraSoftwareCloudApi": {
          "id": "L87cZbOCpGncCiie",
          "name": "Jira SW Cloud account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Search the knowledgebase for information relevant to the issue.",
        "operation": "search",
        "text": "={{ $fromAI('search_terms', 'relevant terms to search for information on the current issue', 'string', '') }}",
        "limit": 4,
        "options": {}
      },
      "id": "54e1cc2e-67e9-4a7c-9464-ab881bf2e388",
      "name": "Query KnowledgeBase",
      "type": "n8n-nodes-base.notionTool",
      "position": [
        304,
        1248
      ],
      "typeVersion": 2.2,
      "credentials": {
        "notionApi": {
          "id": "3lRfYqwyFAwjuGeb",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C09E9H19BC3",
          "mode": "list",
          "cachedResultName": "testn8n"
        },
        "messageType": "block",
        "blocksUi": "={{\n{\n\t\"blocks\": [\n\t\t{\n\t\t\t\"type\": \"section\",\n\t\t\t\"text\": {\n\t\t\t\t\"type\": \"mrkdwn\",\n\t\t\t\t\"text\": \"Hey there 👋\\nI found a unclosed ticket which was resolved but thread overall has a negative sentiment score. Please address or close the ticket.\"\n\t\t\t}\n\t\t},\n\t\t{\n\t\t\t\"type\": \"section\",\n\t\t\t\"text\": {\n\t\t\t\t\"type\": \"mrkdwn\",\n\t\t\t\t\"text\": `*[${$('Get Issue Metadata').first().json.key}]  ${$('Get Issue Metadata').first().json.title}*\\n👤 <${$('Get Issue Metadata').first().json.reporter_url}|${$('Get Issue Metadata').first().json.reporter}> 📅 ${$('Get Issue Metadata').first().json.date} 🔗 <${$('Get Issue Metadata').first().json.url}|Link to Issue>\\n`\n\t\t\t}\n\t\t},\n\t\t{\n\t\t\t\"type\": \"divider\"\n\t\t},\n\t\t{\n\t\t\t\"type\": \"section\",\n\t\t\t\"text\": {\n\t\t\t\t\"type\": \"mrkdwn\",\n\t\t\t\t\"text\": \"Thanks!\"\n\t\t\t}\n\t\t}\n\t]\n}\n}}",
        "text": "=",
        "otherOptions": {}
      },
      "id": "60c6d22e-eb1d-4f03-9886-fd9d335d9e36",
      "name": "Report Unhappy Resolution",
      "type": "n8n-nodes-base.slack",
      "position": [
        688,
        432
      ],
      "typeVersion": 2.2,
      "webhookId": "4bd380a5-0c4f-47b1-be0b-b6a2ddd8d10f",
      "credentials": {
        "slackOAuth2Api": {
          "id": "zCKCAUrhIfr8xFO8",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "inputText": "=issue:\n{{ $('Simplify Thread For AI').item.json.topic }}\n\ncomments:\n{{ $('Simplify Thread For AI').item.json.thread.join('\\n') || 'There are no comments' }}\n\nStatus:{{ $('Get List of Unresolved Long Lived Issues').first().json.fields.status.name }}\n",
        "categories": {
          "categories": [
            {
              "category": "resolved",
              "description": "There are human comments and a resolution was found and/or accepted"
            },
            {
              "category": "still waiting",
              "description": "Reporter is still waiting on a response. Ignoring automated messages, there are no comments."
            },
            {
              "category": "pending more information",
              "description": "There are human comments but no resolution has been reached yet"
            }
          ]
        },
        "options": {}
      },
      "id": "a907e531-a93f-4920-8ce2-9788438cc43b",
      "name": "Classify Current Issue State",
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "position": [
        -496,
        688
      ],
      "executeOnce": false,
      "typeVersion": 1
    },
    {
      "parameters": {
        "resource": "issueComment",
        "operation": "getAll",
        "issueKey": "={{ $json.key }}",
        "options": {}
      },
      "id": "6c5f462e-2c11-4aeb-aa54-0ff2d12625b2",
      "name": "Get Issue Comments",
      "type": "n8n-nodes-base.jira",
      "position": [
        -1232,
        640
      ],
      "typeVersion": 1,
      "credentials": {
        "jiraSoftwareCloudApi": {
          "id": "L87cZbOCpGncCiie",
          "name": "Jira SW Cloud account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Join Comments": {
      "main": [
        [
          {
            "node": "Simplify Thread For AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reply to Issue": {
      "main": [
        [
          {
            "node": "Close Issue2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Solution Found?": {
      "main": [
        [
          {
            "node": "Reply to Issue",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Notify Slack Channel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get List of Unresolved Long Lived Issues",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Classify Current Issue State",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Find Simlar Issues": {
      "ai_tool": [
        [
          {
            "node": "KnowledgeBase Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get Issue Metadata": {
      "main": [
        [
          {
            "node": "Get Issue Comments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "KnowledgeBase Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "Issue Reminder Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model4": {
      "ai_languageModel": [
        [
          {
            "node": "Customer Satisfaction Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "KnowledgeBase Agent": {
      "main": [
        [
          {
            "node": "Solution Found?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query KnowledgeBase": {
      "ai_tool": [
        [
          {
            "node": "KnowledgeBase Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Issue Reminder Agent": {
      "main": [
        [
          {
            "node": "Send Reminder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify Slack Channel": {
      "main": [
        [
          {
            "node": "Reply to Issue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Autoclose Message": {
      "main": [
        [
          {
            "node": "Close Issue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simplify Thread For AI": {
      "main": [
        [
          {
            "node": "Classify Current Issue State",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Last Message is Not Bot": {
      "main": [
        [
          {
            "node": "Issue Reminder Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ask For Feedback Message": {
      "main": [
        [
          {
            "node": "Close Issue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "KnowledgeBase Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Customer Satisfaction Agent": {
      "main": [
        [
          {
            "node": "Ask For Feedback Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Add Autoclose Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Report Unhappy Resolution",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Classify Current Issue State": {
      "main": [
        [
          {
            "node": "Customer Satisfaction Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "KnowledgeBase Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Last Message is Not Bot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get List of Unresolved Long Lived Issues": {
      "main": [
        [
          {
            "node": "Get Issue Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Issue Comments": {
      "main": [
        [
          {
            "node": "Join Comments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "344faa06-c372-4d6c-928a-0821b3cad9c6",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "92897899e43cb5f4ab79bd0f0cc53ff5ed4ac039aacc32039356fda35bcb92c7"
  },
  "id": "kxvfvnfjPZh03xoT",
  "tags": []
}