AI_agents_for_internal_operations/Business Canvas Generator.json
{
  "name": "Business Canvas Generator",
  "nodes": [
    {
      "parameters": {
        "public": true,
        "initialMessages": "Hi there! 👋\nPlease tell me everything about your business, and I will help you create the business canvas.",
        "options": {}
      },
      "id": "4b549bec-6c07-4986-910b-82d6b07c0a39",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "position": [
        -2016,
        -3760
      ],
      "webhookId": "5ac01b33-5538-4c54-b1a1-33ecc9c40a29",
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Act as a strategic business analyst. Based on the idea and goals I give you, list 10 key insights for the \"Key Partners\" section of the Business Model Canvas. Be sure to cover the following questions:\n\n- Who are our key partners?\n- Who are our key suppliers?\n- Which key resources are we acquiring from partners?\n- Which key activities do our partners perform?\n- Motivation for partnerships: Optimization, risk reduction, resource access\n\nFormat your answer as bullet points, separated by a pipe symbol. Write only the points without numbering or explanations or titling, just body bullet points, and each item of bullet points should be less than 10 words, preferably 4-5 words (each of the should be meaningfull.\n\nthe only acceptable output structure is like this:\npoint1 | point2 | point3 ...\n\ndo not include header or title \n\nThis is the goal and idea of the project : \n{{ $json.chatInput }}",
        "options": {}
      },
      "id": "442c859c-cfe3-4056-85d8-1f2a0c0d7f1b",
      "name": "Key Partners Generator",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        -1312,
        -2976
      ],
      "typeVersion": 1.8
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Act as a strategic business analyst. Based on the business idea I gave you, generate 6-7 insights for the \"Key Activities\" section of the Business Model Canvas. Consider the following questions:\n\n- What key activities do our value propositions require?\n- What key activities are needed for our distribution channels?\n- What activities support customer relationships?\n- What activities support our revenue streams?\n\nAlso include examples based on activity type:\n- Production\n- Problem Solving\n- Platform/Network\n\nFormat your answer as bullet points, separated by a pipe symbol. Write only the points without numbering or explanations or titling, just body bullet points, and each item of bullet points should be less than 10 words, preferably 4-5 words (each of the should be meaningfull.\n\nthe only acceptable output structure is like this:\npoint1 | point2 | point3 ...\n\ndo not include header or title, do not use any enter (\\n)\n\nThis is the goal and idea of the project : \n{{ $json.chatInput }}",
        "options": {}
      },
      "id": "63a1edbe-d859-41a7-9cb1-89a07d244d75",
      "name": "Key Activities Generator",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        -1312,
        -2640
      ],
      "typeVersion": 1.8
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You're a value-driven strategist. Based on the provided business idea, write 6-7 concise bullet points that define the \"Value Proposition\" section of the Business Model Canvas. Address these key questions:\n\n- What value do we deliver to the customer?\n- What customer problems are we solving?\n- What bundles of products/services are we offering?\n- What needs are we satisfying?\n\nUse these attributes to shape your ideas:\n- Newness, Performance, Customization, Job completion, Design, Brand/Status\n- Price, Cost reduction, Risk reduction, Accessibility, Convenience\n\nFormat your answer as bullet points, separated by a pipe symbol. Write only the points without numbering or explanations or titling, just body bullet points, and each item of bullet points should be less than 10 words, preferably 4-5 words (each of the should be meaningfull.\n\nthe only acceptable output structure is like this:\npoint1 | point2 | point3 ...\n\ndo not include header or title, do not use any enter (\\n)\n\nThis is the goal and idea of the project : \n{{ $json.chatInput }}",
        "options": {}
      },
      "id": "7864f933-5987-47fe-91a6-a8058e998658",
      "name": "Value Proposition Generator",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        -1312,
        -2336
      ],
      "typeVersion": 1.8
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=As a customer relationship strategist, provide 6-7 key approaches for the \"Customer Relationship\" section of the Business Model Canvas, based on the business idea. Reflect on these questions:\n\n- What type of relationship does each customer segment expect?\n- What relationships have we already established?\n- How are these relationships integrated with the rest of our business model?\n- What is the cost of maintaining these relationships?\n\nYou may use formats like:\n- Personal assistance, Self-service, Automated services, Communities, Co-creation\n\nFormat your answer as bullet points, separated by a pipe symbol. Write only the points without numbering or explanations or titling, just body bullet points, and each item of bullet points should be less than 10 words, preferably 4-5 words (each of the should be meaningfull.\n\nthe only acceptable output structure is like this:\npoint1 | point2 | point3 ...\n\ndo not include header or title, do not use any enter (\\n)\nThis is the goal and idea of the project : \n{{ $json.chatInput }}",
        "options": {}
      },
      "id": "08f9ab48-194b-42a7-bcd2-11315959d151",
      "name": "Customer Relationship Generator",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        -1312,
        -2032
      ],
      "typeVersion": 1.8
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Act as a segmentation expert. Based on the business idea provided, define 6-7 customer segments for the \"Customer Segments\" section of the Business Model Canvas. Make sure your suggestions address:\n\n- For whom are we creating value?\n- Who are our most important customers?\n\nIncorporate examples like:\n- Mass market, Niche market, Segmented, Diversified, Multi-sided platforms\n\nFormat your answer as bullet points, separated by a pipe symbol. Write only the points without numbering or explanations or titling, just body bullet points, and each item of bullet points should be less than 10 words, preferably 4-5 words (each of the should be meaningfull.\n\nthe only acceptable output structure is like this:\npoint1 | point2 | point3 ...\n\ndo not include header or title, do not use any enter (\\n)\n\nThis is the goal and idea of the project : \n{{ $json.chatInput }}",
        "options": {}
      },
      "id": "46c2fbd5-984b-4573-aa83-9a7172bcb8b6",
      "name": "Customer Segments Generator",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        -1312,
        -1744
      ],
      "typeVersion": 1.8
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You're an operational strategist. Based on the business idea, generate 6-7 bullet points for the \"Key Resources\" section of the Business Model Canvas. Answer:\n\n- What key resources does our value proposition require?\n- What resources are needed for our distribution channels, customer relationships, revenue streams?\n\nConsider:\n- Physical, Intellectual (e.g. patents, data), Human, Financial\n\nFormat your answer as bullet points, separated by a pipe symbol. Write only the points without numbering or explanations or titling, just body bullet points, and each item of bullet points should be less than 10 words, preferably 4-5 words (each of the should be meaningfull.\n\nthe only acceptable output structure is like this:\npoint1 | point2 | point3 ...\n\ndo not include header or title \n\nThis is the goal and idea of the project : \n{{ $json.chatInput }}",
        "options": {}
      },
      "id": "e1819137-61fa-4731-b6b3-02eb63572c09",
      "name": "Key Resources Generator",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        -1312,
        -1440
      ],
      "typeVersion": 1.8
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You're a marketing strategist. Provide 6-7 channel strategies for the \"Channels\" section of the Business Model Canvas, using the business idea. Answer:\n\n- Through which channels do customers want to be reached?\n- How are we reaching them now?\n- How are channels integrated?\n- Which channels work best?\n- Which are most cost-efficient?\n- How are we integrating them with customer routines?\n\nFormat your answer as bullet points, separated by a pipe symbol. Write only the points without numbering or explanations or titling, just body bullet points, and each item of bullet points should be less than 10 words, preferably 4-5 words (each of the should be meaningfull.\n\nthe only acceptable output structure is like this:\npoint1 | point2 | point3 ...\n\ndo not include header or title, do not use any enter (\\n)\n\nThis is the goal and idea of the project : \n{{ $json.chatInput }}",
        "options": {}
      },
      "id": "c6a92ad1-f085-4a97-81d9-505144ee0fa7",
      "name": "Channels Generator",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        -1312,
        -1104
      ],
      "typeVersion": 1.8
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You're a finance strategist. Based on the business idea, provide 6-7 main cost drivers for the \"Cost Structure\" section of the Business Model Canvas. Include insights related to:\n\n- Most important costs in our business model\n- Most expensive key resources\n- Most expensive key activities\n\n\n\n\nFormat your answer as bullet points, separated by a pipe symbol. Write only the points without numbering or explanations or titling, just body bullet points, and each item of bullet points should be less than 10 words, preferably 4-5 words (each of the should be meaningfull.\n\nthe only acceptable output structure is like this:\npoint1 | point2 | point3 ...\n\ndo not include header or title, do not use any enter (\\n)\n\nThis is the goal and idea of the project : \n{{ $json.chatInput }}",
        "options": {}
      },
      "id": "c48bfea0-1777-491a-8cf7-24c7d72c0f84",
      "name": "Cost Structure Generator",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        -1312,
        -800
      ],
      "typeVersion": 1.8
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Make a simple business name with this idea (maximum 5 words)\n{{ $json.chatInput }}\n\nonly write the name, do not add anything to the output.",
        "options": {}
      },
      "id": "03c03c2f-573c-43fe-b589-4d7f08c27b5e",
      "name": "Title Generator",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        -1312,
        -3296
      ],
      "typeVersion": 1.8
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Act as a monetization expert. Based on the business idea, generate 6-7 revenue strategies for the \"Revenue Streams\" section of the Business Model Canvas. Reflect on:\n\n- What value are customers willing to pay for?\n- What are they paying for now?\n- How do they pay?\n- How would they prefer to pay?\n- What is the contribution of each stream?\n\nFormat your answer as bullet points, separated by a pipe symbol. Write only the points without numbering or explanations or titling, just body bullet points, and each item of bullet points should be less than 10 words, preferably 4-5 words (each of the should be meaningfull.\n\nthe only acceptable output structure is like this:\npoint1 | point2 | point3 ...\n\ndo not include header or title, do not use any enter (\\n)\nThis is the goal and idea of the project : \n{{ $json.chatInput }}",
        "options": {}
      },
      "id": "19f1058f-d3d5-4080-be2c-06d00999b197",
      "name": "Revenue Streams Generator",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        -1312,
        -496
      ],
      "typeVersion": 1.8
    },
    {
      "parameters": {
        "jsCode": "function formatToHtmlList(inputString) {\n  const items = inputString.split('|').map(item => item.trim());\n\n  let htmlOutput = '';\n  for (let i = 0; i < items.length; i++) {\n    if (items[i]) {\n      htmlOutput += `<p>• ${items[i]}</p>`;\n    }\n  }\n\n  return htmlOutput;\n}\n\nconst input = $input.first().json.output\n\nconst result = formatToHtmlList(input);\nreturn {\n  \"key_partners\":result\n}"
      },
      "id": "28897ca0-7856-4f18-aa2f-1851549b4435",
      "name": "Key Partners HTML Transformer",
      "type": "n8n-nodes-base.code",
      "position": [
        -960,
        -2976
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "jsCode": "function formatToHtmlList(inputString) {\n  const items = inputString.split('|').map(item => item.trim());\n\n  let htmlOutput = '';\n  for (let i = 0; i < items.length; i++) {\n    if (items[i]) {\n      htmlOutput += `<p>• ${items[i]}</p>`;\n    }\n  }\n\n  return htmlOutput;\n}\n\nconst input = $input.first().json.output\n\nconst result = formatToHtmlList(input);\nreturn {\n  \"key_activities\":result\n}"
      },
      "id": "bbe98649-0d67-4d2e-8771-0a44fa3bcaaa",
      "name": "Key Activities HTML Transformer",
      "type": "n8n-nodes-base.code",
      "position": [
        -960,
        -2640
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "jsCode": "function formatToHtmlList(inputString) {\n  const items = inputString.split('|').map(item => item.trim());\n\n  let htmlOutput = '';\n  for (let i = 0; i < items.length; i++) {\n    if (items[i]) {\n      htmlOutput += `<p>• ${items[i]}</p>`;\n    }\n  }\n\n  return htmlOutput;\n}\n\nconst input = $input.first().json.output\n\nconst result = formatToHtmlList(input);\nreturn {\n  \"value_proposition\":result\n}"
      },
      "id": "ef1e86e2-fdc4-40fe-bbd3-867a5a4ea93f",
      "name": "Values proposition HTML Transformer",
      "type": "n8n-nodes-base.code",
      "position": [
        -960,
        -2336
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "jsCode": "function formatToHtmlList(inputString) {\n  const items = inputString.split('|').map(item => item.trim());\n\n  let htmlOutput = '';\n  for (let i = 0; i < items.length; i++) {\n    if (items[i]) {\n      htmlOutput += `<p>${items[i]}</p>`;\n    }\n  }\n\n  return htmlOutput;\n}\n\nconst input = $input.first().json.output\n\nconst result = formatToHtmlList(input);\nreturn {\n  \"customer_relationship\":result\n}"
      },
      "id": "9b18ee11-012a-4926-b7b7-28a4f3f87460",
      "name": "Customer Relationship HTML Transformer",
      "type": "n8n-nodes-base.code",
      "position": [
        -960,
        -2032
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "jsCode": "function formatToHtmlList(inputString) {\n  const items = inputString.split('|').map(item => item.trim());\n\n  let htmlOutput = '';\n  for (let i = 0; i < items.length; i++) {\n    if (items[i]) {\n      htmlOutput += `<p>• ${items[i]}</p>`;\n    }\n  }\n\n  return htmlOutput;\n}\n\nconst input = $input.first().json.output\n\nconst result = formatToHtmlList(input);\nreturn {\n  \"customer_segments\":result\n}"
      },
      "id": "bbcfeac6-6b77-4241-88d2-d414734dd8c2",
      "name": "Customer Segments HTML Transformer",
      "type": "n8n-nodes-base.code",
      "position": [
        -960,
        -1744
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "jsCode": "function formatToHtmlList(inputString) {\n  const items = inputString.split('|').map(item => item.trim());\n\n  let htmlOutput = '';\n  for (let i = 0; i < items.length; i++) {\n    if (items[i]) {\n      htmlOutput += `<p>• ${items[i]}</p>`;\n    }\n  }\n\n  return htmlOutput;\n}\n\nconst input = $input.first().json.output\n\nconst result = formatToHtmlList(input);\nreturn {\n  \"key_resources\":result\n}"
      },
      "id": "c94b5a25-c78a-4d9a-9958-4b6353c708b1",
      "name": "Key Resources HTML Transformer",
      "type": "n8n-nodes-base.code",
      "position": [
        -960,
        -1440
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "jsCode": "function formatToHtmlList(inputString) {\n  const items = inputString.split('|').map(item => item.trim());\n\n  let htmlOutput = '';\n  for (let i = 0; i < items.length; i++) {\n    if (items[i]) {\n      htmlOutput += `<p>• ${items[i]}</p>`;\n    }\n  }\n\n  return htmlOutput;\n}\n\nconst input = $input.first().json.output\n\nconst result = formatToHtmlList(input);\nreturn {\n  \"channels\":result\n}"
      },
      "id": "ab06f920-5ab7-4259-9724-e42f9ff439c1",
      "name": "Channels HTML Transformer",
      "type": "n8n-nodes-base.code",
      "position": [
        -960,
        -1104
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "jsCode": "function formatToHtmlList(inputString) {\n  const items = inputString.split('|').map(item => item.trim());\n\n  let htmlOutput = '';\n  for (let i = 0; i < items.length; i++) {\n    if (items[i]) {\n      htmlOutput += `<p>• ${items[i]}</p>`;\n    }\n  }\n\n  return htmlOutput;\n}\n\nconst input = $input.first().json.output\n\nconst result = formatToHtmlList(input);\nreturn {\n  \"revenue_streams\":result\n}"
      },
      "id": "44b279f0-2382-45fd-8569-0eb6619f6c56",
      "name": "Revenue streams HTML Transformer",
      "type": "n8n-nodes-base.code",
      "position": [
        -960,
        -496
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "jsCode": "\nconst input = $input.first().json.output.replaceAll(\"\\n\",\"\")\nreturn {\n  \"title\":input\n}"
      },
      "id": "c492cd4c-67bb-4893-88cb-6ef156a54ec9",
      "name": "Code1",
      "type": "n8n-nodes-base.code",
      "position": [
        -960,
        -3296
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "jsCode": "function formatToHtmlList(inputString) {\n  const items = inputString.split('|').map(item => item.trim());\n\n  let htmlOutput = '';\n  for (let i = 0; i < items.length; i++) {\n    if (items[i]) {\n      htmlOutput += `<p>• ${items[i]}</p>`;\n    }\n  }\n\n  return htmlOutput;\n}\n\nconst input = $input.first().json.output\n\nconst result = formatToHtmlList(input);\nreturn {\n  \"cost_structure\":result\n}"
      },
      "id": "163c12d6-23d3-4abf-9591-5ceb1494b93c",
      "name": "Cost Structure HTML Transformer",
      "type": "n8n-nodes-base.code",
      "position": [
        -960,
        -800
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "jsCode": "const input = $input.all()\n// Simple merge\n\nconst output = {\n  title: input[0].json.title,\n  key_partners: input[1].json.key_partners,\n  key_activities: input[2].json.key_activities, // combining both\n  value_proposition: input[3].json.value_proposition,\n  customer_relationship: input[4].json.customer_relationship,\n  customer_segments: input[5].json.customer_segments,\n  key_resources: input[6].json.key_resources,\n  channels: input[7].json.channels,\n  cost_structure : input[8].json.cost_structure,\n  revenue_streams: input[9].json.revenue_streams\n};\n\n\nconsole.log(output);\nreturn {\n  \"final_html\": `<!DOCTYPE html> <html lang=\"en\"> <head> <meta charset=\"utf-8\" /> <title>Business Model Canvas</title> <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\" /> <link href=\"https://fonts.googleapis.com/css?family=Headland+One\" rel=\"stylesheet\" /> <style> body { font-family: sans-serif; margin-top: 2.5vh; padding: 10px; background-color: #f4f4f4; display: flex; justify-content: center; align-items: center; height: 95vh; /* Full viewport height */ overflow: hidden; } .container { height: 100%; /* Fit the height of the screen */ aspect-ratio: 297 / 210; /* Maintain A4 aspect ratio (landscape) */ background: #fff; margin-bottom: 20px; padding: 10px 10px 80px; /* Added extra padding at the bottom */ box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); border-radius: 8px; box-sizing: border-box; overflow: hidden; } h1 { text-align: center; font-size: 24px; /* Reduced font size */ margin-bottom: 20px; color: #333; } p { padding-top: 2px; } table { width: 100%; height: 100%; border-collapse: collapse; table-layout: fixed; } table td { border: 1px solid #ddd; padding: 5px; /* Reduced padding */ vertical-align: top; font-size: 14px; /* Reduced font size */ word-wrap: break-word; background-color: transparent; /* No background color */ } table td h4 { padding: 5px; margin: 0 0 5px; /* Reduced margin */ font-size: 17px; /* Reduced font size */ color: #1b1b1b; } table td p { margin: 3px 0; /* Reduced margin */ line-height: 1.2; /* Reduced line height */ color: #555; } table td p strong { color: #000; } /* Adjust row heights */ #business-model-canvas tr:first-child { height: 30%; /* Reduced height for the upper part */ } #business-model-canvas tr:nth-child(2) { height: 25%; /* Reduced height for the second row */ } #business-model-canvas tr:last-child { height: 25%; /* Increased height for the bottom part */ } /* Print-specific styles */ @media print { body { background: none; margin: 0; } .container { box-shadow: none; margin: 0; padding: 0; } table td { font-size: 11px; /* Further reduced font size for print */ } } </style> </head> <body> <div class=\"container\"> <h1>`+output.title+` Business Model Canvas</h1> <!-- Canvas --> <table id=\"business-model-canvas\" cellspacing=\"0\"> <!-- Upper part --> <tr> <td id=\"key-partners\" colspan=\"2\" rowspan=\"2\"> <h4>Key Partners</h4> `+output.key_partners+` </td> <td id=\"key-activities\" colspan=\"2\"> <h4>Key Activities</h4> `+output.key_activities+` </td> <td id=\"value-propositions\" colspan=\"2\" rowspan=\"2\"> <h4>Value Proposition</h4> `+output.value_proposition+` </td> <td id=\"customer-relationships\" colspan=\"2\"> <h4>Customer Relationships</h4> `+output.customer_relationship+` </td> <td id=\"customer-segments\" colspan=\"2\" rowspan=\"2\"> <h4>Customer Segments</h4> `+output.customer_segments+` </td> </tr> <!-- Lower part --> <tr> <td id=\"key-resources\" colspan=\"2\"> <h4>Key Resources</h4> `+output.key_resources+` </td> <td id=\"channels\" colspan=\"2\"> <h4>Channels</h4> `+output.channels+` </td> </tr> <tr> <td id=\"cost-structure\" colspan=\"5\"> <h4>Cost Structure</h4> `+output.cost_structure+` </td> <td id=\"revenue-streams\" colspan=\"5\"> <h4>Revenue Streams</h4> `+output.revenue_streams+` </td> </tr> </table> <!-- /Canvas --> </div> </body> </html>`,\n  \"title\" : $input.first().json.title\n}"
      },
      "id": "71d103bb-f3e1-43cf-9f7f-e5e3951c7e53",
      "name": "Turn to HTML",
      "type": "n8n-nodes-base.code",
      "position": [
        32,
        -1856
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "operation": "toText",
        "sourceProperty": "final_html",
        "binaryPropertyName": "=",
        "options": {
          "fileName": "={{ $json.title }} BMC.html"
        }
      },
      "id": "c7b2f392-6619-4262-8242-f6303986f55a",
      "name": "HTML code to HTML file",
      "type": "n8n-nodes-base.convertToFile",
      "position": [
        320,
        -1856
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "content": "## How to get the output? \n\nOnce all nodes have finished processing, your complete Business Model Canvas will be available as a downloadable HTML file.\n\nSimply navigate to the final node titled **“HTML code to HTML file”** (at the end of the workflow). There, you’ll see two options:\n\n• **View** : to preview the HTML output directly in your browser\n\n• **Download** : to save the file locally for printing or sharing\n\n👉 Click on the **“Download”** button to retrieve your fully generated canvas file.",
        "height": 320,
        "width": 500,
        "color": 6
      },
      "id": "b62d854f-d769-4a65-b5ea-22bcf23e991b",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        128,
        -2240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "numberInputs": 10
      },
      "id": "410fa368-f76e-410a-93d0-cdbf3c1527f3",
      "name": "Merge All Data",
      "type": "n8n-nodes-base.merge",
      "position": [
        -192,
        -2016
      ],
      "executeOnce": false,
      "typeVersion": 3.1,
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "5c0d9c28-aff9-4834-965a-ed090ea42a3a",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        -1840,
        -48
      ],
      "typeVersion": 1.1,
      "credentials": {
        "openAiApi": {
          "id": "WeOrHJL5CKijLoVI",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Code1": {
      "main": [
        [
          {
            "node": "Merge All Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Turn to HTML": {
      "main": [
        [
          {
            "node": "HTML code to HTML file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge All Data": {
      "main": [
        [
          {
            "node": "Turn to HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Title Generator": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Channels Generator": {
      "main": [
        [
          {
            "node": "Channels HTML Transformer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Key Partners Generator": {
      "main": [
        [
          {
            "node": "Key Partners HTML Transformer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Key Resources Generator": {
      "main": [
        [
          {
            "node": "Key Resources HTML Transformer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cost Structure Generator": {
      "main": [
        [
          {
            "node": "Cost Structure HTML Transformer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Key Activities Generator": {
      "main": [
        [
          {
            "node": "Key Activities HTML Transformer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Channels HTML Transformer": {
      "main": [
        [
          {
            "node": "Merge All Data",
            "type": "main",
            "index": 7
          }
        ]
      ]
    },
    "Revenue Streams Generator": {
      "main": [
        [
          {
            "node": "Revenue streams HTML Transformer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Key Partners Generator",
            "type": "main",
            "index": 0
          },
          {
            "node": "Value Proposition Generator",
            "type": "main",
            "index": 0
          },
          {
            "node": "Customer Relationship Generator",
            "type": "main",
            "index": 0
          },
          {
            "node": "Customer Segments Generator",
            "type": "main",
            "index": 0
          },
          {
            "node": "Key Resources Generator",
            "type": "main",
            "index": 0
          },
          {
            "node": "Channels Generator",
            "type": "main",
            "index": 0
          },
          {
            "node": "Cost Structure Generator",
            "type": "main",
            "index": 0
          },
          {
            "node": "Revenue Streams Generator",
            "type": "main",
            "index": 0
          },
          {
            "node": "Title Generator",
            "type": "main",
            "index": 0
          },
          {
            "node": "Key Activities Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Customer Segments Generator": {
      "main": [
        [
          {
            "node": "Customer Segments HTML Transformer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Value Proposition Generator": {
      "main": [
        [
          {
            "node": "Values proposition HTML Transformer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Key Partners HTML Transformer": {
      "main": [
        [
          {
            "node": "Merge All Data",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Key Resources HTML Transformer": {
      "main": [
        [
          {
            "node": "Merge All Data",
            "type": "main",
            "index": 6
          }
        ]
      ]
    },
    "Cost Structure HTML Transformer": {
      "main": [
        [
          {
            "node": "Merge All Data",
            "type": "main",
            "index": 8
          }
        ]
      ]
    },
    "Customer Relationship Generator": {
      "main": [
        [
          {
            "node": "Customer Relationship HTML Transformer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Key Activities HTML Transformer": {
      "main": [
        [
          {
            "node": "Merge All Data",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Revenue streams HTML Transformer": {
      "main": [
        [
          {
            "node": "Merge All Data",
            "type": "main",
            "index": 9
          }
        ]
      ]
    },
    "Customer Segments HTML Transformer": {
      "main": [
        [
          {
            "node": "Merge All Data",
            "type": "main",
            "index": 5
          }
        ]
      ]
    },
    "Values proposition HTML Transformer": {
      "main": [
        [
          {
            "node": "Merge All Data",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Customer Relationship HTML Transformer": {
      "main": [
        [
          {
            "node": "Merge All Data",
            "type": "main",
            "index": 4
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Revenue Streams Generator",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Cost Structure Generator",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Channels Generator",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Key Resources Generator",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Customer Segments Generator",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Customer Relationship Generator",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Value Proposition Generator",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Key Activities Generator",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Key Partners Generator",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Title Generator",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "38b2ab6a-08f1-46a4-ac72-464271a75881",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f2f9a39beefde290018433988fb188a8717f5a87fc352d6cf5aaa1908f787990"
  },
  "id": "dbiihvGnyHjVhFIM",
  "tags": [
    {
      "createdAt": "2025-08-25T11:04:49.371Z",
      "updatedAt": "2025-08-25T11:04:49.371Z",
      "id": "iEEpxm1QvuaO9yVE",
      "name": "HR"
    }
  ]
}