AI_agents_for_internal_operations/Chat-Based Data Analyst for Business Insights.json
{
  "name": "Chat-Based Data Analyst for Business Insights",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "id": "5038f0c4-a9c4-48f1-b796-10e2c2abc7d3",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "position": [
        -1152,
        96
      ],
      "webhookId": "cdc03fce-33b6-4eed-86b5-f628994e5e31",
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "=You are a helpful assistant.\nCurrent timestamp is {{ $now }}",
          "maxIterations": 15
        }
      },
      "id": "7cce32cd-6717-4426-8879-f784974ad4b4",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        -928,
        96
      ],
      "typeVersion": 1.7
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o",
          "cachedResultName": "gpt-4o"
        },
        "options": {
          "temperature": 0.2
        }
      },
      "id": "27d13990-eaf1-4a18-8053-d81859d0e65e",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        -1008,
        336
      ],
      "typeVersion": 1.2,
      "credentials": {
        "openAiApi": {
          "id": "7si2ZPlpqxhBVSP9",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {},
      "id": "12a81b56-9e7f-4fd4-9bf3-e75a0263372b",
      "name": "Calculator",
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "position": [
        -336,
        496
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "name": "records_by_date_and_or_status",
        "description": "Use this tool to get records filtered by date. You can also filter by status at the same time, if you want.",
        "workflowId": {
          "__rl": true,
          "value": "BhJdEjPRyDzaeUll",
          "mode": "list",
          "cachedResultName": "Build Your First AI Data Analyst Chatbot 2"
        },
        "workflowInputs": {
          "value": {
            "status": "={{ $fromAI(\"status\", \"Status of the transaction. Can be Completed, Refund or Error. Leave empty if you don't need this now.\", \"string\") }}",
            "end_date": "={{ $fromAI(\"end_date\", \"End date in format YYYY-MM-DD\", \"string\") }}",
            "start_date": "={{ $fromAI(\"start_date\", \"Start date in format YYYY-MM-DD\", \"string\") }}"
          },
          "schema": [
            {
              "id": "start_date",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "start_date",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "end_date",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "end_date",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "status",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "id": "9130c0d4-a45d-437d-a533-f671470fd03f",
      "name": "Records by date",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "position": [
        -160,
        320
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Find transactions by product.\nOur products are:\n- Widget A\n- Widget B\n- Widget C\n- Widget D",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1DFxyqtQe4D7JgaUERI0aEHJZwU5AGoBDl6j4RhrnTNM/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1DFxyqtQe4D7JgaUERI0aEHJZwU5AGoBDl6j4RhrnTNM/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Product",
              "lookupValue": "={{ $fromAI(\"product_name\", \"The product name\", \"string\") }}"
            }
          ]
        },
        "options": {}
      },
      "id": "aec26864-f118-499e-8ad4-cdfa1b395b69",
      "name": "Get transactions by product name",
      "type": "n8n-nodes-base.googleSheetsTool",
      "position": [
        -160,
        112
      ],
      "typeVersion": 4.5,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "pZnkWXEbr5wYx1H1",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Only use this as last resort, because it will pull all data at once.",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1DFxyqtQe4D7JgaUERI0aEHJZwU5AGoBDl6j4RhrnTNM/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1DFxyqtQe4D7JgaUERI0aEHJZwU5AGoBDl6j4RhrnTNM/edit#gid=0"
        },
        "options": {}
      },
      "id": "4665e023-f8fb-4ee9-9e62-df73907149cd",
      "name": "Get all transactions",
      "type": "n8n-nodes-base.googleSheetsTool",
      "position": [
        -336,
        320
      ],
      "typeVersion": 4.5,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "pZnkWXEbr5wYx1H1",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "content": "### 👈\nThe Calculator is a tool that allows an agent to run mathematical calculations.",
        "height": 140,
        "width": 200,
        "color": 7
      },
      "id": "ef80f19b-30f1-4671-979a-fc62e5405de9",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -240,
        496
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## 👆\nYou can use many models here, including the free Google Gemini options.\n\nMake sure to test it thoroughly. Some models are better for data analysis.",
        "height": 260,
        "width": 170,
        "color": 7
      },
      "id": "cc2f1b83-167c-4ac6-a9ba-cbd26cf27b7b",
      "name": "Sticky Note7",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1056,
        448
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## 👆\nThis is a short term memory. It will remember the 5 previous interactions during the chat",
        "height": 260,
        "width": 150,
        "color": 7
      },
      "id": "4e62f3e7-d845-4182-ae75-c8e591c0e3b3",
      "name": "Sticky Note8",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -832,
        448
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "4ceca582-cd5d-4245-bf4d-bfb6385a8701",
      "name": "Buffer Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "position": [
        -816,
        336
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "content": "The **AI Tools Agent** has access to all the tools at the same time. It uses the name and description to decide when to use each tool.\n\nNotice I'm using `$fromAI` function in all of them.\n\nSee documentations **[here](https://docs.n8n.io/advanced-ai/examples/using-the-fromai-function/)**",
        "height": 180,
        "width": 340,
        "color": 7
      },
      "id": "f7dafd9e-b31f-4af6-9c82-969ebb4150f7",
      "name": "Sticky Note9",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -16,
        112
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## 👈 This is a special tool\nIt is used to call another workflow.\nThis concept is called sub-workflow.\n\nSee documentation [here](https://docs.n8n.io/flow-logic/subworkflows/).\n\nInstead of running a completely separate workflow, we are calling the one below.\n\nIt's contained in the same workflow, but we are using the trigger to define it will run only when called by this tool.",
        "height": 320,
        "width": 340,
        "color": 7
      },
      "id": "8a0105ea-0b79-49e5-9674-4b3e09ca906d",
      "name": "Sticky Note11",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -16,
        320
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Find transactions by status",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1DFxyqtQe4D7JgaUERI0aEHJZwU5AGoBDl6j4RhrnTNM/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1DFxyqtQe4D7JgaUERI0aEHJZwU5AGoBDl6j4RhrnTNM/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Status",
              "lookupValue": "={{ $fromAI(\"transaction_status\", \"Transaction status can be Refund, Completed or Error\", \"string\") }}"
            }
          ]
        },
        "options": {}
      },
      "id": "83d337ce-ce59-4f2f-960e-e1fd53404b72",
      "name": "Get transactions by status",
      "type": "n8n-nodes-base.googleSheetsTool",
      "position": [
        -336,
        112
      ],
      "typeVersion": 4.5,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "pZnkWXEbr5wYx1H1",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Ensure there's at least one input item.\nif (!items || items.length === 0) {\n  throw new Error(\"No input items found.\");\n}\n\n// Our input is expected to have a 'data' property containing the JSONP string.\nconst input = items[0].json;\n\nif (!input.data) {\n  throw new Error(\"Input JSON does not have a 'data' property.\");\n}\n\nconst rawData = input.data;\n\n// Use a regex to extract the JSON content from the Google Visualization JSONP response.\nconst regex = /google\\.visualization\\.Query\\.setResponse\\((.*)\\);?$/s;\nconst match = rawData.match(regex);\n\nif (!match) {\n  throw new Error(\"Input data does not match the expected Google Visualization JSONP format.\");\n}\n\nconst jsonString = match[1];\n\n// Parse the extracted JSON string.\nlet parsed;\ntry {\n  parsed = JSON.parse(jsonString);\n} catch (error) {\n  throw new Error(\"Failed to parse JSON: \" + error.message);\n}\n\n// Verify that the parsed JSON has the expected 'table' structure with 'cols' and 'rows'.\nif (!parsed.table || !Array.isArray(parsed.table.cols) || !Array.isArray(parsed.table.rows)) {\n  throw new Error(\"Parsed JSON does not have the expected 'table' structure with 'cols' and 'rows'.\");\n}\n\nconst cols = parsed.table.cols;\nconst rows = parsed.table.rows;\n\n// Helper function to convert date string from \"Date(YYYY,M,D)\" to \"YYYY-MM-DD\"\nfunction formatDate(dateStr) {\n  const match = dateStr.match(/^Date\\((\\d+),(\\d+),(\\d+)\\)$/);\n  if (!match) return dateStr;\n  const year = parseInt(match[1], 10);\n  const month = parseInt(match[2], 10) + 1; // JavaScript months are 0-indexed\n  const day = parseInt(match[3], 10);\n  // Format with leading zeros\n  return `${year}-${String(month).padStart(2, '0')}-${String(day).padStart(2, '0')}`;\n}\n\n// Map each row into an object using the column labels as keys.\nconst newItems = rows.map(row => {\n  const obj = {};\n  cols.forEach((col, index) => {\n    let value = row.c && row.c[index] ? row.c[index].v : null;\n    // If the column type is \"date\" and the value is a string that looks like \"Date(YYYY,M,D)\"\n    if (col.type === \"date\" && typeof value === \"string\") {\n      value = formatDate(value);\n    }\n    obj[col.label] = value;\n  });\n  return { json: obj };\n});\n\n// Return the new array of items.\nreturn newItems;\n"
      },
      "id": "562a6f06-36a9-484f-9989-31efabe2c9a0",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "position": [
        560,
        1312
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "start_date"
            },
            {
              "name": "end_date"
            },
            {
              "name": "status"
            }
          ]
        }
      },
      "id": "072b3982-a34a-438e-ac48-474edbd6a213",
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        0,
        1312
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "id": "e3c62329-a1e8-4929-9b0f-6aba7806d1fd",
      "name": "Aggregate",
      "type": "n8n-nodes-base.aggregate",
      "position": [
        1008,
        1312
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "To send all the items back to the AI, we need to finish with everything aggregated into one single item.\n\nOtherwise it will respond with one item at a time, and the AI will only get the first item that arrives.",
        "height": 400,
        "width": 220,
        "color": 7
      },
      "id": "9cdfbdfd-44a2-4b56-b853-54d51a68efe0",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        944,
        1072
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "This node sends a custom HTTP Request to the Google Sheets API.\n\nFiltering by date range in the Google Sheets API is very complicated.\n\nThis node solves that problem.\n\nBut doing the same in a database is much simpler. A tool could do it without needing a sub-workflow.",
        "height": 400,
        "width": 300,
        "color": 7
      },
      "id": "1d2020a0-638d-4d7e-bdae-06529d929fab",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        176,
        1072
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "The output from this complex request is also messy.\n\nSo we use some code generated by ChatGPT to transform the data into JSON objects.",
        "height": 400,
        "width": 220,
        "color": 7
      },
      "id": "8b517e3f-92f6-424b-8cd0-e07f872ee65c",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        496,
        1072
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "url": "https://docs.google.com/spreadsheets/d/1DFxyqtQe4D7JgaUERI0aEHJZwU5AGoBDl6j4RhrnTNM/gviz/tq",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "sheet",
              "value": "Sheet1"
            },
            {
              "name": "tq",
              "value": "=SELECT * WHERE A >= DATE \"{{ $json.start_date }}\" AND A <= DATE \"{{ $json.end_date }}\""
            }
          ]
        },
        "options": {}
      },
      "id": "91110aa3-1dec-4dde-81bd-365b2803f3c4",
      "name": "Google Sheets request",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        288,
        1312
      ],
      "typeVersion": 4.2,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "pZnkWXEbr5wYx1H1",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "content": "# Sub-workflow\nThe AI can call this sub-workflow anytime,\nby using the **Records by date** tool.\n\nThe sub-workflow automatically return\n the result of the last executed node to the AI.",
        "height": 520,
        "width": 1380,
        "color": 7
      },
      "id": "34e9bbd4-066e-4377-995c-4bba31ea6a59",
      "name": "Sticky Note12",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -160,
        1008
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "e50da873-bbbd-41d3-a418-83193907977c",
              "operator": {
                "type": "string",
                "operation": "contains"
              },
              "leftValue": "={{ $json.Status }}",
              "rightValue": "={{ $('When Executed by Another Workflow').item.json.status }}"
            }
          ]
        },
        "options": {}
      },
      "id": "992b1164-53e3-48db-be51-d8b93808656f",
      "name": "Filter by status",
      "type": "n8n-nodes-base.filter",
      "position": [
        784,
        1312
      ],
      "typeVersion": 2.2
    }
  ],
  "pinData": {},
  "connections": {
    "Calculator": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Records by date": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Get all transactions": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get transactions by status": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get transactions by product name": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Filter by status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Google Sheets request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets request": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter by status": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "c0a5a098-eeb6-45c4-8a07-8b81d2cbfbbc",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "93ed6a94a482e1415c1391a4d98bec025d67c846672cce4bbbb4a9390479302a"
  },
  "id": "4zjKZIQnYVaEL0jt",
  "tags": []
}