AI_agents_for_internal_operations/Generate Personalized Startup Ideas with AI Analysis and Gmail Reports.json
{
  "name": "Generate Personalized Startup Ideas with AI Analysis and Gmail Reports",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a seasoned startup advisor and serial entrepreneur with expertise across multiple industries. Generate a comprehensive startup idea with the following structure.\n\n**Context for Generation:**\n- Current date: {{ new Date().toISOString().split('T')[0] }}\n- Focus on emerging trends and technologies\n- Consider post-pandemic market shifts\n- Think about sustainability and social impact\n\n**Generate a startup idea with these components:**\n\n1. **Core Concept** (1-2 sentences)\n2. **Problem Statement** (What specific pain point does this solve?)\n3. **Target Market** (Be specific about demographics, size, and characteristics)\n4. **Unique Value Proposition** (What makes this different?)\n5. **Business Model** (How it makes money)\n6. **Technology Stack** (If applicable)\n7. **Go-to-Market Strategy** (Initial customer acquisition approach)\n8. **Scalability Potential** (How it can grow)\n9. **Estimated Market Size** (TAM, SAM, SOM if possible)\n10. **Success Metrics** (Key KPIs to track)\n\n**Innovation Requirements:**\n- Must address a real, validated problem\n- Should leverage current technology trends (AI, blockchain, IoT, etc.)\n- Consider remote-first or hybrid business models\n- Think about global scalability from day one\n\n**Format your response as JSON:**\n```json\n{\n  \"idea_title\": \"Concise startup name/title\",\n  \"core_concept\": \"Brief description\",\n  \"problem_statement\": \"Problem being solved\",\n  \"target_market\": \"Specific target audience\",\n  \"value_proposition\": \"Unique value offered\",\n  \"business_model\": \"How it makes money\",\n  \"technology_stack\": \"Technologies used\",\n  \"go_to_market\": \"Customer acquisition strategy\",\n  \"scalability\": \"Growth potential\",\n  \"market_size\": \"Market opportunity\",\n  \"success_metrics\": \"Key performance indicators\",\n  \"innovation_score\": \"1-10 rating of how innovative this is\",\n  \"execution_complexity\": \"1-10 rating of how hard this is to execute\"\n}",
        "hasOutputParser": true,
        "options": {}
      },
      "id": "397ea653-5e89-47df-b57f-dc9d80a2584f",
      "name": "Idea Generator Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        -1024,
        784
      ],
      "typeVersion": 2.1
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a tough but fair venture capitalist and market research expert. Your job is to critically analyze the startup idea provided and identify potential issues, market competition, and execution challenges.\nStartup Idea to Analyze:\n{{ $json.output.toJsonString() }}\nConduct a thorough critical analysis covering:\n1. MARKET VALIDATION\n\nDoes this problem actually exist and is it painful enough?\nIs the target market large enough and accessible?\nAre people currently paying for solutions to this problem?\n\n2. COMPETITIVE LANDSCAPE\n\nIdentify 3-5 existing competitors or similar solutions\nWhat are incumbent solutions (even if imperfect)?\nHow crowded is this space?\nWhat barriers to entry exist?\n\n3. EXECUTION CHALLENGES\n\nTechnical feasibility and complexity\nRequired expertise and team composition\nRegulatory or legal hurdles\nTime to market considerations\n\n4. BUSINESS MODEL VIABILITY\n\nRevenue model sustainability\nUnit economics potential\nCustomer acquisition cost vs lifetime value\nScalability bottlenecks\n\n5. RISK ASSESSMENT\n\nMarket timing risks\nTechnology risks\nCompetitive risks\nOperational risks\n\n6. IMPROVEMENT RECOMMENDATIONS\n\nHow to differentiate further\nPotential pivots or modifications\nStrategic partnerships to consider\n\nResearch Context:\n\nAssume current market conditions (2025)\nConsider economic climate and funding environment\nFactor in recent tech trends and consumer behavior\n\nBe brutally honest but constructive. Rate each area and provide specific examples.\nFormat as JSON:\njson{\n  \"overall_viability_score\": \"1-10 rating\",\n  \"market_validation\": {\n    \"score\": \"1-10\",\n    \"analysis\": \"Detailed assessment\",\n    \"concerns\": [\"List of concerns\"],\n    \"opportunities\": [\"List of opportunities\"]\n  },\n  \"competitive_landscape\": {\n    \"competition_level\": \"Low/Medium/High\",\n    \"main_competitors\": [\"List of competitors\"],\n    \"differentiation_strength\": \"1-10 rating\",\n    \"market_positioning\": \"Analysis of market position\"\n  },\n  \"execution_challenges\": {\n    \"technical_difficulty\": \"1-10 rating\", \n    \"resource_requirements\": \"Assessment of needs\",\n    \"time_to_market\": \"Estimated timeline\",\n    \"major_obstacles\": [\"List key challenges\"]\n  },\n  \"business_model\": {\n    \"revenue_viability\": \"1-10 rating\",\n    \"scalability_score\": \"1-10 rating\",\n    \"unit_economics\": \"Assessment\",\n    \"funding_requirements\": \"Estimated capital needs\"\n  },\n  \"risk_factors\": [\"List of major risks\"],\n  \"recommendations\": [\"Actionable improvement suggestions\"],\n  \"verdict\": \"PROCEED/PROCEED_WITH_CAUTION/MAJOR_REVISIONS_NEEDED/ABANDON\",\n  \"key_success_factors\": [\"What needs to go right for success\"]\n}",
        "hasOutputParser": true,
        "options": {}
      },
      "id": "73ace5da-91d8-4629-a2fb-6474bf72a7ba",
      "name": "Idea Critic Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        -1024,
        1008
      ],
      "typeVersion": 2.1
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an expert business psychologist and decision analyst. Analyze the sentiment and emotional undertones of the critic's assessment, then provide a balanced final recommendation.\nOriginal Startup Idea:\n{{ $('Idea Generator Agent').item.json.output }}\nCritic's Analysis:\n{{ $json.output.toJsonString() }}\nINSTRUCTIONS: Even if some data appears malformed or incomplete, proceed with your analysis using whatever information is available. If critique data is missing, focus on the startup idea assessment and general market psychology.\n\nYour Analysis Should Cover:\n1. SENTIMENT ANALYSIS\n\nOverall tone of the critique (optimistic/pessimistic/neutral)\nConfidence level in the assessment\nBias detection (overly harsh or lenient)\nEmotional indicators in language used\n\n2. CRITIQUE QUALITY\n\nThoroughness of the analysis\nEvidence-based vs opinion-based points\nBalance between criticism and opportunity identification\nMissing perspectives or blind spots\n\n3. PSYCHOLOGICAL FACTORS\n\nFounder mindset requirements for this idea\nMarket psychology and timing\nInvestor sentiment factors\nTeam dynamics considerations\n\n4. META-ANALYSIS\n\nIs the criticism fair and balanced?\nAre the concerns addressable?\nDoes the critic miss any key opportunities?\nWhat's the emotional journey for pursuing this?\n\n5. FINAL SYNTHESIS\n\nReconcile optimistic idea with critical assessment\nProbability-weighted outcomes\nDecision framework for next steps\nRisk-adjusted recommendation\n\nConsider:\n\nCognitive biases in both the idea generation and critique\nMarket sentiment trends\nFounder personality fit\nResource availability impact on feasibility\n\nFormat as JSON:\njson{\n  \"sentiment_analysis\": {\n    \"critic_tone\": \"optimistic/neutral/pessimistic\",\n    \"confidence_level\": \"1-10 rating of critic's certainty\",\n    \"bias_detection\": \"Identified biases in critique\",\n    \"emotional_indicators\": [\"Key emotional cues found\"]\n  },\n  \"critique_quality\": {\n    \"thoroughness\": \"1-10 rating\",\n    \"evidence_quality\": \"1-10 rating\",\n    \"balance_score\": \"1-10 rating\",\n    \"missing_perspectives\": [\"What the critic might have missed\"]\n  },\n  \"psychological_factors\": {\n    \"founder_readiness_required\": \"1-10 scale\",\n    \"market_psychology\": \"Analysis of market mood\",\n    \"stress_factors\": [\"Potential stress points\"],\n    \"motivation_factors\": [\"What would drive success\"]\n  },\n  \"meta_analysis\": {\n    \"critique_fairness\": \"1-10 rating\",\n    \"addressable_concerns\": \"% of concerns that can be mitigated\",\n    \"missed_opportunities\": [\"Opportunities critic overlooked\"],\n    \"emotional_journey\": \"Predicted founder experience\"\n  },\n  \"final_synthesis\": {\n    \"overall_recommendation\": \"STRONG_GO/CAUTIOUS_GO/INVESTIGATE_FURTHER/PASS\",\n    \"success_probability\": \"1-100% estimate\",\n    \"key_next_steps\": [\"Prioritized action items\"],\n    \"decision_confidence\": \"1-10 rating\",\n    \"final_insight\": \"One key takeaway for decision making\"\n  },\n  \"executive_summary\": \"2-3 sentence bottom line recommendation\"\n}",
        "hasOutputParser": true,
        "options": {}
      },
      "id": "4ea1f5b2-70dd-4e10-816f-70f183729ee7",
      "name": "Sentiment Analysis",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        -1008,
        1248
      ],
      "typeVersion": 2.1
    },
    {
      "parameters": {
        "path": "bba48ae8-07f7-4eae-be54-2960c862157f",
        "formTitle": "🚀 Tech Startup Idea Generator",
        "formDescription": "Generate SaaS and tech startup ideas based on your developer skills",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Your Name",
              "requiredField": true
            },
            {
              "fieldLabel": "Email",
              "fieldType": "email",
              "requiredField": true
            },
            {
              "fieldLabel": "Programming Languages",
              "fieldType": "textarea",
              "requiredField": true
            },
            {
              "fieldLabel": "Tech Stack & Frameworks",
              "fieldType": "textarea",
              "requiredField": true
            },
            {
              "fieldLabel": "Specialized Skills",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Machine Learning & AI"
                  },
                  {
                    "option": "DevOps/Cloud Infrastructure"
                  },
                  {
                    "option": "Mobile Development"
                  },
                  {
                    "option": "Blockchain/Web3"
                  },
                  {
                    "option": "Data Science/Analytics"
                  },
                  {
                    "option": "Cybersecurity"
                  },
                  {
                    "option": "API Development"
                  },
                  {
                    "option": "UI/UX Design"
                  },
                  {
                    "option": "Database Architecture"
                  },
                  {
                    "option": "Automation/Scripting"
                  },
                  {
                    "option": "Game Development"
                  },
                  {
                    "option": "IoT/Hardware"
                  }
                ]
              },
              "multiselect": true
            },
            {
              "fieldLabel": "Target Market",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "B2B SaaS"
                  },
                  {
                    "option": "Developer Tools"
                  },
                  {
                    "option": "E-commerce"
                  },
                  {
                    "option": "FinTech"
                  },
                  {
                    "option": "Healthcare"
                  },
                  {
                    "option": "EdTech"
                  },
                  {
                    "option": "Marketing/Sales"
                  },
                  {
                    "option": "Productivity"
                  },
                  {
                    "option": "Gaming"
                  },
                  {
                    "option": "Social/Community"
                  },
                  {
                    "option": "Enterprise"
                  },
                  {
                    "option": "Consumer Apps"
                  }
                ]
              }
            },
            {
              "fieldLabel": "Time Commitment",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "5-10 hours/week (Side Project)"
                  },
                  {
                    "option": "20-30 hours/week (Part-time)"
                  },
                  {
                    "option": "40+ hours/week (Full-time)"
                  },
                  {
                    "option": "Weekend Warrior"
                  }
                ]
              },
              "requiredField": true
            },
            {
              "fieldLabel": "Experience Level",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Junior (0-2 years)"
                  },
                  {
                    "option": "Mid-level (3-5 years)"
                  },
                  {
                    "option": "Senior (6-10 years)"
                  },
                  {
                    "option": "Expert (10+ years)"
                  }
                ]
              },
              "requiredField": true
            },
            {
              "fieldLabel": "Budget Range",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "$0 - $1,000 (Bootstrap)"
                  },
                  {
                    "option": "$1,000 - $5,000 (Small Investment)"
                  },
                  {
                    "option": "$5,000 - $20,000 (Medium Investment)"
                  },
                  {
                    "option": "$20,000+ (Well Funded)"
                  }
                ]
              },
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "id": "5e8a55eb-0638-470a-aaf8-c00298757045",
      "name": "Form",
      "type": "n8n-nodes-base.formTrigger",
      "position": [
        -1552,
        784
      ],
      "webhookId": "bba48ae8-07f7-4eae-be54-2960c862157f",
      "typeVersion": 2
    },
    {
      "parameters": {
        "jsCode": "// Comprehensive data aggregation\nconst workflow_run_id = `startup_analysis_${Date.now()}`;\nconst timestamp = new Date().toISOString();\n\n// Collect data from all agents\nlet idea = {};\nlet critique = {};\nlet sentiment = {};\n\ntry {\n  // Get idea from Agent 1\n  idea = $('Idea Generator Agent').first().json.output || {};\n  console.log('Idea data collected:', !!idea.idea_title);\n  \n  // Get critique from Agent 2  \n  critique = $('Idea Critic Agent').first().json.output || {};\n  console.log('Critique data collected:', !!critique.overall_viability_score);\n  \n  // Get sentiment from current node (Agent 3)\n  sentiment = $('Sentiment Analysis').first().json.output || {};\n  console.log('Sentiment data collected:', !!sentiment.final_synthesis);\n  \n} catch (error) {\n  console.error('Data collection error:', error);\n}\n\n// Calculate composite scores\nconst calculateCompositeScore = () => {\n  const ideaScore = parseFloat(idea.innovation_score) || 0;\n  const viabilityScore = parseFloat(critique.overall_viability_score) || 0;\n  const successProbability = parseFloat(sentiment.final_synthesis?.success_probability) || 0;\n  \n  return {\n    innovation: ideaScore,\n    viability: viabilityScore, \n    success_probability: successProbability,\n    composite: ((ideaScore + viabilityScore + (successProbability/10)) / 3).toFixed(1)\n  };\n};\n\nconst scores = calculateCompositeScore();\n\n// Determine recommendation priority\nconst getRecommendationPriority = () => {\n  const verdict = critique.verdict || 'UNKNOWN';\n  const sentimentRec = sentiment.final_synthesis?.overall_recommendation || 'UNKNOWN';\n  \n  if (verdict.includes('ABANDON') || sentimentRec === 'PASS') return 'LOW';\n  if (verdict.includes('CAUTION') || sentimentRec.includes('CAUTIOUS')) return 'MEDIUM';\n  if (verdict.includes('PROCEED') && sentimentRec.includes('STRONG')) return 'HIGH';\n  return 'MEDIUM';\n};\n\n// Create comprehensive output structure\nconst aggregatedData = {\n  // Metadata\n  meta: {\n    workflow_run_id,\n    timestamp,\n    analysis_version: '1.0',\n    processing_time_estimate: '~3-5 minutes'\n  },\n  \n  // Raw agent outputs\n  raw_outputs: {\n    idea_generation: idea,\n    market_critique: critique, \n    sentiment_analysis: sentiment\n  },\n  \n  // Processed insights\n  insights: {\n    scores,\n    recommendation_priority: getRecommendationPriority(),\n    key_opportunities: critique.recommendations?.slice(0, 3) || [],\n    key_risks: critique.risk_factors?.slice(0, 3) || [],\n    next_steps: sentiment.final_synthesis?.key_next_steps || []\n  },\n  \n  // Summary for quick review\n  executive_summary: {\n    idea_title: idea.idea_title || 'Untitled Startup Idea',\n    one_liner: idea.core_concept || 'No description available',\n    verdict: critique.verdict || 'NO_VERDICT',\n    confidence: sentiment.final_synthesis?.decision_confidence || 'Unknown',\n    bottom_line: sentiment.executive_summary || 'Analysis incomplete'\n  },\n  \n  // Flags for routing decisions\n  routing_flags: {\n    should_email: scores.composite >= 5.0,\n    needs_human_review: getRecommendationPriority() === 'HIGH',\n    save_to_database: true,\n    generate_report: scores.composite >= 6.0\n  }\n};\n\nreturn aggregatedData;"
      },
      "id": "2ae5a0f0-19f5-4244-83dc-553b22f0f08b",
      "name": "Data Aggregation",
      "type": "n8n-nodes-base.code",
      "position": [
        -224,
        1008
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst { executive_summary, insights, meta } = data;\n\n// Create human-readable email content\nconst emailContent = {\n  subject: `🚀 Startup Analysis: ${executive_summary.idea_title} [${executive_summary.verdict}]`,\n  \n  html_body: `\n    <h2>🚀 Startup Idea Analysis Report</h2>\n    <p><strong>Generated:</strong> ${new Date(meta.timestamp).toLocaleString()}</p>\n    \n    <div style=\"background: #f5f5f5; padding: 15px; border-radius: 8px; margin: 15px 0;\">\n      <h3>${executive_summary.idea_title}</h3>\n      <p><em>${executive_summary.one_liner}</em></p>\n    </div>\n    \n    <h3>📊 Quick Scores</h3>\n    <ul>\n      <li><strong>Innovation:</strong> ${insights.scores.innovation}/10</li>\n      <li><strong>Market Viability:</strong> ${insights.scores.viability}/10</li> \n      <li><strong>Success Probability:</strong> ${insights.scores.success_probability}%</li>\n      <li><strong>Composite Score:</strong> ${insights.scores.composite}/10</li>\n    </ul>\n    \n    <h3>🎯 Verdict: ${executive_summary.verdict}</h3>\n    <p><strong>Bottom Line:</strong> ${executive_summary.bottom_line}</p>\n    \n    <h3>🚨 Key Risks</h3>\n    <ul>\n      ${insights.key_risks.map(risk => `<li>${risk}</li>`).join('')}\n    </ul>\n    \n    <h3>💡 Key Opportunities</h3>\n    <ul>\n      ${insights.key_opportunities.map(opp => `<li>${opp}</li>`).join('')}\n    </ul>\n    \n    <h3>📋 Recommended Next Steps</h3>\n    <ol>\n      ${insights.next_steps.map(step => `<li>${step}</li>`).join('')}\n    </ol>\n    \n    <hr>\n    <p><small>Analysis ID: ${meta.workflow_run_id}</small></p>\n  `,\n  \n  text_body: `\nSTARTUP ANALYSIS REPORT\nGenerated: ${new Date(meta.timestamp).toLocaleString()}\n\nIDEA: ${executive_summary.idea_title}\n${executive_summary.one_liner}\n\nSCORES:\n- Innovation: ${insights.scores.innovation}/10\n- Market Viability: ${insights.scores.viability}/10  \n- Success Probability: ${insights.scores.success_probability}%\n- Composite: ${insights.scores.composite}/10\n\nVERDICT: ${executive_summary.verdict}\n${executive_summary.bottom_line}\n\nKEY RISKS:\n${insights.key_risks.map((risk, i) => `${i+1}. ${risk}`).join('\\n')}\n\nKEY OPPORTUNITIES:  \n${insights.key_opportunities.map((opp, i) => `${i+1}. ${opp}`).join('\\n')}\n\nNEXT STEPS:\n${insights.next_steps.map((step, i) => `${i+1}. ${step}`).join('\\n')}\n\nAnalysis ID: ${meta.workflow_run_id}\n  `\n};\n\nreturn [{ json: emailContent }];"
      },
      "id": "b5e8da9f-836c-455c-8158-cf354742dea5",
      "name": "Email Creator",
      "type": "n8n-nodes-base.code",
      "position": [
        -32,
        1008
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "sendTo": "={{ $('Form').all()[0].json.Email }}",
        "subject": "=🚀 Your Personalized Tech Startup Idea",
        "message": "={{ $json.html_body }}",
        "options": {}
      },
      "id": "26b2c8e6-1628-43c4-948e-7cc5d448e789",
      "name": "Send Startup Idea via Email",
      "type": "n8n-nodes-base.gmail",
      "position": [
        192,
        1008
      ],
      "webhookId": "569c40d8-4156-4ee3-a90d-6ba1190375c0",
      "typeVersion": 2.1,
      "credentials": {
        "gmailOAuth2": {
          "id": "GwE8kZsToPV68IWi",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "id": "7ef7ede3-ae47-4a93-a516-de055b6b06a6",
      "name": "Merge Analysis",
      "type": "n8n-nodes-base.merge",
      "position": [
        -384,
        992
      ],
      "typeVersion": 3.2
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "developer_profile",
              "name": "developer_profile",
              "type": "object",
              "value": "={\n  \"name\": \"{{ $json['Your Name'] }}\",\n  \"email\": \"{{ $json['Email'] }}\",\n  \"programming_languages\": \"{{ $json['Programming Languages'] }}\",\n  \"tech_stack\": \"{{ $json['Tech Stack & Frameworks'] }}\",\n  \"specialized_skills\": \"{{ $json['Specialized Skills'] }}\",\n  \"target_market\": \"{{ $json['Target Market'] }}\",\n  \"time_commitment\": \"{{ $json['Time Commitment'] }}\",\n  \"experience_level\": \"{{ $json['Experience Level'] }}\",\n  \"budget_range\": \"{{ $json['Budget Range'] }}\",\n  \"timestamp\": \"{{ $now.toISO() }}\"\n}"
            }
          ]
        },
        "options": {}
      },
      "id": "d4fc03ab-0897-4aca-b7da-4eb5cc5ae2b1",
      "name": "Prepare Data",
      "type": "n8n-nodes-base.set",
      "position": [
        -1328,
        784
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"idea_title\": \"Concise startup name/title\",\n  \"core_concept\": \"Brief description\",\n  \"problem_statement\": \"Problem being solved\",\n  \"target_market\": \"Specific target audience\",\n  \"value_proposition\": \"Unique value offered\",\n  \"business_model\": \"How it makes money\",\n  \"technology_stack\": \"Technologies used\",\n  \"go_to_market\": \"Customer acquisition strategy\",\n  \"scalability\": \"Growth potential\",\n  \"market_size\": \"Market opportunity\",\n  \"success_metrics\": \"Key performance indicators\",\n  \"innovation_score\": \"1-10 rating of how innovative this is\",\n  \"execution_complexity\": \"1-10 rating of how hard this is to execute\"\n}"
      },
      "id": "a78ad1c0-9765-4b76-93a7-a5c48b0b51c8",
      "name": "Idea Generator Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "position": [
        -656,
        944
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"overall_viability_score\": \"1-10 rating\",\n  \"market_validation\": {\n    \"score\": \"1-10\",\n    \"analysis\": \"Detailed assessment\",\n    \"concerns\": [\"List of concerns\"],\n    \"opportunities\": [\"List of opportunities\"]\n  },\n  \"competitive_landscape\": {\n    \"competition_level\": \"Low/Medium/High\",\n    \"main_competitors\": [\"List of competitors\"],\n    \"differentiation_strength\": \"1-10 rating\",\n    \"market_positioning\": \"Analysis of market position\"\n  },\n  \"execution_challenges\": {\n    \"technical_difficulty\": \"1-10 rating\", \n    \"resource_requirements\": \"Assessment of needs\",\n    \"time_to_market\": \"Estimated timeline\",\n    \"major_obstacles\": [\"List key challenges\"]\n  },\n  \"business_model\": {\n    \"revenue_viability\": \"1-10 rating\",\n    \"scalability_score\": \"1-10 rating\",\n    \"unit_economics\": \"Assessment\",\n    \"funding_requirements\": \"Estimated capital needs\"\n  },\n  \"risk_factors\": [\"List of major risks\"],\n  \"recommendations\": [\"Actionable improvement suggestions\"],\n  \"verdict\": \"PROCEED/PROCEED_WITH_CAUTION/MAJOR_REVISIONS_NEEDED/ABANDON\",\n  \"key_success_factors\": [\"What needs to go right for success\"]\n}"
      },
      "id": "0eac5be0-cecd-4b6d-a726-ab0335141cca",
      "name": "Idea Critic Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "position": [
        -656,
        1120
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"sentiment_analysis\": {\n    \"critic_tone\": \"optimistic/neutral/pessimistic\",\n    \"confidence_level\": \"1-10 rating of critic's certainty\",\n    \"bias_detection\": \"Identified biases in critique\",\n    \"emotional_indicators\": [\"Key emotional cues found\"]\n  },\n  \"critique_quality\": {\n    \"thoroughness\": \"1-10 rating\",\n    \"evidence_quality\": \"1-10 rating\",\n    \"balance_score\": \"1-10 rating\",\n    \"missing_perspectives\": [\"What the critic might have missed\"]\n  },\n  \"psychological_factors\": {\n    \"founder_readiness_required\": \"1-10 scale\",\n    \"market_psychology\": \"Analysis of market mood\",\n    \"stress_factors\": [\"Potential stress points\"],\n    \"motivation_factors\": [\"What would drive success\"]\n  },\n  \"meta_analysis\": {\n    \"critique_fairness\": \"1-10 rating\",\n    \"addressable_concerns\": \"% of concerns that can be mitigated\",\n    \"missed_opportunities\": [\"Opportunities critic overlooked\"],\n    \"emotional_journey\": \"Predicted founder experience\"\n  },\n  \"final_synthesis\": {\n    \"overall_recommendation\": \"STRONG_GO/CAUTIOUS_GO/INVESTIGATE_FURTHER/PASS\",\n    \"success_probability\": \"1-100% estimate\",\n    \"key_next_steps\": [\"Prioritized action items\"],\n    \"decision_confidence\": \"1-10 rating\",\n    \"final_insight\": \"One key takeaway for decision making\"\n  },\n  \"executive_summary\": \"2-3 sentence bottom line recommendation\"\n}"
      },
      "id": "86eb76f5-2ce9-4424-bb99-38aa6e3c3727",
      "name": "Sentiment Analysis Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "position": [
        -656,
        1376
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "content": "## 🚀 My Next Big Idea Generator\n\nThis workflow generates personalized tech startup ideas for developers:\n\n1. **Form Input**: Collects developer skills and preferences\n2. **Data Preparation**: Structures the data for AI processing\n3. **AI Generation**: Creates detailed, actionable startup ideas\n4. **Email Delivery**: Sends formatted idea with resources\n\n### Setup Required:\n- Configure Claude or OpenAI credentials\n- Set up Gmail for email\n- (option 1) Deploy and share the form URL\n- (option 2) Fill out My Information node with your data, and activate the workflow to receive an idea once a day",
        "height": 494,
        "width": 382
      },
      "id": "0781e9a4-5cae-43ed-b75a-92382fbb772d",
      "name": "📋 Workflow Overview",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2304,
        96
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## 🎯 Input Triggers\n\n**Three ways to run this workflow:**\n\n1. **📝 Form Trigger**: External users fill out form\n   - Share the webhook URL publicly\n   - Automatically processes submissions\n\n2. **⏰ Daily Schedule**: Runs at 9 AM daily\n   - Uses \"My Information\" data\n   - Great for personal daily inspiration\n\n3. **🖱️ Manual Trigger**: Run on-demand\n   - Click to test the workflow\n   - Uses \"My Information\" data\n\n**Setup Tip**: Fill out \"My Information\" node with your personal data for testing and daily runs.",
        "height": 444,
        "width": 352,
        "color": 2
      },
      "id": "0de60cb6-658b-4034-a6ec-25aacdf4f4da",
      "name": "📋 Input Sources",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1840,
        96
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## 🔧 Data Preparation Zone\n\n**Purpose**: Convert raw input into structured data for AI agents\n\n### \"My Information\" Node:\n- **Required**: Fill in all fields with your details\n- **Used by**: Scheduled and manual triggers\n- **Tip**: Update this periodically as your skills grow\n\n### \"Prepare Data\" Node:\n- **Function**: Normalizes data structure\n- **Input**: Form data OR \"My Information\" data  \n- **Output**: Clean JSON object with developer profile\n- **Important**: This ensures consistent data format regardless of input source",
        "height": 408,
        "width": 400,
        "color": 3
      },
      "id": "b7a8c34f-9af9-4dd5-b1c4-176b6b46c897",
      "name": "📋 Data Preparation",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -288,
        1216
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## 🤖 AI Agent Pipeline\n\n**Three-stage analysis system:**\n\n### Agent 1: Idea Generator 🧠\n- **Temperature**: 0.7 (creative)\n- **Purpose**: Creates innovative startup concepts\n- **Output**: Structured idea with business details\n\n### Agent 2: Market Critic 🔍  \n- **Temperature**: 0.3 (analytical)\n- **Purpose**: Critical market analysis\n- **Evaluates**: Competition, risks, feasibility\n\n### Agent 3: Sentiment Analyzer 📊\n- **Temperature**: 0.2 (precise)\n- **Purpose**: Synthesizes final recommendation\n- **Provides**: Balanced decision framework\n\n**Setup Required**: \n- Add Anthropic API credentials to all three models\n- Each agent has its own model and parser for reliability",
        "height": 548,
        "width": 440,
        "color": 4
      },
      "id": "6d2a8eff-b095-4cd9-ad2e-ec8b9ebc222d",
      "name": "📋 AI Analysis Pipeline",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1104,
        176
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## 📊 Output Processing\n\n### Merge Analysis:\n- **Purpose**: Combines all three AI outputs\n- **Critical**: Ensures all data flows to aggregator\n\n### Data Aggregation:\n- **Function**: Master data processor\n- **Creates**: Composite scores, routing flags\n- **Calculates**: Final recommendations\n- **Key Logic**: \n  - Composite score = (innovation + viability + success/10) ÷ 3\n  - Routing flags determine email sending\n\n### Email Creator:\n- **Input**: Aggregated analysis data\n- **Output**: HTML and text email content\n- **Features**: Formatted report with scores, risks, opportunities\n\n### Gmail Send:\n- **Requirement**: Configure Gmail OAuth2 credentials\n- **Recipient**: Update email address in node settings\n- **Content**: Rich HTML startup analysis report",
        "height": 632,
        "width": 468,
        "color": 5
      },
      "id": "123b0b0f-2b72-40dd-aa90-2a060eb6857c",
      "name": "📋 Data Processing & Output",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -480,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## ⚙️ Critical Setup Steps\n\n### 1. API Credentials:\n- **Anthropic API**: Required for all AI models\n- **Gmail OAuth2**: Required for email sending\n\n### 2. Email Configuration:\n- Update recipient email in \"Send Startup Idea via Email\" node\n- Test email delivery before going live\n\n### 3. Personal Data:\n- Fill out \"My Information\" node completely\n- This data is used for scheduled/manual runs\n\n### 4. Form Deployment (Optional):\n- Copy webhook URL from Form trigger\n- Share publicly for external submissions\n\n### 5. Testing:\n- Use Manual trigger to test end-to-end\n- Check email delivery and formatting\n- Verify all AI agents produce valid JSON\n\n**Pro Tip**: Run manual test first before enabling daily schedule!",
        "height": 652,
        "width": 380,
        "color": 6
      },
      "id": "e87fd791-f463-4a99-bdd5-3f3149abd626",
      "name": "📋 Setup Checklist",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2336,
        672
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## 🔧 Technical Notes\n\n### Output Parsers:\n- **Purpose**: Ensure valid JSON from AI\n- **Schema**: Predefined structure for each agent\n- **Error Handling**: Prevents workflow failures\n\n### Temperature Settings:\n- **0.7**: Creative idea generation\n- **0.3**: Balanced critical analysis  \n- **0.2**: Precise sentiment scoring\n\n### Data Flow:\nForm/Schedule → Prepare → AI Chain → Merge → Aggregate → Email\n\n### Common Issues:\n- **JSON Parse Errors**: Check output parser schemas\n- **Missing Data**: Ensure all required fields filled\n- **Email Failures**: Verify Gmail credentials\n- **API Limits**: Monitor Anthropic usage\n\n**Debug Tip**: Check execution logs if workflow fails",
        "height": 620,
        "width": 350,
        "color": 7
      },
      "id": "eb754f86-5323-4dd2-a021-378a6416f612",
      "name": "📋 Technical Details",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1776,
        1296
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## 🚀 Enhancement Ideas\n\n### Future Improvements:\n- **Database Storage**: Save all analyses for tracking\n- **Analytics Dashboard**: View trends over time\n- **Slack Integration**: Send reports to team channels\n- **Conditional Logic**: Only email high-scoring ideas\n- **Market Research**: Auto-fetch competitor data\n- **Idea Tracking**: Follow up on promising concepts\n\n### Scaling Options:\n- **Multiple Recipients**: Send to team/investors\n- **Industry Focus**: Specialized prompts per sector\n- **A/B Testing**: Different prompt variations\n- **Feedback Loop**: Rate ideas to improve prompts\n\n**Next Steps**: Start simple, then add features based on usage patterns",
        "height": 460,
        "width": 420
      },
      "id": "467f4b81-d526-4770-a497-7e5df8bc78aa",
      "name": "📋 Future Enhancements",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        496,
        800
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -1168,
        992
      ],
      "id": "123339f2-894d-4cd5-b19b-80e7b66b8424",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "2I6nkGXnPJR1so01",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -1168,
        1216
      ],
      "id": "d7f333ba-2e23-4c22-b2c2-74763e514431",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "2I6nkGXnPJR1so01",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -1152,
        1456
      ],
      "id": "bd12e8a7-0c11-42f6-836f-f47a52b379e6",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "2I6nkGXnPJR1so01",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Form": {
      "main": [
        [
          {
            "node": "Prepare Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Data": {
      "main": [
        [
          {
            "node": "Idea Generator Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Creator": {
      "main": [
        [
          {
            "node": "Send Startup Idea via Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Analysis": {
      "main": [
        [
          {
            "node": "Data Aggregation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Data Aggregation": {
      "main": [
        [
          {
            "node": "Email Creator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Idea Critic Agent": {
      "main": [
        [
          {
            "node": "Sentiment Analysis",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge Analysis",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Idea Critic Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Idea Critic Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Sentiment Analysis": {
      "main": [
        [
          {
            "node": "Merge Analysis",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Idea Generator Agent": {
      "main": [
        [
          {
            "node": "Idea Critic Agent",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Idea Generator Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Idea Generator Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Sentiment Analysis Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Sentiment Analysis",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Idea Generator Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Idea Critic Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Sentiment Analysis",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "8ee33097-8428-4f35-b698-d46ee377a754",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "92897899e43cb5f4ab79bd0f0cc53ff5ed4ac039aacc32039356fda35bcb92c7"
  },
  "id": "gw8cyauKluL8W7xj",
  "tags": []
}