AI_agents_for_internal_operations/Reddit Lead Finder_ Automated Prospecting with GPT-4, Supabase and Gmail Alerts.json
{
  "name": "Reddit Lead Finder: Automated Prospecting with GPT-4, Supabase and Gmail Alerts",
  "nodes": [
    {
      "parameters": {},
      "id": "ede823a3-3be8-42ab-a1b0-e0eee107e3b7",
      "name": "When clicking ‘Test workflow’",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        -3728,
        608
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1",
          "cachedResultName": "gpt-4.1"
        },
        "options": {}
      },
      "id": "d38cda8c-da33-42dc-b91c-18e4dc3c2e5d",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        -2048,
        784
      ],
      "typeVersion": 1.2,
      "credentials": {
        "openAiApi": {
          "id": "7si2ZPlpqxhBVSP9",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Reddit post: {{ $('Loop Over Items1').item.json.selftext }}\n\nIs this a post that might benefit from our automation AI service that builds automated solutions for businesses?\n\nOutput only yes or no\n",
        "options": {}
      },
      "id": "38e6cb12-5854-47c3-bdea-e5a43171d651",
      "name": "Analysis Content  By AI",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        -1936,
        544
      ],
      "typeVersion": 1.7
    },
    {
      "parameters": {
        "operation": "search",
        "subreddit": "={{ $json.subreddit }}",
        "keyword": "={{ $json.keywords }}",
        "limit": 3,
        "additionalFields": {
          "sort": "new"
        }
      },
      "id": "76931a11-2bc1-4cc6-9277-ded8f6625038",
      "name": "Get Posts",
      "type": "n8n-nodes-base.reddit",
      "position": [
        -3056,
        848
      ],
      "typeVersion": 1,
      "credentials": {
        "redditOAuth2Api": {
          "id": "HA9IMrw5BH4DynCH",
          "name": "Reddit account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "0823d10a-ad54-4d82-bcea-9dd236e97857",
              "operator": {
                "type": "number",
                "operation": "gt"
              },
              "leftValue": "={{ $json.ups }}",
              "rightValue": 0
            },
            {
              "id": "bb8187aa-f0f1-4999-8d4b-bdc9abba0618",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              },
              "leftValue": "={{ $json.selftext }}",
              "rightValue": ""
            }
          ]
        },
        "options": {}
      },
      "id": "1b3be924-5102-4e6f-96ed-a6aa7e3c44fe",
      "name": "Filter Posts",
      "type": "n8n-nodes-base.if",
      "position": [
        -3056,
        656
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1ManMOopD6FOIWTNTzNm_DoErzzxnH8nDVcMzkva9hyg",
          "mode": "list",
          "cachedResultName": "Reddit Posts",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ManMOopD6FOIWTNTzNm_DoErzzxnH8nDVcMzkva9hyg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ManMOopD6FOIWTNTzNm_DoErzzxnH8nDVcMzkva9hyg/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "URL": "={{ $('Loop Over Items3').item.json.url }}",
            "Date": "={{ $now.toLocaleString() }}",
            "Post": "={{ $('Loop Over Items3').item.json.selftext }}",
            "Subreddit": "={{ $('Loop Over Items3').item.json.subreddit }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Date",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Date",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Subreddit",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Subreddit",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "URL",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "URL",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Post",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Post",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Comment",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "Comment",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "9d41b18a-85f8-4211-82b9-a21d83548f70",
      "name": "Append row in sheet1",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        -1584,
        48
      ],
      "typeVersion": 4.6,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "pZnkWXEbr5wYx1H1",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "najmussakib.nagorik@gmail.com",
        "subject": "Relevant Reddit Threads",
        "message": "=<p>Relevant reddit threads:</p>\n\n{{ $json.email }}",
        "options": {}
      },
      "id": "d7d28c87-5673-4952-9cd4-0d104fed52c3",
      "name": "Send a message",
      "type": "n8n-nodes-base.gmail",
      "position": [
        -1360,
        -144
      ],
      "webhookId": "399f8765-509d-4f2e-b80e-a8fe341f7de2",
      "typeVersion": 2.1,
      "credentials": {
        "gmailOAuth2": {
          "id": "YkQVRVbP6T5q8bfI",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "f2f22ef5-ca4a-4d9e-b598-12697ae67bc2",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [
        -3280,
        800
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "Reddit Lead",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.id }}"
            },
            {
              "keyName": "subreddit",
              "condition": "eq",
              "keyValue": "={{ $json.subreddit }}"
            }
          ]
        }
      },
      "id": "b2f0171f-bb40-4a7e-a516-36dbd4063e21",
      "name": "Get many rows",
      "type": "n8n-nodes-base.supabase",
      "position": [
        -2608,
        592
      ],
      "typeVersion": 1,
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "jxTKxpt45NI4ujnA",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "929a9e35-fb4a-4963-b090-ea4c72b8dbf6",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              },
              "leftValue": "={{  $json.duplicate }}",
              "rightValue": ""
            }
          ]
        },
        "options": {}
      },
      "id": "dca27dd4-1e7b-48b0-b480-8abe54a9a5f0",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "position": [
        -2608,
        400
      ],
      "typeVersion": 2.2,
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    json: {\n      subreddit: \"smallbusiness\",\n      keywords: \"help\"\n    },\n  },\n  {\n    json: {\n      subreddit: \"startup\",\n      keywords: \"help\"\n    },\n  }\n]\n"
      },
      "id": "f713d92c-6f65-4958-bcf5-2d688d2c8f7c",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "position": [
        -3504,
        800
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "id": "7e34f0db-2ad4-4273-918b-9574430d1691",
      "name": "Loop Over Items1",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [
        -2832,
        656
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "jsCode": "const original = $('Loop Over Items2').item.json;\noriginal.relevant = $input.first().json.output\n\nreturn [\n  {\n    json: original\n  }\n];"
      },
      "id": "e4868bbe-824d-4c93-b88d-1b1701165bfd",
      "name": "Code3",
      "type": "n8n-nodes-base.code",
      "position": [
        -1584,
        608
      ],
      "typeVersion": 2,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "const original = $('Loop Over Items1').item.json;\nconsole.log($input)\nreturn [\n  {\n    json: {\n      ...original,\n      duplicate: Object.keys($input.item.json).length ? true : false\n    }\n  }\n];"
      },
      "id": "85c34834-ef70-49f1-a0ad-4da964a6c89b",
      "name": "Code1",
      "type": "n8n-nodes-base.code",
      "position": [
        -2608,
        848
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "0e174754-e155-4dcf-a40c-0cc50a13c9b1",
      "name": "Loop Over Items2",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [
        -2384,
        272
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "205c2700-1481-46f9-8fba-c976aff29717",
              "operator": {
                "type": "string",
                "operation": "contains"
              },
              "leftValue": "={{ $json.relevant }}",
              "rightValue": "Yes"
            }
          ]
        },
        "options": {}
      },
      "id": "3f9f85b7-4b69-4635-b8c6-ed7183769de9",
      "name": "If1",
      "type": "n8n-nodes-base.if",
      "position": [
        -2160,
        32
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "amount": 1
      },
      "id": "ac9e536c-cd77-4c70-9814-741f670b21e1",
      "name": "Wait1",
      "type": "n8n-nodes-base.wait",
      "position": [
        -2160,
        544
      ],
      "webhookId": "2dd35778-671d-4c83-8eb9-a665b761c4c0",
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "bc169906-00b1-46c6-9906-13500142ff11",
      "name": "Loop Over Items3",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [
        -1872,
        32
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "tableId": "Reddit Lead",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "id",
              "fieldValue": "={{ $json.id }}"
            },
            {
              "fieldId": "subreddit",
              "fieldValue": "={{ $json.subreddit }}"
            },
            {
              "fieldId": "url",
              "fieldValue": "={{ $json.url }}"
            }
          ]
        }
      },
      "id": "b9594647-96b5-4a23-9a48-263c131ecb89",
      "name": "Create a row",
      "type": "n8n-nodes-base.supabase",
      "position": [
        -1360,
        240
      ],
      "typeVersion": 1,
      "credentials": {
        "supabaseApi": {
          "id": "jxTKxpt45NI4ujnA",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "let email = '';\n\n// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n email += '<p>' + item.json.title + ' - ' + item.json.url + \"</p>\\n\\n\"\n}\n\nreturn {\n  email: email\n}\n\n"
      },
      "id": "94d2e9ca-2173-4669-9fd6-b35d88a8291c",
      "name": "Code4",
      "type": "n8n-nodes-base.code",
      "position": [
        -1584,
        -144
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "jsCode": "return $input.all();"
      },
      "id": "e9043ba7-cbfe-4595-bb87-ac2b0045d35a",
      "name": "Code5",
      "type": "n8n-nodes-base.code",
      "position": [
        -1584,
        240
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "jsCode": "return $('Code5').first()"
      },
      "id": "9312b591-7507-46ff-9faa-995ae228e0fd",
      "name": "Code6",
      "type": "n8n-nodes-base.code",
      "position": [
        -1136,
        320
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            }
          ]
        }
      },
      "id": "cfc56211-895f-458c-8edc-82bd07d3a17d",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        -3728,
        800
      ],
      "typeVersion": 1.2
    }
  ],
  "pinData": {},
  "connections": {
    "If": {
      "main": [
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Loop Over Items3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code3": {
      "main": [
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code4": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code5": {
      "main": [
        [
          {
            "node": "Create a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code6": {
      "main": [
        [
          {
            "node": "Loop Over Items3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Analysis Content  By AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Posts": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a row": {
      "main": [
        [
          {
            "node": "Code6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Posts": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many rows": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Filter Posts",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get many rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items2": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items3": {
      "main": [
        [
          {
            "node": "Code4",
            "type": "main",
            "index": 0
          },
          {
            "node": "Append row in sheet1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        []
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Analysis Content  By AI",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Analysis Content  By AI": {
      "main": [
        [
          {
            "node": "Code3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "d9d85549-63a9-47bf-bfef-344a2af6d089",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "93ed6a94a482e1415c1391a4d98bec025d67c846672cce4bbbb4a9390479302a"
  },
  "id": "rVlzCmyKTOR8dsnp",
  "tags": []
}