AI_agents_for_internal_operations/Self Improving Email AI Support with Human-in-the-Loop.json
{
  "name": "My workflow 11",
  "nodes": [
    {
      "parameters": {},
      "id": "c59786a0-8b3d-43ee-8735-c564229e1395",
      "name": "No Operation, do nothing",
      "type": "n8n-nodes-base.noOp",
      "position": [
        1584,
        672
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"answerFound\": true,\n  \"responseEmailHtml\": \"AI-generated response or empty if not found\",\n  \"summarizedQuestion\": \"Standardized/summarized version of the customer question\"\n}",
        "autoFix": true
      },
      "id": "1f4374b2-eb20-4d97-8311-f6f790876f2f",
      "name": "Structured Output Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "position": [
        128,
        528
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "f852c674-481e-4732-8eee-93e2fc1e37cc",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              },
              "leftValue": "={{ $('Find Answer with AI').last().json.output.answerFound }}",
              "rightValue": ""
            }
          ]
        },
        "options": {}
      },
      "id": "8b5ff95a-a858-4ba8-8d8c-46c1b2bbe494",
      "name": "Support Answer Found",
      "type": "n8n-nodes-base.if",
      "position": [
        288,
        320
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "inputText": "={{ $('On New Email Received').item.json.text }}",
        "categories": {
          "categories": [
            {
              "category": "support"
            },
            {
              "category": "other"
            }
          ]
        },
        "options": {}
      },
      "id": "2dd97dbf-e909-4dfb-a95a-16e701120166",
      "name": "Is it a Support Request?",
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "position": [
        -1248,
        320
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"question\": {{ $json.Question.toJsonString() }},\n  \"answer\": {{ $json.Answer.toJsonString() }}\n}",
        "options": {}
      },
      "id": "b9b49336-b564-4fd1-b328-113a97f15aed",
      "name": "Format Q&A Pairs for AI",
      "type": "n8n-nodes-base.set",
      "position": [
        -608,
        320
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "id": "181254e6-14b0-47a2-a960-eee5949e93c2",
      "name": "Combine into Knowledge Context",
      "type": "n8n-nodes-base.aggregate",
      "position": [
        -384,
        320
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=<inputs>\n<customer_question>\n{{ $('On New Email Received').item.json.text }}\n</customer_question>\n<expert_answer>\n{{ $('Ask Human for Help').last().json.data.text }}\n</expert_answer>\n</inputs>",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "=<role>\nYou are an expert AI assistant specialized in knowledge base management. Your task is to distill human conversations into clean, reusable question-and-answer pairs for an automated support system. You must transform a specific customer query and an expert's ad-hoc reply into a generic, canonical entry that can be used to help many other users in the future.\n</role>\n\n<instructions>\n<goal>\nYour goal is to take an original customer question and the corresponding answer provided by a human expert, and transform them into a standardized, generic, and reusable Question/Answer pair. This new entry must be suitable for an automated system to use for future, similar inquiries.\n</goal>\n\n<context>\nThis task is part of a 'human-in-the-loop' automated customer support workflow. When the system cannot answer a customer's email using its existing knowledge base (a Google Sheet), the question is forwarded to a human expert. You are now receiving the original question and the expert's reply.\n\nYour generated Q&A pair will be added as a new row to the Google Sheet knowledge base. This will allow the system to answer this question automatically next time.\n\nKey principles to follow:\n1.  **Generalize the Question:** Rephrase the customer's question to be generic and universally applicable. Remove any personal information (names, specific order numbers, account details, etc.) and formulate it as a general query that other customers might ask.\n2.  **Refine the Answer:** Clean up the expert's reply. It should be a complete, well-formatted, and polite response that is ready to be sent directly to a customer without further editing. Remove conversational filler like \"Hi John,\" or \"Hope this helps!\".\n3.  **Capture the Essence:** The final Q&A pair should accurately represent the core problem and its solution.\n</context>\n\n<examples>\n<example_1>\n<inputs>\n<customer_question>\nHi, my name is Jane Doe and I ordered a blue widget last Tuesday (order #12345). I haven't received a shipping confirmation yet. Can you tell me how long shipping usually takes to California? Thanks, Jane\n</customer_question>\n<expert_answer>\nHey Jane, I checked your order. It's currently being processed. For future reference, our standard shipping to the US West Coast is typically 5-7 business days. Cheers.\n</expert_answer>\n</inputs>\n<output>\n{\n  \"question\": \"What are the standard shipping times to the US West Coast?\",\n  \"answer\": \"Standard shipping to the US West Coast typically takes 5-7 business days after your order has been processed. You will receive a shipping confirmation email with a tracking number as soon as your order is dispatched.\"\n}\n</output>\n</example_1>\n\n<example_2>\n<inputs>\n<customer_question>\nI can't find where to reset my API key on my dashboard. I looked in the settings but it's not there. Help!\n</customer_question>\n<expert_answer>\nNo problem. To do that, you need to go to the 'Developer' section, not 'Settings'. From there, you'll see a 'Revoke Key' button. Click that and a new one will be generated for you.\n</expert_answer>\n</inputs>\n<output>\n{\n  \"question\": \"How do I reset my API key?\",\n  \"answer\": \"You can reset your API key by following these steps:\\n1. Log in to your account and navigate to the 'Developer' section in your dashboard.\\n2. Click on the 'Revoke Key' button.\\n3. A new API key will be automatically generated for you.\"\n}\n</output>\n</example_2>\n\n<example_3>\n<inputs>\n<customer_question>\nmy bill is higher this month?? i dont understand why\n</customer_question>\n<expert_answer>\nHi, we recently updated our pricing for the Pro plan from $49/month to $55/month to reflect new features we've added. We sent out an email about this last month. This is the first billing cycle with the new price.\n</expert_answer>\n</inputs>\n<output>\n{\n  \"question\": \"Why did my monthly subscription price increase?\",\n  \"answer\": \"We recently updated our pricing to reflect the addition of new features to our plans. If you have noticed an increase in your monthly bill, it is likely due to this planned pricing adjustment. All users were notified via email prior to the change.\"\n}\n</output>\n</example_3>\n</examples>\n\n\n<output_format>\nYou must provide your response as a single, valid JSON object. The object should contain two keys: \"question\" and \"answer\". Do not include any other text, explanations, or markdown formatting around the JSON object.\n\n{\n  \"question\": \"The generated generic question.\",\n  \"answer\": \"The clean, customer-ready answer.\"\n}\n</output_format>\n</instructions>\n\n<inputs>\n<customer_question>\n[The original, verbatim email or question from the customer.]\n</customer_question>\n<expert_answer>\n[The verbatim reply provided by the human expert.]\n</expert_answer>\n</inputs>"
            }
          ]
        },
        "batching": {}
      },
      "id": "c3e8734d-9b8d-4fc4-877d-0871cad7feea",
      "name": "AI: Create Reusable Q&A",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "position": [
        944,
        464
      ],
      "typeVersion": 1.7
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {},
        "options": {}
      },
      "id": "6314d999-35f7-44f1-9d8b-0254f016a7b1",
      "name": "On New Email Received",
      "type": "n8n-nodes-base.gmailTrigger",
      "position": [
        -1472,
        320
      ],
      "typeVersion": 1.3,
      "credentials": {
        "gmailOAuth2": {
          "id": "GwE8kZsToPV68IWi",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('On New Email Received').item.json.from.value[0].address }}",
        "subject": "=Re: {{ $('On New Email Received').item.json.subject }} - Automated Response",
        "message": "={{ $json.output.responseEmailHtml }}",
        "options": {}
      },
      "id": "81d46ae0-a9f9-45b6-b6a5-823e7644c8a5",
      "name": " Send AI Answer",
      "type": "n8n-nodes-base.gmail",
      "position": [
        592,
        176
      ],
      "webhookId": "0680d84b-44f4-4b36-be51-c6a4b794221d",
      "typeVersion": 2.1,
      "credentials": {
        "gmailOAuth2": {
          "id": "GwE8kZsToPV68IWi",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "sendTo": "nsultana2021@icloud.com",
        "subject": "[AUTO SUPPORT] New question requiring your expertise",
        "message": "=Hello,\n\nOur automated support system has received a question for which we don't yet have an answer in our knowledge base.\n\n**ORIGINAL CUSTOMER QUESTION:** {{ $('Find Answer with AI').last().json.output.summarizedQuestion }}\n---\nFrom: {{ $('On New Email Received').item.json.from.value[0].address }}\nSubject: {{ $('On New Email Received').item.json.subject }}\n\n{{ $('On New Email Received').item.json.text }}\n---\n\n**ACTION REQUIRED:**\nPlease reply to this email with:\n1. The complete answer to provide to the customer\n2. Any additional information that might be useful for similar questions\n\nYour response will automatically be:\n- Sent to the customer ({{ $('On New Email Received').item.json.from.value[0].address }})\n- Added to our knowledge base for future similar questions\n\nBest regards,\nAutomated Support System",
        "responseType": "freeText",
        "options": {
          "messageButtonLabel": "Submit Answer",
          "responseFormTitle": "New Support Question",
          "responseFormDescription": "=**QUESTION:** {{ $('Find Answer with AI').last().json.output.summarizedQuestion }}\\n\\n**CUSTOMER DETAILS:**\\nFrom: {{ $('On New Email Received').item.json.from.value[0].address }}\\nSubject: {{ $('On New Email Received').item.json.subject }}\\n\\n**ORIGINAL MESSAGE:**\\n{{ $('On New Email Received').item.json.text }}\\n\\n---\\n\\nPlease provide your complete response below. Your answer will be automatically sent to the customer and added to our knowledge base for future similar questions."
        }
      },
      "id": "e97ef91f-5d77-49af-ad94-b7b8b020987d",
      "name": "Ask Human for Help",
      "type": "n8n-nodes-base.gmail",
      "position": [
        592,
        464
      ],
      "webhookId": "7e4bb191-4314-4bd0-9dd9-fdda8f64e8e5",
      "typeVersion": 2.1,
      "credentials": {
        "gmailOAuth2": {
          "id": "GwE8kZsToPV68IWi",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1VL-_X9K2ItvdP30LN1JV0mtRFuuYPSia1tSS-5IxuTo",
          "mode": "list",
          "cachedResultName": "Q&A",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1VL-_X9K2ItvdP30LN1JV0mtRFuuYPSia1tSS-5IxuTo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1VL-_X9K2ItvdP30LN1JV0mtRFuuYPSia1tSS-5IxuTo/edit#gid=0"
        },
        "columns": {
          "value": {
            "Answer": "={{ $json.output.answer }}",
            "Question": "={{ $json.output.question }}"
          },
          "schema": [
            {
              "id": "Question",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "Question",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Answer",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Answer",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [
            "Question"
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "445d4c9d-701f-4afb-b1a0-eeb49849f44e",
      "name": "Add to Knowledge Base",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        1344,
        464
      ],
      "typeVersion": 4.7,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "i6LzMNq87EXlMZGt",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1VL-_X9K2ItvdP30LN1JV0mtRFuuYPSia1tSS-5IxuTo",
          "mode": "list",
          "cachedResultName": "Q&A",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1VL-_X9K2ItvdP30LN1JV0mtRFuuYPSia1tSS-5IxuTo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1VL-_X9K2ItvdP30LN1JV0mtRFuuYPSia1tSS-5IxuTo/edit#gid=0"
        },
        "options": {}
      },
      "id": "fdede4da-9809-463a-ad63-eb86cc0c8903",
      "name": "Get Knowledge Base",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        -848,
        320
      ],
      "typeVersion": 4.7,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "i6LzMNq87EXlMZGt",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "content": "### How it Works\n\n**✅ If an answer is found:**\nThe AI sends the reply directly.\n\n**❓ If no answer is found:**\n1.  An email is sent to a human expert.\n2.  The expert's reply is used to create a new Q&A.\n3.  The knowledge base is updated for future responses.",
        "height": 304,
        "width": 336,
        "color": 5
      },
      "id": "3e758436-06e8-4e8b-9477-49f4ec9204cd",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        176,
        64
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=<inputs>\n<customer_email_body>\n{{ $('On New Email Received').item.json.text }}\n</customer_email_body>\n<knowledge_base>\n{{ $('Combine into Knowledge Context').last().json.data.toJsonString() }}\n</knowledge_base>\n</inputs>",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "=<role>\nYou are an expert AI Customer Support Agent. Your specialty is to analyze incoming customer inquiries and determine with high confidence if they can be answered using a provided knowledge base. You are a critical part of an automated workflow that decides whether to send an automated reply or escalate the issue to a human expert.\n</role>\n\n<instructions>\n<goal>\nYour goal is to analyze the customer's email and compare it against the entire knowledge base. Based on your analysis, you will perform one of two actions:\n1.  **If a highly relevant answer is found:** You will draft a complete, polite, and helpful email response in HTML format.\n2.  **If no relevant answer is found (or if you have low confidence):** You will summarize the customer's core question into a concise sentence for escalation to a human expert. It is better to escalate than to provide a wrong answer.\n</goal>\n\n<context>\n- The knowledge base is a list of pre-existing \"Question\" and \"Answer\" pairs.\n- You must evaluate the semantic meaning of the customer's question, not just keyword matching.\n- The customer's email might contain greetings, signatures, and other non-essential text. You must focus on the actual question or problem.\n- Your output will be parsed by a machine, so it must strictly follow the specified JSON format.\n- If you find an answer, the `response_email_html` should be a complete email, ready to be sent, including a polite greeting and closing.\n</context>\n\n<examples>\n<example_1>\n<inputs>\n<customer_email_body>\nHello,\n\nI can't seem to find where I can reset my password on your platform. Can you help me?\n\nThanks,\nJohn Doe\n</customer_email_body>\n<knowledge_base>\n[\n  {\"Question\": \"How to update my billing information?\", \"Answer\": \"You can update your billing information in the 'Account > Billing' section of your dashboard.\"},\n  {\"Question\": \"How do I reset my password?\", \"Answer\": \"To reset your password, please go to the login page and click the 'Forgot Password?' link. You will receive an email with instructions.\"},\n  {\"Question\": \"What are your opening hours?\", \"Answer\": \"Our support team is available from 9 AM to 5 PM, Monday to Friday.\"}\n]\n</knowledge_base>\n</inputs>\n<output>\n{\n  \"answerFound\": true,\n  \"responseEmailHtml\": \"<html><body><p>Hello,</p><p>Thank you for contacting us.</p><p>To reset your password, please go to the login page and click the 'Forgot Password?' link. You will receive an email with instructions to set a new one.</p><p>If you need further assistance, please let us know.</p><p>Best regards,<br>The Support Team</p></body></html>\",\n  \"summarizedQuestion\": null\n}\n</output>\n</example_1>\n\n<example_2>\n<inputs>\n<customer_email_body>\nHi there,\n\nMy latest invoice (INV-2023-12-45) seems to have a calculation error on the VAT for the 'Pro Plan' line item. It's showing 20% but my company is VAT exempt. Can you check this?\n\nBest,\nJane Smith\n</customer_email_body>\n<knowledge_base>\n[\n  {\"Question\": \"How to update my billing information?\", \"Answer\": \"You can update your billing information in the 'Account > Billing' section of your dashboard.\"},\n  {\"Question\": \"Where can I find my invoices?\", \"Answer\": \"All your past invoices are available for download in the 'Account > Billing > Invoices' section.\"},\n  {\"Question\": \"How do I reset my password?\", \"Answer\": \"To reset your password, please go to the login page and click the 'Forgot Password?' link.\"}\n]\n</knowledge_base>\n</inputs>\n<output>\n{\n  \"answerFound\": false,\n  \"responseEmailHtml\": null,\n  \"summarizedQuestion\": \"Customer is reporting a specific VAT calculation error on their latest invoice.\"\n}\n</output>\n</example_2>\n</examples>\n\n\n<output_format>\nYou MUST provide your response as a single, valid JSON object. Do not add any text before or after the JSON object. The JSON object must have the following structure:\n\n```json\n{\n  \"answerFound\": <boolean>,\n  \"responseEmailHtml\": <string | null>,\n  \"summarizedQuestion\": <string | null>\n}\n```\n\n- `answerFound`: (boolean) Set to `true` ONLY if you found a highly relevant answer in the knowledge base with high confidence. Otherwise, set to `false`.\n- `responseEmailHtml`: (string or null) If `answer_found` is `true`, this field must contain the full HTML content of the email to be sent to the customer. If `answer_found` is `false`, this field must be `null`.\n- `summarizedQuestion`: (string or null) If `answer_found` is `false`, this field must contain a concise, one-sentence summary of the customer's problem for a human expert. If `answer_found` is `true`, this field must be `null`.\n</output_format>\n</instructions>\n\n<inputs>\n<customer_email_body>\n[The full, raw text content of the incoming customer email will be placed here.]\n</customer_email_body>\n<knowledge_base>\n[A JSON array of objects, where each object has a \"Question\" and \"Answer\" key, representing the entire knowledge base from the Google Sheet, will be placed here.]\n</knowledge_base>\n</inputs>"
            }
          ]
        },
        "batching": {}
      },
      "id": "b819de2f-4b56-4c6f-a3e7-f6d562a32d80",
      "name": "Find Answer with AI",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "position": [
        -160,
        320
      ],
      "typeVersion": 1.7
    },
    {
      "parameters": {
        "modelName": "models/gemma-3-27b-it",
        "options": {
          "temperature": 0
        }
      },
      "id": "c97f50da-035c-4ac4-a211-cf6c112de38c",
      "name": "Gemma",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "position": [
        -16,
        528
      ],
      "typeVersion": 1,
      "credentials": {
        "googlePalmApi": {
          "id": "UoegopAf9B7E6UKT",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash-lite",
        "options": {}
      },
      "id": "ce6a16a9-1254-4860-a19c-5e809be4fe2f",
      "name": "Google Gemini 2.5 Flash Lite",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "position": [
        -1184,
        464
      ],
      "typeVersion": 1,
      "credentials": {
        "googlePalmApi": {
          "id": "UoegopAf9B7E6UKT",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"question\": \"The generated generic question.\",\n  \"answer\": \"The clean, customer-ready answer.\"\n}"
      },
      "id": "5f568942-4c18-4277-a768-98372898126d",
      "name": "Structured Output Parser (1)",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "position": [
        1104,
        688
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "content": "## 🤖 Self Improving Email AI Support\n\nThis workflow answers emails using a Google Sheet as a knowledge base.\n\nIf it doesn't know the answer, it asks a human and **learns the new reply automatically**.\n\n### To get started:\n1.  **Connect your credentials** for Gmail, Google Sheets, and Google Gemini (see red sticky notes).\n2.  **Set up your Google Sheet** knowledge base (see red sticky note).\n3.  **Customize the expert email** address in the `Ask Human for Help` node (see purple sticky note).\n4.  **Activate** the workflow to start processing emails.\n\n\n### Get Your Personalized n8n Roadmap\nInstantly generate a free, step-by-step plan based on your automation goals.\n\n➡️ **[Build Your Free Roadmap Now](https://free.workflows.ac?s=template&t=8779&a=Frank)**\n\n\n---\n\n*Happy Automating! —Lucas Peyrin*",
        "height": 568,
        "width": 448,
        "color": 0
      },
      "id": "794d1ade-0139-489e-aeaa-1fb2cc69eba8",
      "name": "Sticky Note (0)",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2176,
        112
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\nThis workflow uses Google Gemini models for AI tasks.\n\n1.  **[Go to Google AI Studio](https://aistudio.google.com/app/apikey)**\n2.  Click **“Create API key in new project”** and copy it.\n\n3.  Open the ```Google Gemini 2.5 Pro``` node:\n    *   **Select Credential → Create New**\n    *   Paste into **API Key** and **Save**\n\n",
        "height": 508,
        "width": 224,
        "color": "3"
      },
      "id": "f2d464d7-e529-4e13-b252-b1dae83a0312",
      "name": "Sticky Note (3)",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1248,
        400
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "This workflow uses a Google Sheet as its knowledge base.\n\n1.  **Create a new Google Sheet** in your Google Drive.\n2.  Name the first sheet `QA Database`.\n3.  Add two column headers: `Question` and `Answer`.\n4.  **Open the `Get Knowledge Base` node** and select your newly created spreadsheet.\n\n\n\n\n\n\n\n\n\n\n",
        "height": 286,
        "width": 334,
        "color": 3
      },
      "id": "97b1551e-4c28-41fa-a7a2-ee0d089895a2",
      "name": "Sticky Note (4)",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -848,
        80
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Set the **To** email address for your human expert. This is where questions the AI can't answer will be forwarded.",
        "height": 154,
        "width": 300,
        "color": "6"
      },
      "id": "c21929f0-0d4e-41ca-889b-330d52f80a78",
      "name": "Sticky Note (5)",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        592,
        352
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "This is the core AI that attempts to find an answer in your knowledge base.\n\n**Open this node** and adapt the `prompt` to best suit your support context and the type of questions you expect.\n\n\n\n\n\n\n\n\n\n\n",
        "height": 252,
        "width": 222,
        "color": "7"
      },
      "id": "f9c91e35-5a54-4af4-aa77-9f3caf009b2f",
      "name": "Sticky Note (6)",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -160,
        128
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "This AI node is the 'learning' component. After a human expert replies, this AI processes their answer and the original question to create a new, reusable Q&A pair for your knowledge base.\n\n\n\n\n\n\n\n\n\n\n",
        "height": 156,
        "width": 350,
        "color": "7"
      },
      "id": "a3119ef7-28bd-4645-bd0e-68b5970e1e6b",
      "name": "Sticky Note (7)",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        944,
        352
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "\n\n\n\n\n\n\n\n\n\n\n\nThese nodes ensure the AI's output is always in a strict JSON format, making it reliable and easy for the workflow to process.\n",
        "height": 218,
        "width": 446,
        "color": 7
      },
      "id": "e1eb7cab-7b4b-41c8-a7d0-a13baa3efa3a",
      "name": "Sticky Note (8)",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -48,
        496
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "This node uses AI to classify incoming emails, ensuring only relevant support requests proceed through the workflow.\n\n\n\n\n\n\n\n\n\n\n\n",
        "height": 168,
        "width": 220,
        "color": "7"
      },
      "id": "92cd2873-d3b2-43b8-a307-85a41d0c1fd0",
      "name": "Sticky Note (9)",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1248,
        192
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "💡 Once configured, activate this workflow to start automatically processing incoming emails!",
        "height": 136,
        "width": 300,
        "color": "7"
      },
      "id": "b1889110-a452-4a8a-b3a8-7099a03ee550",
      "name": "Sticky Note (10)",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1680,
        256
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Check your Google Sheet! New Q&A pairs generated by the AI (from human expert replies) will be added here.",
        "height": 168,
        "width": 300,
        "color": "7"
      },
      "id": "daef8696-b719-4552-8c24-2d8a8ebdc12a",
      "name": "Sticky Note (11)",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1344,
        352
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "markAsRead",
        "messageId": "={{ $('On New Email Received').item.json.id }}"
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        800,
        176
      ],
      "id": "0b86d5f9-f78a-4497-95f1-d8390389065a",
      "name": "Mark a message as read",
      "webhookId": "5b5b8c7a-c7ce-4d55-99f3-482a9a408701",
      "credentials": {
        "gmailOAuth2": {
          "id": "GwE8kZsToPV68IWi",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        832,
        672
      ],
      "id": "09725de7-5b5f-4b56-bb9a-0c8d7dc5b23d",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "2I6nkGXnPJR1so01",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -272,
        528
      ],
      "id": "8b2187c1-5ad9-4267-9fcc-b43f13a8ba5d",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "2I6nkGXnPJR1so01",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Gemma": {
      "ai_languageModel": [
        [
          {
            "node": "Structured Output Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Ask Human for Help": {
      "main": [
        [
          {
            "node": "AI: Create Reusable Q&A",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Knowledge Base": {
      "main": [
        [
          {
            "node": "Format Q&A Pairs for AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Answer with AI": {
      "main": [
        [
          {
            "node": "Support Answer Found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Support Answer Found": {
      "main": [
        [
          {
            "node": " Send AI Answer",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Ask Human for Help",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add to Knowledge Base": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On New Email Received": {
      "main": [
        [
          {
            "node": "Is it a Support Request?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI: Create Reusable Q&A": {
      "main": [
        [
          {
            "node": "Add to Knowledge Base",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Q&A Pairs for AI": {
      "main": [
        [
          {
            "node": "Combine into Knowledge Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is it a Support Request?": {
      "main": [
        [
          {
            "node": "Get Knowledge Base",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Operation, do nothing": {
      "main": [
        [
          {
            "node": "Get Knowledge Base",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Find Answer with AI",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini 2.5 Flash Lite": {
      "ai_languageModel": [
        [
          {
            "node": "Is it a Support Request?",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser (1)": {
      "ai_outputParser": [
        [
          {
            "node": "AI: Create Reusable Q&A",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Combine into Knowledge Context": {
      "main": [
        [
          {
            "node": "Find Answer with AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    " Send AI Answer": {
      "main": [
        [
          {
            "node": "Mark a message as read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI: Create Reusable Q&A",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Find Answer with AI",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "dc0f928c-ad74-4d36-a0ae-41178ce1b325",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "92897899e43cb5f4ab79bd0f0cc53ff5ed4ac039aacc32039356fda35bcb92c7"
  },
  "id": "VRnmfIaS2eYyt8Dw",
  "tags": []
}