AI_agents_for_internal_operations/Stock_RAG_analysis_workflow.json
{
  "name": "Stock_RAG_analysis_workflow",
  "nodes": [
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "new",
          "mode": "list",
          "cachedResultName": "new"
        },
        "options": {}
      },
      "id": "1d55007e-64e1-4d91-8230-64caa0df4652",
      "name": "Pinecone Vector Store",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "position": [
        -80,
        80
      ],
      "typeVersion": 1,
      "credentials": {
        "pineconeApi": {
          "id": "dEmkU8Xcln0PVvgb",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "loader": "pdfLoader",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "Quartile",
                "value": "={{ $json.Quartile }}"
              },
              {
                "name": "year",
                "value": "={{ $json.Year }}"
              }
            ]
          }
        }
      },
      "id": "4a2d9165-a594-4d67-9eea-810d85f47397",
      "name": "Default Data Loader",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "position": [
        64,
        336
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "a3e85fe6-0dfb-43bc-a6c2-82d03b1b2d8c",
      "name": "Recursive Character Text Splitter",
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "position": [
        112,
        528
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "496d6756-04bd-4b07-b727-0ddc5fa28037",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [
        -576,
        80
      ],
      "typeVersion": 3
    },
    {
      "parameters": {},
      "id": "2f69e889-2001-4f8d-a1fb-8e4bb8a3f4a3",
      "name": "When clicking ‘Test workflow’",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        -1072,
        80
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "Give me a report on Meta's last 2 quarter earnings. Format it in markdown. Focus on the differences and trends. Spot any outliers.",
        "options": {
          "systemMessage": "You are a highly skilled financial analyst specializing in analyzing Meta's financial performance. You have access to two powerful tools: 1. **Vector Store Tool:** This tool allows you to retrieve relevant information from the past three quarters of Meta's earnings reports (PDF documents). The documents have been processed and stored as embeddings in a vector database, enabling semantic search. Use this tool to find specific information related to revenue, expenses, profits, losses, growth, key metrics, management commentary, and any other relevant financial data. 2. **Google Docs Tool:** This tool allows you to create, edit, and format Google Docs. Use this tool to save your findings into a Google Doc. Your task is to answer user queries related to Google's financial performance based on the last two quarters' earnings reports. When a user asks a question: 1. **Understand the User's Intent:** Carefully analyze the user's query to determine what specific financial information they are seeking. Identify keywords, timeframes (e.g., \"previous quarter\"), and the type of analysis requested (e.g., trend analysis, comparison, explanation). 2. **Retrieve Relevant Information:** Use the Vector Store Tool to search for and retrieve the most relevant text passages from the earnings reports that address the user's query. Retrieve multiple, diverse chunks to ensure comprehensive coverage. 3. **Synthesize and Analyze:** Analyze the information from the retrieved text chunks. Identify key trends, patterns, and insights related to the user's query. 4. **Generate Report in Google Docs:** Use the Google Docs Tool to create a new Google Doc (or append to an existing one, if specified by the user). Structure the report with clear headings, bullet points, and concise paragraphs. Include the following in your report as appropriate: * **Executive Summary:** A brief overview of the key findings. * **Revenue Analysis:** Report on revenue figures, growth rates, and key revenue drivers. * **Expense Analysis:** Report on major expense categories and their impact on profitability. * **Profitability Analysis:** Discuss net income, profit margins, and earnings per share (EPS). * **Key Metrics:** Include other relevant financial metrics mentioned in the reports (e.g., operating income, cash flow, segment performance). * **Management Commentary:** Summarize any relevant insights or explanations provided by Google's management in the earnings calls or reports. * **Trend Analysis:** Compare the current quarter's performance to the previous two quarters, highlighting significant changes or trends. * **Visualizations:** If possible, use the Google Docs tool to insert basic charts or tables to visually represent the data. (You might need to guide the user on how to do this if the tool has limitations.) 5. **Cite Sources:** Clearly indicate the source of your information (e.g., \"Q2 2023 Earnings Report\") for each data point or analysis. 6. **Maintain a Professional Tone:** Write in a clear, concise, and objective tone, as expected of a financial analyst. Avoid speculation or making unsubstantiated claims. Your ultimate goal is to provide the user with a well-structured, informative, and accurate financial report based on the data available in the last three quarters of Google's earnings reports. Save the report in as a Google Doc using the available tool!"
        }
      },
      "id": "64920e5e-5954-45f2-b4a9-928ee301e18a",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        -496,
        784
      ],
      "typeVersion": 1.7
    },
    {
      "parameters": {
        "name": "company_financial_earnings_data_tool",
        "description": "Retrieve information about the last 3 quarters of Meta's Earnings"
      },
      "id": "26ffa011-6260-40f2-88ba-f9b1baa555d0",
      "name": "Vector Store Tool",
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "position": [
        -96,
        1008
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "c7acb1d2-1350-4343-820a-5968aad5a286",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        -624,
        1008
      ],
      "typeVersion": 1.1,
      "credentials": {
        "openAiApi": {
          "id": "wIXy1qZotSXCZ3Ho",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "pineconeIndex": {
          "__rl": true,
          "value": "new",
          "mode": "list",
          "cachedResultName": "new"
        },
        "options": {}
      },
      "id": "2e7cab63-4f07-4b69-a879-d4beaacf9247",
      "name": "Pinecone Vector Store (Retrieval)",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "position": [
        -208,
        1216
      ],
      "typeVersion": 1,
      "credentials": {
        "pineconeApi": {
          "id": "dEmkU8Xcln0PVvgb",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "https://docs.google.com/document/d/1GrKB8zK0M3H5vyUM-aIwbo-FR8u7XBzsjIEzXx719v8/edit?usp=sharing",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert",
              "text": "={{ $json.output }}"
            }
          ]
        }
      },
      "id": "5ed032c5-acc5-424a-a485-3453e9e7e5e1",
      "name": "Save Report to Google Docs",
      "type": "n8n-nodes-base.googleDocs",
      "position": [
        0,
        784
      ],
      "typeVersion": 2,
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "sjBNFWbIueoQfUcr",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1ZhRBNUtGH1uyQ1kDBBJLSRxXZwHP9Qj04b0mHwz4D5k",
          "mode": "list",
          "cachedResultName": "meta_data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ZhRBNUtGH1uyQ1kDBBJLSRxXZwHP9Qj04b0mHwz4D5k/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ZhRBNUtGH1uyQ1kDBBJLSRxXZwHP9Qj04b0mHwz4D5k/edit#gid=0"
        },
        "options": {}
      },
      "id": "6044a320-b989-4a55-b3fa-b4d50e378f69",
      "name": "List Of Files To Load (Google Sheets)",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        -848,
        80
      ],
      "typeVersion": 4.5,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "0qQzV3DmSlI358f0",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.URL }}",
          "mode": "url"
        },
        "options": {}
      },
      "id": "4981624d-93f6-4bd6-a958-1858f69091f2",
      "name": "Download File From Google Drive",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        -304,
        80
      ],
      "typeVersion": 3,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "1nxcHc4AdcN1vUV3",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Set up steps\n1. Google Cloud Project & Vertex AI API:\n\t* Create a Google Cloud project.\n\t* Enable the Vertex AI API for your project.\n2. Google AI API key:\n\t* Obtain a Google AI API key from Google AI Studio.\n3. Pinecone account and API key:\n\t* Create a free account on the Pinecone website.\n\t* Obtain your API key from your Pinecone dashboard.\n\t* Create an index named company-earnings in your Pinecone project.\n4. Google Drive - download and save financial documents:\n\t* Go to a company you want to analize and download their quarterly earnings PDFs\n\t* Save the PDFs in Google Drive\n\t* Create a Google Sheet that stores a list of file URLs pointing to the PDFs you downloaded and saved to Google Drive\n5. Configure credentials in your n8n environment for:\n\t* Google Sheets OAuth2\n\t* Google Drive OAuth2\n\t* Google Docs OAuth2\n\t* Google Gemini(PaLM) Api (using your Google AI API key)\n\t* Pinecone API (using your Pinecone API key)\n6. Import and configure the workflow:\n\t* Import this workflow into your n8n instance.\n\t* Update the List Of Files To Load (Google Sheets) node to point to your Google Sheet.\n\t* Update the Download File From Google Drive to point to the column where the file URLs are\n\t* Update the Save Report to Google Docs node to point to your Google Doc where you want the report saved.",
        "height": 740,
        "width": 500
      },
      "id": "14eb88e0-74e3-4a22-b8ce-945cace68b2f",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1568,
        224
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Loading data to Pinecone vector store"
      },
      "id": "b5fc4de1-7afc-46fe-9911-54d54891d031",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -80,
        -128
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## AI Agent Report Generation using RAG"
      },
      "id": "b56ae5e8-5ea5-452a-8008-2ad4c72d8b59",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -496,
        608
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        176,
        1248
      ],
      "id": "f1f586d0-e4c1-44fd-b4bc-da62907760cd",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "fVZUSiD0V6g24UAt",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "dimensions": 1024
        }
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -128,
        1424
      ],
      "id": "0e5ef411-3b8b-4e0a-be41-667773b0ca6e",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "fVZUSiD0V6g24UAt",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "dimensions": 1024
        }
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -32,
        288
      ],
      "id": "ce314e8a-05a0-43b6-a5b0-b3af07373d36",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "wIXy1qZotSXCZ3Ho",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -736,
        784
      ],
      "id": "55891c06-d1d3-4547-9fe5-d5563701a819",
      "name": "Schedule Trigger"
    }
  ],
  "pinData": {},
  "connections": {
    "AI Agent": {
      "main": [
        [
          {
            "node": "Save Report to Google Docs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Download File From Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Vector Store Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download File From Google Drive": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store (Retrieval)": {
      "ai_vectorStore": [
        [
          {
            "node": "Vector Store Tool",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "List Of Files To Load (Google Sheets)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List Of Files To Load (Google Sheets)": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Vector Store Tool",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store (Retrieval)",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "63dd74b9-c039-452c-afcc-a015e4966317",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8d401f885e1d55f4ab54b9409be28c0a99616546f3fde5dcc217c9802d0a05db"
  },
  "id": "wLb58MT0RdCumgCE",
  "tags": []
}