Workflow_automation_using_ai_tools/Automated Content Writing from Telegram with Google Drive Integration.json
{
  "name": "Blog Generation",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "=You are an expert in blog creation. You help the user create blog posts and consult with them about blog-related requests. Use the following guidelines and steps in your workflow. \n\nCurrent time is {{ $now }}\n\n----------------------------\n\nWORKFLOW OVERVIEW\n\n1. Discuss blog ideas: Brainstorm relevant topics for the user. Call the Idea generation tool when the user asks for ideas surrounding a specific niche / topic\n2. Draft an outline: Provide a brief, structured outline (not the full post) for confirmation.\n3. Create full post: Once the user has approved the outline, provide the user with the full blog. Adhere to teh writing style instructions below\n\n----------------------------\n\nTOOLS AVAILABLE\n\n1. Idea Generation: call on this tool when i ask for help with coming up with content ideas. I will give you some sort of topic I want to talk about, and you will then call on this tool to get me the 5 possible topic ideas. Include the citations that are generated.\n\n2. SerpAPI: call this tool if you require basic internet searches (DO NOT USE THIS IF THEY ARE ASKING FOR BLOG IDEAS, USE THE IDEA GENERATION TOOL IN THAT INSTANCE OR ASKED TO COMPLETE RESEARCH ON A SPECIFIC TOPIC)\n\n3. Create File: call this tool if I need you to create or upload a file inside google drive, ill tell you want i want as the contents of the file (it will usually be the blog post that i want created inside the drive). once created, provide the user with a link to the document\n\n4. Update File: call this tool if I need you to update a file insidie my google drive\n\n5. Reserch Tool: call this tool when asked to do research or give extra background information about a specific topic. If you call this tool, include the citations in your final output\n\n6. Image Generator: call this tool when the user wants an image generated for their blog, provide them with the image URL at the end and ask if they like the image or want to generate another one\n----------------------------\n\nWRITING STYLE\n\nBelow is an example of my own writing. When creating the full blog posts, emulate this same stlye: \n\nThe AI revolution has democratized app building. With tools like ChatGPT, Cursor, and v0, you no longer need to be a software engineer to bring your ideas to life. Even so, trying to create an application or website with AI can be daunting if you have no real experience in that arena. Luckily, the article can help serve as a guide to this process, and provide a basic framework you can use to make your next app with the help of AI.\n\nOverview of the Three Stages\nThe app building process has 3 stages: planning, execution, and fine tuning. In the planning stage, we create a detailed Product Requirements Document (PRD) with the help of an AI chatbot. The PRD will act as a set of instructions for our AI coder of choice (Cursor in this case). We will then have Cursor start writing code based on the PRD, creating the code one step at a time to ensure each piece of the puzzle correctly works before moving on. Lastly, we touch up our UI elements with tools like v0.dev so that our app looks just the way we want. Let's dive in.\n\nPhase 1: Planning\nThe ultimate goal of this stage is to have a completely fleshed out document that details exactly what we want our AI coder to build. Below is a template I've used in the past and it includes 9 different sections relevant to nearly any application, ranging from its purpose to its deployment architecture. We need to fill out this document and even add additional information if our particular projects calls for it.\n\nexplanation of the prd....\n\nSeem like a lot? It's totally ok if most of this looks completely arcane—the only thing you really need to know at this point is a general sense of what you want to build and what its functionalities look like. For everything else, we are going to use our favorite AI chatbot (I will be referencing Claude at this point, ChatGPT or Gemini works too).\n\nWe will now feed this template to Claude, explain our app idea, and begin working with Claude to complete the rest of the document. This should be a flowing conversation where you ask for explanations about pieces of the PRD you are unfamiliar with, and then ask Claude what its suggestions are for your particular app. Should we be using shadcn/ui? Should we deploy with vercel? Again, you don't need to know these answers, but you do need to be willing to engage with the AI to make these decisions, and also to understand the why behind each choice. Don't let AI blindly make every choice for you (or you will feel the pain later when things go wrong).\n\nPhase 2: Execution\nNow that we have our fleshed out PRD, its time to start coding watching AI code. Give this prompt to your AI IDE of choice (Cursor in my case) and see if it has any questions about your architecture. If there are no questions, you can then tell Cursor to start implementing the PRD one step, and one functionality, at a time.\n\nIt is very important that we do this piecemeal—if we tell Cursor to execute the entire PRD at once, it will start creating more and more errors, and we will be bogged down in the debugging process. By isolating each step, we can quickly identify when things go wrong and debug accordingly.\n\nA Note on Debugging\nA note on debugging—you will come across errors, its just the way it is. Simply describe the errors (or copy the logs from the terminal) and tell Cursor to help you troubleshoot. The debugging grind is just a part of the app creation process so mentally prepare yourself for that as you start your first project.\n\nFrom here, continue to have Cursor code from your PRD piece by piece until you've made your way through the entire PRD. Once that is complete, you should have an app with all its working functionalities.\n\nPhase 3: Fine Tuning\nNow that we know that app is actually working, now we can start working on the UI. My preferred method is to take our code for our home page (usually app/page.tsx), give it to v0.dev, and ask for UI improvements that maintain our current functionality. Tools like v0.dev will show you previews of your new home page UI and also provide the code. You can then bring that code back to cursor and tell it you want to copy that UI design across your entire app. This process lets you isolate your UI experimentation without potentially messing up your app's core functionalities.\n\nConclusion\nOnce you have the UI where you want it, congratulations, you now have a completed app! I'm sure this all went very smoothly and you had zero roadblocks whatsoever. But in all seriousness, hopefully this guide at least gets you moving in the right direction when it comes to building apps with AI. View this as an 80% solution and remember that this 3 phase process is really a cycle—you will constantly be going between Claude, Cursor, and v0 as you come up with new ideas mid process. Good luck out there.\n\n----------------------------\n\nFINAL NOTES\n\nInclude links when giving information you got from articles, etc.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        176,
        -208
      ],
      "id": "5456a85d-bf99-41d6-aec5-7f13bd7cd5c3",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "id"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        32,
        48
      ],
      "id": "e8ece3b7-4810-4af8-bf77-ce229b86bee9",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "W2aFsvzim6ytfKJE",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.message.chat.id }}",
        "contextWindowLength": 8
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -384,
        -752
      ],
      "id": "7711c794-a54b-497f-959f-65ab4fd82ace",
      "name": "Window Buffer Memory"
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        -656,
        -208
      ],
      "id": "d590f6e4-83c8-4cd1-808e-c8871919383c",
      "name": "Telegram Trigger",
      "webhookId": "c962151c-e6b2-4809-b24f-96316c1c3a62",
      "credentials": {
        "telegramApi": {
          "id": "GHKgX0xK6ipX2w9Y",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1520,
        -208
      ],
      "id": "774b5d4c-4d65-4507-b9b4-a9b983b0f341",
      "name": "Telegram",
      "webhookId": "f57b04a9-7842-4a48-b253-3d2bdc9ba158",
      "credentials": {
        "telegramApi": {
          "id": "GHKgX0xK6ipX2w9Y",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const aiAgentOutput = $input.all().map((item) => item.json.output)[0];\nconst chunkSize = 4096;\n\n// Escape Markdown special characters (including the pipe `|`):\n// This example is minimal—add more if you need to handle *all* Markdown chars.\nconst safeOutput = aiAgentOutput\n  .replace(/\\|/g, '\\\\|')\n  .replace(/\\*/g, '\\\\*')\n  .replace(/_/g, '\\\\_');\n// ...etc. for any other symbols that cause trouble\n\nconst chunks = [];\nfor (let i = 0; i < safeOutput.length; i += chunkSize) {\n  chunks.push(safeOutput.slice(i, i + chunkSize));\n}\n\nreturn chunks.map((chunk) => ({ json: { output: chunk } }));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1392,
        -208
      ],
      "id": "a82c92d5-6965-4c53-833b-f6a86cceddeb",
      "name": "Code"
    },
    {
      "parameters": {
        "name": "ideaTool",
        "description": "Call this tool to get potential ideas for the blog posts once a niche or topic is provided",
        "workflowId": {
          "__rl": true,
          "value": "5LriIdagNxKRDpXn",
          "mode": "list",
          "cachedResultUrl": "/workflow/5LriIdagNxKRDpXn",
          "cachedResultName": "Idea Generation Tool"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        480,
        48
      ],
      "id": "f8fe43f5-c23c-4597-b4e1-310ba8b50e65",
      "name": "Idea Generation"
    },
    {
      "parameters": {
        "name": "researchTool",
        "description": "Call this tool to do deep research on a specific topic via perplexity",
        "workflowId": {
          "__rl": true,
          "value": "xXkZkUaunorWzzHO",
          "mode": "list",
          "cachedResultUrl": "/workflow/xXkZkUaunorWzzHO",
          "cachedResultName": "Blog Research Tool"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        256,
        0
      ],
      "id": "c9a6e909-8b14-42e4-a33f-583065cf33bf",
      "name": "Research Tool"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.toolSerpApi",
      "typeVersion": 1,
      "position": [
        640,
        -672
      ],
      "id": "85ab716e-079f-4a12-95cf-681e143ca2ac",
      "name": "SerpAPI",
      "credentials": {
        "serpApi": {
          "id": "oHEmqjb5AT8wPU6D",
          "name": "SerpApi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "fileId": {
          "__rl": true,
          "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('File_to_Update', ``, 'string') }}",
          "mode": "id"
        },
        "changeFileContent": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Change_File_Content', ``, 'boolean') }}",
        "newUpdatedFileName": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('New_Updated_File_Name', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTool",
      "typeVersion": 3,
      "position": [
        288,
        -624
      ],
      "id": "e5855c71-7db6-421e-aa1b-d04bd95bb48b",
      "name": "Update File",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "dvrS3PxLL2JreWsU",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "createFromText",
        "content": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('File_Content', ``, 'string') }}",
        "name": "={{ $fromAI('fileName') }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "list",
          "value": "root",
          "cachedResultName": "/ (Root folder)"
        },
        "options": {
          "convertToGoogleDocument": true
        }
      },
      "type": "n8n-nodes-base.googleDriveTool",
      "typeVersion": 3,
      "position": [
        400,
        -624
      ],
      "id": "ecf63b18-16ca-4d84-b6b5-914a56ab1721",
      "name": "Create File",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "dvrS3PxLL2JreWsU",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -704,
        672
      ],
      "id": "a4080462-c9cc-4462-8065-13774bee054b",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "={{ $json.query }}"
            },
            {
              "content": "=You are a Research Query Generator. Your task is to analyze the user's input and transform it into a comprehensive, research-optimized query. This query should be designed for in-depth exploration of the specified topic.\n\nGuidelines:\n1. **Identify the Focus:** Extract the main topic and the specific subtopic or aspect mentioned.\n2. **Research Orientation:** Frame the query to invite detailed analysis, covering current technologies, challenges, advancements, and potential improvements.\n3. **Context and Clarity:** Ensure the query provides enough context for thorough research, making it clear and specific.\n4. **Conciseness:** Keep the query concise, yet informative, emphasizing the need for a deep dive into the topic.\n\nExamples:\n- Input: \"I want to research more about AI in the airline industry, specifically flight path optimization.\"\n  Output: \"Conduct an in-depth research on the use of AI in the airline industry, with a specific focus on flight path optimization. Analyze current technologies, challenges, and innovative approaches to improving flight path efficiency.\"\n\n- Input: \"I'm interested in exploring how blockchain is transforming supply chain management.\"\n  Output: \"Investigate the impact of blockchain technology on supply chain management, emphasizing current applications, challenges, and future trends.\"\n\nApply these guidelines to generate a detailed, research-focused query from the user's input.\n\nDO NOT GIVE THE OUTPUT DOUBLE QUOTES",
              "role": "system"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -528,
        672
      ],
      "id": "55b7d1f4-9d1b-4239-9611-5f80cdbe5783",
      "name": "OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "2tblKBdxIYKIdlXe",
          "name": "OpenAi account 4"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.perplexity.ai/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 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"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"sonar\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are a deep-dive research assistant. Your role is to provide comprehensive, detailed, and structured research insights on the given query. Focus on analyzing current trends, technologies, challenges, and potential solutions in the specified field.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"{{ $json.message.content }}\"\n    }\n  ],\n  \"max_tokens\": 1000,\n  \"temperature\": 0.7,\n  \"citations\": true\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -224,
        672
      ],
      "id": "6126e214-e0f7-48aa-b919-8b8a7815b1b0",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2f4df325-90df-4765-8879-d2013d952e41",
              "name": "response",
              "value": "={{ $json.choices[0].message.content }}\n\n{{ $json.citations }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -32,
        672
      ],
      "id": "9d188741-15c6-45d0-8979-f9c51eb67b37",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "={{ $json.query }}"
            },
            {
              "content": "=You are a Query Rewording Assistant specialized in generating brainstorming queries for niche topics using Perplexity. When a user provides a topic or idea, your task is to transform that input into a clear, concise, and focused query that is optimized for brainstorming creative ideas. \n\nRequirements:\n1. **Clarity:** Ensure the query is straightforward and easily understood.\n2. **Niche Focus:** Highlight the specific niche or context mentioned by the user.\n3. **Brainstorming Orientation:** Frame the query in a way that invites multiple creative approaches and ideas.\n4. **Conciseness:** Keep the query brief and to the point, while capturing all relevant details.\n\nFor example:\n- If a user says: \"I want to do an article on AI agents' practical applications,\" you could generate: \"Brainstorm innovative angles for an article on the practical applications of AI agents across industries.\"\n\nApply these guidelines to each input to produce an effective brainstorming query.\n\nNO DOUBLE QUOTES IN OUTPUT",
              "role": "system"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        736,
        224
      ],
      "id": "2a55837e-5bd0-48d2-a319-7560f271acfc",
      "name": "OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "2tblKBdxIYKIdlXe",
          "name": "OpenAi account 4"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.perplexity.ai/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 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"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"sonar\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are a content ideation assistant specialized in identifying trending and engaging blog topics. Your role is to search for and curate blog ideas by synthesizing information from current news, popular Reddit discussions, and other online trends. Give the user 5 ideas. For each idea, provide a clear, concise title and a brief explanation of why the topic is timely, relevant, and engaging for a blog audience. Ensure that your response is structured as a numbered list, with each item including both the idea and its context.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"{{ $json.message.content }}\"\n    }\n  ],\n  \"max_tokens\": 1000,\n  \"temperature\": 0.7,\n  \"citations\": true\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        272,
        240
      ],
      "id": "fcfbf23f-aa27-46ac-b3a5-fc3c46394757",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2f4df325-90df-4765-8879-d2013d952e41",
              "name": "response",
              "value": "={{ $json.choices[0].message.content }}\n\n{{ $json.citations }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -192,
        240
      ],
      "id": "a5202193-643f-4cf9-96d2-46893556f343",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "WDTJSUail3kQTpv2",
          "mode": "list",
          "cachedResultUrl": "/workflow/WDTJSUail3kQTpv2",
          "cachedResultName": "My workflow"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {}
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        704,
        32
      ],
      "id": "9b266b4f-ea9d-4b01-917e-7751fc44b896",
      "name": "Call 'My workflow'"
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "query": "ai and education"
        }
      }
    ]
  },
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Idea Generation": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Research Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "SerpAPI": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Update File": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create File": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI1": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'My workflow'": {
      "main": [
        [
          {
            "node": "OpenAI1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "d7073573-2deb-4863-8e67-6c23cc1550cc",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "cd802ee9f42510dd9d81c36aaff1154cccb2c0b4b71a80bb397120ad853d7d93"
  },
  "id": "TUtF3ACMlNfj7S9C",
  "tags": []
}