Workflow_automation_using_ai_tools/Automate Web Interactions with GPT and Airtop Browser Agent.json
{
  "name": "Automate Web Interactions with GPT and Airtop Browser Agent",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.Prompt }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=# Agent goal\nYou are a smart, advanced web agent connected with tools that allow you to manage a remote web browser. Your goal is to fulfill the human's request.\n\n## Start the browser\nYou should always start by using the `Start browser` tool to get the `sessionId` and `windowId` required by other tools.\n\n## Use the `Query` tool\nYou don't have access to the browser screen but you can call the `Query` tool to get knowladge and hints of the current browser window. This tool accepts queries in natural language and can output information in plain text, markdown or JSON.\n\n## Use the `Click` tool\nUse the `Click` tool to click on an element on the web page. Describe the element in details in the \"Element Description\" field, Be specific and refer to elements that are on the page. \n\n## Use the `Type` tool\nUse the `Type` tool to type in text boxes. Describe the text box in \"Element Description\" field and the text to type in the \"Text\" field. The 'Type' tool is clicking Enter after typing the text so don't send [ENTER] commandes.\n\n### Examples for how to use the `Query` tool\n- Ask something about the current page:\n  \"Is the user logged in? Answer with Yes or No\"\n- Retrieve information:\n  \"Extract all the posts in the page, include the title and copy, output in JSON format\"\n- Get hints on the UI:\n  \"Is there a link to the contact form? If yes, describe the element in detail\"\n\n\n## Important\n- Start by calling `Start browser` to begin using the browser and provide the initial URL\n- The human ONLY sees your last message\n- Make sure to include all the important information requested by the human in your LAST message\n- Call `End session` with the `sessionId` once you have finished using the browser\n\n",
          "maxIterations": 20,
          "returnIntermediateSteps": false,
          "passthroughBinaryImages": true
        }
      },
      "id": "415a996f-9994-4d60-bfff-47354605fbf6",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        -272,
        -192
      ],
      "retryOnFail": true,
      "typeVersion": 1.8,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Click on any element in the window",
        "resource": "interaction",
        "sessionId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Session_ID', \"The `sessionId` returned by the `Create session` tool\", 'string') }}",
        "windowId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Window_ID', \"The `windowId` returned by the `Open window` tool\", 'string') }}",
        "elementDescription": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Element_Description', `Describe in detail the element to click on, e.g. The menu item \"about us\" at the top of the page`, 'string') }}",
        "additionalFields": {
          "waitForNavigation": "load"
        }
      },
      "id": "62c2df1e-71a7-4fbb-9c39-6fb7321b3e11",
      "name": "Click",
      "type": "n8n-nodes-base.airtopTool",
      "position": [
        -496,
        32
      ],
      "typeVersion": 1,
      "credentials": {
        "airtopApi": {
          "id": "2TYNT7UIzl8mKvCU",
          "name": "Airtop account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Query the page, ask and extract information",
        "resource": "extraction",
        "operation": "query",
        "sessionId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Session_ID', \"The `sessionId` returned by the `Create session` tool\", 'string') }}",
        "windowId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Window_ID', \"The `windowId` returned by the `Open window` tool\", 'string') }}",
        "prompt": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prompt', `Ask anything and request to extract information from the current page, e.g. \"Is there any sign-up form? yes or no\"`, 'string') }}",
        "additionalFields": {}
      },
      "id": "293a4184-d5b3-4e70-8d17-88c42175858f",
      "name": "Query",
      "type": "n8n-nodes-base.airtopTool",
      "position": [
        -368,
        32
      ],
      "typeVersion": 1,
      "credentials": {
        "airtopApi": {
          "id": "2TYNT7UIzl8mKvCU",
          "name": "Airtop account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Load a URL into the browser window",
        "resource": "window",
        "operation": "load",
        "sessionId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Session_ID', \"The `sessionId` returned by the `Create session` tool\", 'string') }}",
        "windowId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Window_ID', \"The `windowId` returned by the `Open window` tool\", 'string') }}",
        "url": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('URL', ``, 'string') }}",
        "additionalFields": {}
      },
      "id": "b29f27c9-6476-4ff3-9cbe-89219c9eb931",
      "name": "Load URL",
      "type": "n8n-nodes-base.airtopTool",
      "position": [
        -256,
        32
      ],
      "typeVersion": 1,
      "credentials": {
        "airtopApi": {
          "id": "2TYNT7UIzl8mKvCU",
          "name": "Airtop account"
        }
      }
    },
    {
      "parameters": {
        "operation": "terminate",
        "sessionId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Session_ID', \"The `sessionId` returned by the `Create session` tool\", 'string') }}"
      },
      "id": "27fb4ce6-5d00-496b-8878-bf449aec99fa",
      "name": "End session",
      "type": "n8n-nodes-base.airtopTool",
      "position": [
        -128,
        32
      ],
      "typeVersion": 1,
      "credentials": {
        "airtopApi": {
          "id": "2TYNT7UIzl8mKvCU",
          "name": "Airtop account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Type text into the page's element described",
        "resource": "interaction",
        "operation": "type",
        "sessionId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Session_ID', \"The `sessionId` returned by the `Create session` tool\", 'string') }}",
        "windowId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Window_ID', \"The `windowId` returned by the `Open window` tool\", 'string') }}",
        "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Text', ``, 'string') }}",
        "pressEnterKey": true,
        "elementDescription": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Element_Description', `Describe in detail the element to type into, e.g. The search box at the top of the page`, 'string') }}",
        "additionalFields": {}
      },
      "id": "6ec79350-d52d-4aa1-998f-c146d0c38edd",
      "name": "Type",
      "type": "n8n-nodes-base.airtopTool",
      "position": [
        -16,
        32
      ],
      "typeVersion": 1,
      "credentials": {
        "airtopApi": {
          "id": "2TYNT7UIzl8mKvCU",
          "name": "Airtop account"
        }
      }
    },
    {
      "parameters": {
        "name": "Start_Browser",
        "description": "Start a new browser session and window",
        "workflowId": {
          "__rl": true,
          "value": "4qpI6A1OIsXQSgCu",
          "mode": "list",
          "cachedResultName": "Airtop Web Agent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "url": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('url', `URL to loa`, 'string') }}",
            "profile_name": "={{ $('On form submission').item.json['Airtop Profile Name (for sites that require authentication)'] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "url",
              "displayName": "url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "profile_name",
              "displayName": "profile_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "id": "a1cf5c82-1aec-461c-9971-b5c4108752fe",
      "name": "Start browser",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "position": [
        112,
        32
      ],
      "typeVersion": 2.1
    },
    {
      "parameters": {
        "formTitle": "Instruction for the Web AI Agent",
        "formDescription": "Provide detailed instructions to the web AI agent. Use an [Airtop Profile](https://docs.airtop.ai/guides/how-to/saving-a-profile) for websites that need login.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Prompt",
              "fieldType": "textarea",
              "placeholder": "e.g. Find the top 10 products in producthunt.com",
              "requiredField": true
            },
            {
              "fieldLabel": "Airtop Profile Name (for sites that require authentication)",
              "placeholder": "e.g. my-airtop-profile"
            }
          ]
        },
        "options": {}
      },
      "id": "39fb1b80-be90-48de-b3b1-6fd64ec86af6",
      "name": "On form submission",
      "type": "n8n-nodes-base.formTrigger",
      "position": [
        -832,
        -96
      ],
      "webhookId": "dbbb8b5a-a81c-4cde-9f46-f4808d7f0dc4",
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n\t\"type\": \"object\",\n\t\"properties\": {\n\t\t\"results\": {\n\t\t\t\"type\": \"string\",\n            \"description\": \"Synthesis of the agent's results. Must include all the relevant information related to the user's request\"\n\t\t}\n\t}\n}"
      },
      "id": "b78ec260-ba09-4fc7-b2b9-0e17052e4ce5",
      "name": "Structured Output Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "position": [
        240,
        32
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e1d6ab7c-2f45-44fd-9457-bb3046fad4c5",
              "name": "output",
              "type": "string",
              "value": "={{ $json.output.results }}"
            }
          ]
        },
        "options": {}
      },
      "id": "e4848b0b-64b0-4465-94ff-7110c44f5810",
      "name": "Output",
      "type": "n8n-nodes-base.set",
      "position": [
        432,
        -96
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -608,
        32
      ],
      "id": "4fc88b79-1eff-49b9-9b16-7af489595879",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "eMFNLExNXylDNTIi",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.output }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "I will give you plain text. Your job is to convert it into a full, beautiful Text format for my .txt file.\nKeep everything well-formatted\nDo not write additional text.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        640,
        -96
      ],
      "id": "461726d7-0ff0-4446-a941-90596473ab21",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        592,
        160
      ],
      "id": "87ff0bdd-ec46-4f7e-a586-23868b8a86a5",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "eMFNLExNXylDNTIi",
          "name": "OpenAi account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Type": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Click": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Query": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Output": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load URL": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "End session": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Start browser": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "On form submission": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "16728a4b-1d96-49a6-8f12-5f3aba179311",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "93ed6a94a482e1415c1391a4d98bec025d67c846672cce4bbbb4a9390479302a"
  },
  "id": "s51ywX23OZEdyDvY",
  "tags": []
}