Workflow_automation_using_ai_tools/Generate Business Ideas & Social Media Content from Reddit with AI Analysis to Telegram.json
{
  "name": "Generate Business Ideas & Social Media Content from Reddit with AI Analysis to Telegram",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 12
            }
          ]
        }
      },
      "id": "f0a9bcb9-4b73-47fd-be94-c63ac878928e",
      "name": "Daily Schedule",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        -4288,
        -112
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "operation": "search",
        "subreddit": "ArtificialInteligence",
        "keyword": "AI automation OR workflow automation OR business automation",
        "limit": 5,
        "additionalFields": {
          "sort": "new"
        }
      },
      "id": "11da7eb1-9faa-43cf-bf4e-f7b8c0429b43",
      "name": "Search AI Automation",
      "type": "n8n-nodes-base.reddit",
      "position": [
        -3760,
        -304
      ],
      "typeVersion": 1,
      "credentials": {
        "redditOAuth2Api": {
          "id": "mLaMkTh5skKu2Pc3",
          "name": "Reddit account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "subreddit": "n8n",
        "limit": 5,
        "filters": {
          "category": "hot"
        }
      },
      "id": "44f2261a-4d86-4de4-a60e-9034b3443866",
      "name": "Search n8n Posts",
      "type": "n8n-nodes-base.reddit",
      "position": [
        -3760,
        -112
      ],
      "typeVersion": 1,
      "credentials": {
        "redditOAuth2Api": {
          "id": "mLaMkTh5skKu2Pc3",
          "name": "Reddit account"
        }
      }
    },
    {
      "parameters": {
        "operation": "search",
        "subreddit": "entrepreneur",
        "keyword": "AI business OR artificial intelligence business OR automation startup",
        "limit": 5,
        "additionalFields": {
          "sort": "hot"
        }
      },
      "id": "7d35bcd3-783e-4177-8f1b-fb50476c3975",
      "name": "Search AI Business",
      "type": "n8n-nodes-base.reddit",
      "position": [
        -3760,
        64
      ],
      "typeVersion": 1,
      "credentials": {
        "redditOAuth2Api": {
          "id": "mLaMkTh5skKu2Pc3",
          "name": "Reddit account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1e99c004-1bac-4a56-942e-7e8614f33e55",
              "name": "selftext",
              "type": "string",
              "value": "={{ $json.selftext }}"
            }
          ]
        },
        "options": {}
      },
      "id": "dd4f329e-e823-4e85-8b39-2e057c932276",
      "name": "Prepare Focused Data",
      "type": "n8n-nodes-base.set",
      "position": [
        -2880,
        -32
      ],
      "typeVersion": 3.3
    },
    {
      "parameters": {
        "chatId": "6617255993",
        "text": "={{ $json.message }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "a3507a7c-2f0e-41d5-af72-b36af84c919c",
      "name": "Send to Telegram",
      "type": "n8n-nodes-base.telegram",
      "position": [
        -1280,
        -128
      ],
      "webhookId": "d70b90dc-1c10-4d4e-8b75-548c311a8435",
      "typeVersion": 1.2,
      "credentials": {
        "telegramApi": {
          "id": "QVH0IbYTmFQz8Yii",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "id": "ad551d2d-acbe-4c14-8a66-2114a5221e4f",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "position": [
        -3472,
        -112
      ],
      "typeVersion": 3.2
    },
    {
      "parameters": {
        "inputText": "={{ $json.selftext }}",
        "categories": {
          "categories": [
            {
              "category": "Quesions",
              "description": "=- Inquiries seeking information or explanations - Contains question words (how, what, why, when, where) - Seeks understanding or clarification\nExamples: \"How do I...\", \"What is...\", \"Can you explain...\", \"Is it possible to..."
            },
            {
              "category": "Requests",
              "description": "=- Asks for specific actions or deliverables\n- Contains action verbs (create, build, make, develop)\n- Seeks execution of tasks or services\nExamples: \"Please create...\", \"I need you to...\", \"Build me...\", \"Set up..."
            }
          ]
        },
        "options": {}
      },
      "id": "845e871c-4e18-4636-8225-2ca50e69a6bd",
      "name": "Text Classifier",
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "position": [
        -3280,
        -112
      ],
      "typeVersion": 1.1,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.selftext }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=## Role\nYou are Femi Adedayo, a Nigerian entrepreneur and AI automation expert who runs multiple businesses including restaurants, media companies, and an AI automation agency. You specialize in AI, automation tools (especially n8n), and empowering entrepreneurs globally with technology.\n\n## Task\nYour task is to:\n\n1. Analyze the provided reddit question from {{ $json.selftext }} where someone is seeking information, advice, or understanding about automation/business topics.\n\n2. Summarize the question into a concise analysis detailing what the user wants to learn or understand.\n\n3. Assign a relevancy score based on how well this question aligns with my expertise areas (AI, automation, n8n, entrepreneurship, business development), on a scale from 0.05-0.95.\n\n4. Assign a detail score based on how specific and well-formed the question is. Anything over 0.9 should be detailed enough to provide a comprehensive answer. Anything under 0.5 should be vague or broad questions.\n\n5. Generate educational social media content ideas that position me as a thought leader answering these types of questions.\n\nFor context, I run an AI Automation agency and help entrepreneurs leverage technology for business growth.\n\n## Analysis Framework\n\n**Step 1: Question Analysis & Scoring**\n- **Relevancy Score (0.05-0.95):** How well does this question align with my expertise in AI/automation/entrepreneurship?\n- **Detail Score (0.05-0.95):** How specific and answerable is this question?\n- **Educational Opportunity:** Can this become valuable teaching content?\n\n**Step 2: Question Summary**\nProvide a concise 5-line summary:\n- **Core Question:** [What the user wants to know/understand]\n- **Knowledge Gap:** [What they're missing or need clarity on]\n- **Business Context:** [Why this matters for entrepreneurs/businesses]\n- **Automation Angle:** [How this connects to AI/automation solutions]\n- **Teaching Opportunity:** [Educational value for my audience]\n\n## Social Media Content Strategy\n\n**LinkedIn Posts (Educational/Thought Leadership):**\n1. [In-depth answer with actionable insights and real examples]\n2. [Educational framework addressing this type of question]\n3. [Case study or experience sharing related to this topic]\n\n**Twitter Posts (Quick Education/Engagement):**\n1. [Concise answer with key insight highlighted]\n2. [Question to engage audience with similar challenges]\n3. [Thread starter diving deeper into the topic]\n\n## Output Requirements\nOnly output the analysis summary and the scores. Do not provide an explanation of the scoring methodology.\n\n**Format:** Generate ONE comprehensive response with:\n- Relevancy Score: [0.XX]\n- Detail Score: [0.XX]\n- Question summary (5 lines)\n- Educational content ideas (3 LinkedIn + 3 Twitter)"
        }
      },
      "id": "5bc61a70-0597-45ae-a816-5b5e5628165a",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        -2672,
        -256
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.selftext }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=## Role\nYou are Femi Adedayo, a Nigerian entrepreneur and AI automation expert who runs multiple businesses including restaurants, media companies, and an AI automation agency. You specialize in AI, automation tools (especially n8n), and empowering entrepreneurs globally with technology.\n\n## Task\nYour task is to:\n\n1. Analyze the provided reddit request from {{ $json.selftext }} where someone is asking for an AI automation system, workflow, or service to be created.\n\n2. Summarize the request into a concise analysis detailing the exact solution the user wants to be built or implemented.\n\n3. Assign a relevancy score based on how well this request aligns with my agency's service offerings (AI workflows, n8n automation, business process automation), on a scale from 0.05-0.95.\n\n4. Assign a feasibility score based on the technical complexity and my ability to deliver this solution. Anything over 0.9 should be easily achievable with my current tech stack. Anything under 0.5 should require significant custom development or be outside my expertise.\n\n5. Generate sales-focused social media content that showcases my ability to solve similar problems.\n\nFor context, I run an AI Automation agency which builds automated workflows, AI agents, and business solutions, primarily using n8n.\n\n## Analysis Framework\n\n**Step 1: Request Analysis & Scoring**\n- **Relevancy Score (0.05-0.95):** How well does this request match my agency's core services?\n- **Feasibility Score (0.05-0.95):** How achievable is this with my current capabilities and tools?\n- **Revenue Potential:** Can this be turned into a profitable client engagement?\n\n**Step 2: Solution Summary**\nProvide a concise 5-line summary:\n- **Requested Solution:** [What the client wants built/automated]\n- **Key Requirements:** [Essential features and functionality needed]\n- **Business Value:** [ROI and impact for the requester]\n- **Technical Approach:** [How I would solve this with n8n/AI tools]\n- **Project Scope:** [Estimated complexity and timeline]\n\n## Social Media Content Strategy\n\n**LinkedIn Posts (Solution-Focused/Authority Building):**\n1. [Case study showcasing similar solution I've delivered]\n2. [Problem-solution post addressing this exact pain point]\n3. [Behind-the-scenes content showing how I build these systems]\n\n**Twitter Posts (Quick Wins/Lead Generation):**\n1. [Before/after transformation highlighting automation impact]\n2. [Quick tip or insight related to solving this type of problem]\n3. [Thread breaking down how to approach this automation challenge]\n\n## Output Requirements\nOnly output the analysis summary and the scores. Do not provide an explanation of the scoring methodology.\n\n**Format:** Generate ONE comprehensive response with:\n- Relevancy Score: [0.XX]\n- Feasibility Score: [0.XX]\n- Solution summary (5 lines)\n- Sales-focused content ideas (3 LinkedIn + 3 Twitter)"
        }
      },
      "id": "63f5b053-ae04-42fb-b8a7-c0521abf40a5",
      "name": "AI Agent1",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        -2688,
        -32
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {
          "includeUnpaired": true
        }
      },
      "id": "c7303d8b-0d9c-45bd-9759-48b97309d330",
      "name": "Merge1",
      "type": "n8n-nodes-base.merge",
      "position": [
        -2064,
        -128
      ],
      "typeVersion": 3.2
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1e99c004-1bac-4a56-942e-7e8614f33e55",
              "name": "selftext",
              "type": "string",
              "value": "={{ $json.selftext }}"
            }
          ]
        },
        "options": {}
      },
      "id": "02a90e0a-e3d7-4a2b-af6d-3437d65762f2",
      "name": "Prepare Focused Data1",
      "type": "n8n-nodes-base.set",
      "position": [
        -2880,
        -256
      ],
      "typeVersion": 3.3
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9e5ef447-0612-4f26-98c0-efada3c57810",
              "name": "Score",
              "type": "number",
              "value": "={{ $json.output.relevance_score.score }}\n"
            },
            {
              "id": "6452ec00-4f27-4eb1-b7c2-9db814f5ee35",
              "name": "Meaning",
              "type": "string",
              "value": "={{ $json.output.relevance_score.meaning }}"
            },
            {
              "id": "c1b7b3f3-8817-4bda-82a0-761134f91299",
              "name": "Summary",
              "type": "string",
              "value": "={{ $json.output.summary }}"
            },
            {
              "id": "a54f313b-6d09-41e3-ad54-7a2a6f56fa40",
              "name": "Social Media Content",
              "type": "string",
              "value": "={{ $json.output.social_content }}"
            }
          ]
        },
        "options": {}
      },
      "id": "a9491c18-9a87-4ef3-a214-f827eefea94d",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "position": [
        -2240,
        -336
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9e5ef447-0612-4f26-98c0-efada3c57810",
              "name": "Score",
              "type": "number",
              "value": "={{ $json.output.relevance_score.score }}\n"
            },
            {
              "id": "6452ec00-4f27-4eb1-b7c2-9db814f5ee35",
              "name": "Meaning",
              "type": "string",
              "value": "={{ $json.output.relevance_score.meaning }}"
            },
            {
              "id": "c1b7b3f3-8817-4bda-82a0-761134f91299",
              "name": "Summary",
              "type": "string",
              "value": "={{ $json.output.summary }}"
            },
            {
              "id": "a54f313b-6d09-41e3-ad54-7a2a6f56fa40",
              "name": "Social Media Content",
              "type": "string",
              "value": "={{ $json.output.social_content }}"
            }
          ]
        },
        "options": {}
      },
      "id": "9bc58568-9986-4ab3-a54f-c966fef1b383",
      "name": "Edit Fields2",
      "type": "n8n-nodes-base.set",
      "position": [
        -2240,
        80
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a57c73b1-c358-4bec-b4e0-7f24f398dd05",
              "name": "Meaning",
              "type": "string",
              "value": "={{ $json.Meaning }}"
            },
            {
              "id": "c6cec6e1-92a6-400c-a4e8-64066340bbab",
              "name": "Summary",
              "type": "string",
              "value": "={{ $json.Summary }}"
            },
            {
              "id": "fb58ff1e-60e5-444a-a3f7-0d1bc7a8df60",
              "name": "Social Media Content",
              "type": "string",
              "value": "={{ $json['Social Media Content'] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "4859f12f-0e80-4f1e-bfe4-2d43eabd4e08",
      "name": "Edit Fields1",
      "type": "n8n-nodes-base.set",
      "position": [
        -1856,
        -128
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "jsCode": "// Get all input items\nconst items = $input.all();\n\n// Build Telegram message\nlet telegramMessage = `🚀 SOCIAL MEDIA CONTENT STRATEGY\n\n📅 Generated: ${new Date().toLocaleDateString()}\n📊 Strategic Opportunities: ${items.length}\n\nImplementation-Ready Content Below\n${'_'.repeat(40)}\n\n`;\n\nitems.forEach((item, index) => {\n  // Parse social media content with robust error handling\n  let socialContent = {\n    linkedin_posts: [],\n    twitter_posts: []\n  };\n  \n  try {\n    if (item.json && item.json[\"Social Media Content\"]) {\n      const parsed = JSON.parse(item.json[\"Social Media Content\"]);\n      if (parsed && typeof parsed === 'object') {\n        socialContent = {\n          linkedin_posts: Array.isArray(parsed.linkedin_posts) ? parsed.linkedin_posts : [],\n          twitter_posts: Array.isArray(parsed.twitter_posts) ? parsed.twitter_posts : []\n        };\n      }\n    }\n  } catch (error) {\n    // Keep default empty arrays\n  }\n\n  telegramMessage += `\n🎯 OPPORTUNITY ${String(index + 1).padStart(2, '0')}\n${'-'.repeat(25)}\n\n📝 MEANING:\n${item.json && item.json.Meaning ? item.json.Meaning : 'No meaning provided'}\n\n📋 SUMMARY:\n${item.json && item.json.Summary ? item.json.Summary : 'No summary provided'}\n\n💼 LINKEDIN CONTENT:\n`;\n\n  if (socialContent.linkedin_posts && socialContent.linkedin_posts.length > 0) {\n    socialContent.linkedin_posts.forEach((post, postIndex) => {\n      if (typeof post === 'string' && post.trim()) {\n        telegramMessage += `\n${postIndex + 1}. ${post.trim()}\n`;\n      }\n    });\n  } else {\n    telegramMessage += `\nNo LinkedIn content available.\n`;\n  }\n\n  telegramMessage += `\n🐦 TWITTER CONTENT:\n`;\n\n  if (socialContent.twitter_posts && socialContent.twitter_posts.length > 0) {\n    socialContent.twitter_posts.forEach((post, postIndex) => {\n      if (typeof post === 'string' && post.trim()) {\n        telegramMessage += `\n${postIndex + 1}. ${post.trim()}\n`;\n      }\n    });\n  } else {\n    telegramMessage += `\nNo Twitter content available.\n`;\n  }\n\n  telegramMessage += `\n${'═'.repeat(40)}\n`;\n});\n\n// Add footer\ntelegramMessage += `\n✅ ANALYSIS COMPLETE\n\n${'_'.repeat(25)}\n\n✓ ${items.length} opportunities analyzed\n✓ Content strategies finalized\n✓ Implementation ready\n\n🤖 AI Automation Agency\n📈 Strategic Intelligence Division\n\n${'_'.repeat(25)}\n`;\n\n// Return single output for Telegram\nreturn [{\n  json: {\n    message: telegramMessage,\n    totalItems: items.length\n  }\n}];\n"
      },
      "id": "90b91762-a971-4057-9e7c-46a1618d438f",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "position": [
        -1648,
        -128
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "jsCode": "// Get the input data\nconst inputData = $input.first().json;\n\n// Ultra-aggressive cleaning - remove ALL non-basic ASCII characters\nconst cleanMessage = inputData.message\n  .replace(/[^\\x20-\\x7E\\n\\r\\t]/g, '') // Remove all non-ASCII\n  .replace(/[#*_`\\[\\]()]/g, '') // Remove potential markdown characters\n  .trim();\n\n// Telegram limit is 4096 characters, leave buffer for our headers\nconst maxChunkSize = 3800;\nconst chunks = [];\n\n// Split into chunks that fit Telegram's limit\nfor (let i = 0; i < cleanMessage.length; i += maxChunkSize) {\n  let chunk = cleanMessage.slice(i, i + maxChunkSize);\n  \n  // Try to break at a natural point (newline) if we're not at the end\n  if (i + maxChunkSize < cleanMessage.length) {\n    const lastNewline = chunk.lastIndexOf('\\n');\n    if (lastNewline > maxChunkSize * 0.8) { // Only if newline is reasonably close to end\n      chunk = cleanMessage.slice(i, i + lastNewline);\n      i = i + lastNewline - maxChunkSize; // Adjust the loop counter\n    }\n  }\n  \n  chunks.push(chunk.trim());\n}\n\n// Return all chunks as separate messages\nconst results = [];\nfor (let i = 0; i < chunks.length; i++) {\n  const header = chunks.length > 1 ? `PART ${i + 1} OF ${chunks.length}\\n\\n` : '';\n  results.push({\n    json: {\n      ...inputData,\n      message: header + chunks[i]\n    }\n  });\n}\n\nreturn results;"
      },
      "id": "beb5af59-95af-4b6c-b046-9a4ec803cd46",
      "name": "Code1",
      "type": "n8n-nodes-base.code",
      "position": [
        -1472,
        -128
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -3280,
        128
      ],
      "id": "9bfd182e-2998-4337-bde6-b35ba3fb92db",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "WeOrHJL5CKijLoVI",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -4288,
        80
      ],
      "id": "e901c626-ef47-435d-81fb-54301f776b8e",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -2688,
        -128
      ],
      "id": "5adab80d-91f8-42cd-b4ef-947a556e7a4f",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "frEneSu11hpc8feL",
          "name": "OpenAi account AUDIO"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -2688,
        128
      ],
      "id": "6dd3a74d-2ae6-42d7-88a1-e4800e7bf597",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "frEneSu11hpc8feL",
          "name": "OpenAi account AUDIO"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"content_type\": \"request\",\n  \"relevance_score\": {\n    \"score\": 0.85,\n    \"meaning\": \"High alignment with AI automation agency services\"\n  },\n  \"summary\": \"User wants automated lead qualification system with CRM integration. Requires form capture, AI scoring, and follow-up sequences. Medium complexity project with 2-3 week timeline and strong ROI potential.\",\n  \"social_content\": {\n    \"linkedin_posts\": [\n      \"Case study: How we built a similar lead qualification system that increased conversions by 45%\",\n      \"The hidden cost of manual lead qualification and how automation solves it\",\n      \"Behind the scenes: Building intelligent lead scoring with n8n and AI\"\n    ],\n    \"twitter_posts\": [\n      \"Before: 4 hours daily on lead qualification. After: 15 minutes. This is the power of automation.\",\n      \"What's your biggest lead management pain point? Drop it below 👇\",\n      \"Thread: Step-by-step guide to building automated lead qualification systems\"\n    ]\n  }\n}",
        "autoFix": true
      },
      "id": "f87b1601-eba1-421e-9af6-31bf71964359",
      "name": "Structured Output Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "position": [
        -2544,
        224
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -2544,
        400
      ],
      "id": "da3e4272-3d6e-420d-941b-abe35872629d",
      "name": "OpenAI Chat Model3",
      "credentials": {
        "openAiApi": {
          "id": "WeOrHJL5CKijLoVI",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Code": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Send to Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Text Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Daily Schedule": {
      "main": [
        []
      ]
    },
    "Text Classifier": {
      "main": [
        [
          {
            "node": "Prepare Focused Data1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare Focused Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search n8n Posts": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Search AI Business": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Prepare Focused Data": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search AI Automation": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Focused Data1": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Text Classifier",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Search AI Business",
            "type": "main",
            "index": 0
          },
          {
            "node": "Search n8n Posts",
            "type": "main",
            "index": 0
          },
          {
            "node": "Search AI Automation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          },
          {
            "node": "AI Agent1",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "Structured Output Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "5e133446-886b-408f-be27-2d3791a03c23",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f2f9a39beefde290018433988fb188a8717f5a87fc352d6cf5aaa1908f787990"
  },
  "id": "WO2ASwY1cf8bZepK",
  "tags": [
    {
      "createdAt": "2025-08-30T08:10:55.916Z",
      "updatedAt": "2025-08-30T08:10:55.916Z",
      "id": "61inEshZeyja0tRn",
      "name": "OpenAI"
    },
    {
      "createdAt": "2025-08-27T08:31:49.856Z",
      "updatedAt": "2025-08-27T08:31:49.856Z",
      "id": "B2AFftwQtk7Sqg0p",
      "name": "Google Drive"
    },
    {
      "createdAt": "2025-08-30T07:50:58.476Z",
      "updatedAt": "2025-08-30T07:50:58.476Z",
      "id": "JWWzxMonQm1xak59",
      "name": "Google Analytics"
    },
    {
      "createdAt": "2025-08-27T09:15:37.322Z",
      "updatedAt": "2025-08-27T09:15:37.322Z",
      "id": "QHNaarQl9uFZJgsN",
      "name": "AI"
    },
    {
      "createdAt": "2025-08-30T07:50:58.159Z",
      "updatedAt": "2025-08-30T07:50:58.159Z",
      "id": "YtViYIc6eQMm9TrJ",
      "name": "Utility"
    },
    {
      "createdAt": "2025-08-30T08:22:28.292Z",
      "updatedAt": "2025-08-30T08:22:28.292Z",
      "id": "t4lG8eZAFvQiGt7I",
      "name": "Building Blocks"
    }
  ]
}