Workflow_automation_using_ai_tools/RSS Monitoring with AI Summaries.json
{
  "name": "RSS Monitoring with AI Summaries",
  "nodes": [
    {
      "parameters": {},
      "id": "abe6ed52-40ac-4ed5-abea-419d94505509",
      "name": "When clicking ‘Execute workflow’",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        1136,
        1152
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "mode": "url",
          "value": "={{ $json.Document }}"
        },
        "sheetName": {
          "__rl": true,
          "mode": "url",
          "value": "={{ $json[\"Rss Feeds\"] }}"
        },
        "options": {}
      },
      "id": "43696041-99ea-4d24-b677-d025bb556544",
      "name": "Get RSS Feed List",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        1840,
        1072
      ],
      "notesInFlow": true,
      "typeVersion": 4.6,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "pF2CcSw9COIj9WOV",
          "name": "Google Sheets account"
        }
      },
      "notes": "Get feeds Url's  from Google Sheet"
    },
    {
      "parameters": {
        "url": "={{ $json[\"RSS URL\"] }}",
        "options": {
          "ignoreSSL": true
        }
      },
      "id": "02fc9382-dd56-4af0-8c1c-9f3c83461b05",
      "name": "Read RSS",
      "type": "n8n-nodes-base.rssFeedRead",
      "position": [
        2320,
        1264
      ],
      "executeOnce": true,
      "notesInFlow": true,
      "typeVersion": 1.2,
      "notes": "This read RSS channel"
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "c39a746a-639e-4d21-9dac-6974bb52a030",
      "name": "Loop Over Rss Elements",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [
        2880,
        592
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "mode": "url",
          "value": "={{ $('Settings').item.json.Document }}"
        },
        "sheetName": {
          "__rl": true,
          "mode": "url",
          "value": "={{ $('Settings').item.json[\"Articles Sheet\"] }}"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "link",
              "lookupValue": "={{ $json.link }}"
            }
          ]
        },
        "options": {}
      },
      "id": "b7f5ad99-0ea3-45b6-ae0b-07458a4255b3",
      "name": "Get Row for URL is in Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        3088,
        608
      ],
      "notesInFlow": true,
      "typeVersion": 4.6,
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "pF2CcSw9COIj9WOV",
          "name": "Google Sheets account"
        }
      },
      "notes": "Check if the record with the link exists in Google Sheets"
    },
    {
      "parameters": {
        "html": "={{ $json.data }}",
        "options": {
          "ignore": "img,form",
          "blockElements": ""
        }
      },
      "id": "05c8ff40-8232-4683-950a-37fa60d87eb2",
      "name": "Convert HTML to Markdown",
      "type": "n8n-nodes-base.markdown",
      "position": [
        3968,
        592
      ],
      "notesInFlow": true,
      "typeVersion": 1,
      "notes": "Markdown is more friendly LLM format than HTML"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "mode": "url",
          "value": "={{ $('Settings').item.json.Document }}"
        },
        "sheetName": {
          "__rl": true,
          "mode": "url",
          "value": "={{ $('Settings').item.json[\"Articles Sheet\"] }}"
        },
        "columns": {
          "value": {
            "link": "={{ $('Loop Over Rss Elements').item.json.link }}",
            "title": "={{ $('Loop Over Rss Elements').item.json.title }}",
            "source": "={{ $('Loop Over Rss Elements').item.json[\"RSS NAME\"] }}",
            "pubDate": "={{ $('Loop Over Rss Elements').item.json.pubDate.toDateTime().format('yyyy-MM-dd HH:mm').toDateTime() }}",
            "ai summary": "={{ $json.text }}",
            "categories": "={{ $('Loop Over Rss Elements').item.json.categories.toJsonString() }}"
          },
          "schema": [
            {
              "id": "pubDate",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "pubDate",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "source",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "source",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "title",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "title",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "link",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "link",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "categories",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "categories",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "ai summary",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "ai summary",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [
            "link"
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "cellFormat": "RAW",
          "useAppend": true
        }
      },
      "id": "6708c44c-e1a5-4f2b-9780-c980c7a95053",
      "name": "Append Aummary to Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        4800,
        752
      ],
      "typeVersion": 4.6,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "pF2CcSw9COIj9WOV",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "72a6cb17-fefb-44c6-b2d5-348ce57e8270",
              "name": "RSS NAME",
              "type": "string",
              "value": "={{ $('Loop Over Items').item.json[\"RSS NAME\"] }}"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "366e157b-9ff0-4913-b993-7d37c3252fe2",
      "name": "Combine Rss with source name",
      "type": "n8n-nodes-base.set",
      "position": [
        2560,
        1264
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "f2fe5727-5ae3-40fe-86c5-e2ad6288303b",
              "operator": {
                "type": "object",
                "operation": "empty",
                "singleValue": true
              },
              "leftValue": "={{ $item(\"0\").$node[\"Get Row for URL is in Sheets\"].json }}",
              "rightValue": ""
            }
          ]
        },
        "options": {}
      },
      "id": "29f5c69a-c6ea-4191-bff5-914044efb76e",
      "name": "Check If Article Exists",
      "type": "n8n-nodes-base.if",
      "position": [
        3312,
        608
      ],
      "notesInFlow": true,
      "typeVersion": 2.2,
      "notes": "We check if the object is empty"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Hi Gemma Summarize This:\n\n<basic_information>\n- Date: {{ $('Loop Over Rss Elements').item.json.isoDate }}\n- Title: {{ $('Loop Over Rss Elements').item.json.title }}\n- Author/Source: {{ $('Loop Over Rss Elements').item.json.creator }} / {{ $('Loop Over Rss Elements').item.json.link }}\n- Category: {{ $('Loop Over Rss Elements').item.json.categories.toJsonString() }}\n</basic_information>\n\n<content>\n{{ $json.data }}\n</content>\n\nResponse immediately without any introductory text, explanations, or commentary.",
        "messages": {
          "messageValues": [
            {
              "message": "=You Are Gemma.\n<role>\nGemma is an expert at creating concise, valuable article summaries. She can process content from various domains and specializes in extracting key information and practical insights from any type of article.\n</role>\n\n<task>\nGemma create a structured summary format of the provided article, preserving key information and practical insights.\n</task>\n\n<steps>\n- Identify main content of sended by user.\n- Prepare summary, when writing use <writing_guidelines>.\n- Make quality control based on <quality_control>.\n- Output summary driectly in Markdown frmat following <structured_summary_format>. Check <output_formatting> for guidelines.\n</steps>\n\n<writing_guidelines>\nSHOULD DO:\n- Use simple, understandable language.\n- Maintain objectivity and accuracy.\n- Extract practical insights.\n- Emphasize specific data and numbers.\n- Prioritize actionable information.\n- Adjust detail level to article length.\n- Use bullet points for better readability.\n\nSHOULD AVOID:\n- Adding her own opinions beyond the article.\n- Repeating information in different sections.\n- Using jargon without explanation.\n- Omitting important caveats/limitations.\n- Exceeding 300 words in total summary.\n- Copying entire fragments verbatim.\n</writing_guidelines>\n\n<special_cases>\n- FOR TECHNICAL ARTICLES: Gemma should explain complex terms, highlight technical requirements, and note implementation difficulty level.\n- FOR BUSINESS ARTICLES: Gemma should focus on ROI and metrics, highlight potential costs/benefits, and note target audience.\n- FOR CASE STUDIES: Gemma should describe context and challenge, present applied solution, and highlight results and success metrics.\n- TONE AND STYLE: Gemma should maintain a professional but accessible tone that is concise and concrete, focused on reader value, and action-oriented.\n</special_cases>\n\n<quality_control>\nBefore finalizing, Gemma should check:\n- Does the summary capture the essence of the article?\n- Are all sections filled?\n- Is the information accurate and verified?\n- Is the length appropriate?\n- Does the summary have practical value?\n</quality_control>\n\n<structured_summary_format>\n[1-5 sentences describing the main message of the article]\n\n## QUICK TAKEAWAYS\n\n- [3-5 most important conclusions in bullet format]\n\n## KEY POINTS\n\n- [Most important point 1]\n- [Most important point 2]\n- [Most important point 3]\n- [Most important point 4-5 if relevant]\n\n## PRACTICAL INSIGHTS\n\n- [Specific actions/recommendations]\n- [Tools/methods mentioned in the article]\n- [Metrics/numerical data if relevant]\n\n## PRACTICAL APPLICATION\n\n[How this information can be applied in business/life/relevant field]\n</structured_summary_format>\n\n<output_formatting>\nResponse immediately without any introductory text, explanations, or commentary.\nOutput formatting is Markdown.\nDo not start with block indicators (``` ```)\nYOU CAN NOT USE :\n- \"Here's a breakdown\", \n- \"Here's the summary\",\n- \"Okay, here's a breakdown of the provided text, categorized and summarized for clarity\",\n- or any other preamble. Go directly to the structured summary format.\n</output_formatting>"
            }
          ]
        },
        "batching": {}
      },
      "id": "a3e91192-55c8-4384-8d2e-fc6cc7321c98",
      "name": "Summarize Content",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "position": [
        4192,
        592
      ],
      "retryOnFail": true,
      "typeVersion": 1.7
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "52023808-641d-4f4d-9c8f-b51c9b3bbbd1",
              "name": "text",
              "type": "string",
              "value": "={{ $json.text.replace(/<think>[\\s\\S]*?<\\/think>/g, '') }}"
            }
          ]
        },
        "options": {}
      },
      "id": "6edc03ae-3932-4b6d-b8f1-98cb2e51f4cb",
      "name": "Format Output",
      "type": "n8n-nodes-base.set",
      "position": [
        4528,
        592
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "id": "02eb922d-ae5c-4029-a01a-3a279989fa1c",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        1136,
        960
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "131b0ae1-bc12-48d8-a20d-bbffbf9b6bee",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [
        2112,
        1072
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "516c4ec9-fc16-4687-a376-86a79115afc8",
              "operator": {
                "type": "dateTime",
                "operation": "after"
              },
              "leftValue": "={{ $json.pubDate }}",
              "rightValue": "={{ $('Settings').item.json['Current Time'].toDateTime().minus($('Settings').item.json['Last X Days'],'days').startOf('day') }}"
            }
          ]
        },
        "options": {}
      },
      "id": "28c1347b-e54e-405e-ab0a-da6a422187da",
      "name": "Filter Last X Days",
      "type": "n8n-nodes-base.filter",
      "position": [
        2480,
        592
      ],
      "notesInFlow": true,
      "typeVersion": 2.2,
      "notes": "This filter only news from last x days"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "93e02cc9-f9c9-4167-ad2c-688433aa9b36",
              "name": "Document",
              "type": "string",
              "value": "https://docs.google.com/spreadsheets/d/18MfLHmAU-yOHkbwdrepdl3UFQFjzg2fVksubrkXp3Jk/edit?gid=0#gid=0"
            },
            {
              "id": "c95234c3-baff-4dd6-a3ec-3a97a10e44c1",
              "name": "Articles Sheet",
              "type": "string",
              "value": "https://docs.google.com/spreadsheets/d/18MfLHmAU-yOHkbwdrepdl3UFQFjzg2fVksubrkXp3Jk/edit?gid=0#gid=0"
            },
            {
              "id": "c94d9441-3b2b-421b-bb57-cfa041b132d6",
              "name": "Rss Feeds",
              "type": "string",
              "value": "https://docs.google.com/spreadsheets/d/18MfLHmAU-yOHkbwdrepdl3UFQFjzg2fVksubrkXp3Jk/edit?gid=514405580#gid=514405580"
            },
            {
              "id": "94b40b88-6c7f-4bdf-8896-c8b9a4f6621f",
              "name": "Current Time",
              "type": "string",
              "value": "={{ \n  $workflow.trigger === 'Schedule Trigger' ? \n  $('Schedule Trigger').item.json.timestamp : \n  $now \n}}"
            },
            {
              "id": "eba798d1-5a87-4446-bdc4-63e8a27bc510",
              "name": "Last X Days",
              "type": "number",
              "value": 31
            }
          ]
        },
        "options": {}
      },
      "id": "852a3623-87a1-4a96-99f4-eb8303ab7c2c",
      "name": "Settings",
      "type": "n8n-nodes-base.set",
      "position": [
        1568,
        1072
      ],
      "notesInFlow": true,
      "typeVersion": 3.4,
      "notes": "Set Here Your Gogle Sheets URLs and Last x Days Filter"
    },
    {
      "parameters": {},
      "id": "94ead111-4efe-459d-9053-3ff7714d5b98",
      "name": "End of worfklow",
      "type": "n8n-nodes-base.noOp",
      "position": [
        3088,
        320
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "url": "={{ $('Loop Over Rss Elements').item.json.link }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "id": "5e470cd5-23c9-4866-a18c-694bf1c021a9",
      "name": "Get Webpage HTML Content",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        3552,
        592
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "data",
              "cssSelector": "body",
              "returnValue": "html"
            }
          ]
        },
        "options": {
          "trimValues": true,
          "cleanUpText": true
        }
      },
      "id": "8bc1cad5-fbbc-43fa-b41f-e668bf9bd8f8",
      "name": "Extract Body Content in HTML",
      "type": "n8n-nodes-base.html",
      "position": [
        3760,
        592
      ],
      "typeVersion": 1.2,
      "notes": "We need only body without images"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        4128,
        800
      ],
      "id": "8e250b57-d412-47f4-be86-9dfb5e92689a",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "chYkaI9nIz4ccSsC",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Read RSS": {
      "main": [
        [
          {
            "node": "Combine Rss with source name",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Settings": {
      "main": [
        [
          {
            "node": "Get RSS Feed List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Output": {
      "main": [
        [
          {
            "node": "Append Aummary to Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Filter Last X Days",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Read RSS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Settings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get RSS Feed List": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize Content": {
      "main": [
        [
          {
            "node": "Format Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Last X Days": {
      "main": [
        [
          {
            "node": "Loop Over Rss Elements",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Rss Elements": {
      "main": [
        [
          {
            "node": "End of worfklow",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Row for URL is in Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check If Article Exists": {
      "main": [
        [
          {
            "node": "Get Webpage HTML Content",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Rss Elements",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert HTML to Markdown": {
      "main": [
        [
          {
            "node": "Summarize Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Webpage HTML Content": {
      "main": [
        [
          {
            "node": "Extract Body Content in HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combine Rss with source name": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Body Content in HTML": {
      "main": [
        [
          {
            "node": "Convert HTML to Markdown",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Row for URL is in Sheets": {
      "main": [
        [
          {
            "node": "Check If Article Exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append Aummary to Google Sheets": {
      "main": [
        [
          {
            "node": "Loop Over Rss Elements",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Settings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Summarize Content",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "aa8f8186-646c-40de-9643-913f1b62f2ff",
  "meta": {
    "templateId": "5778",
    "templateCredsSetupCompleted": true,
    "instanceId": "3a4ba8ab3556586419b856ad3e16c5a3f85a65fac589a0e56e64299894c4d493"
  },
  "id": "GpFIbNlrfYzpIcix",
  "tags": []
}