Workflow_automation_using_ai_tools/Talk with your Drive folder using Pinecone and GPT.json
{
  "name": "Talk with your Drive folder using Pinecone and GPT",
  "nodes": [
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "=docs-{{ $json.messages[0].from }}"
      },
      "id": "3c9b1050-2cb2-46e1-8a96-5125b7f7f969",
      "name": "Window Buffer Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "position": [
        2576,
        1584
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "name": "get_documents",
        "description": "Retrieve information from any CV documents",
        "topK": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Limit', ``, 'number') }}"
      },
      "id": "467601ec-5797-4868-a93c-435eaa6d9729",
      "name": "Vector Store Tool",
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "position": [
        2784,
        1376
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "model": "text-embedding-3-small",
        "options": {}
      },
      "id": "55ba53db-de0d-4fb8-8df6-d39d98ee2992",
      "name": "Generate Embeddings for Search with OpenAI",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "position": [
        2688,
        1712
      ],
      "typeVersion": 1,
      "credentials": {
        "openAiApi": {
          "id": "URRbsC3VkaNt4l8s",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": "text-embedding-3-small",
        "options": {}
      },
      "id": "a6b22bc9-753a-4281-b1a1-fab177aa94ba",
      "name": "Embeddings OpenAI1",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "position": [
        1728,
        1296
      ],
      "typeVersion": 1,
      "credentials": {
        "openAiApi": {
          "id": "URRbsC3VkaNt4l8s",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $json.text }}",
        "options": {}
      },
      "id": "727b4c37-218f-4c7d-86bc-177202e90d6b",
      "name": "Default Data Loader",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "position": [
        1872,
        1200
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "chunkSize": 5000,
        "chunkOverlap": 100,
        "options": {}
      },
      "id": "3468cdfc-f2a7-44b0-b776-fabd1d085a0f",
      "name": "Recursive Character Text Splitter",
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "position": [
        2032,
        1360
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## 2. Create a Vector Store\n[Read more about the In-Memory Vector Store](https://docs.n8n.io/integrations/builtin/cluster-nodes/root-nodes/n8n-nodes-langchain.vectorstoreinmemory/)",
        "height": 731.1875,
        "width": 614.6875,
        "color": 7
      },
      "id": "4ff3fb44-8225-42b8-adcc-72e5c2d09e6a",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1488,
        880
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## 4. AI Agent Responds\n[Learn more about using AI Agents](https://docs.n8n.io/integrations/builtin/cluster-nodes/root-nodes/n8n-nodes-langchain.agent/)\n\nn8n's AI agents are powerful nodes which make it incredibly easy to use state-of-the-art AI in your workflows. Not only do they have the ability to remember conversations per individual customer but also tap into resources such as our product catalogue vector store to pull factual information and data for every question.",
        "height": 929.1875,
        "width": 746.6875,
        "color": 7
      },
      "id": "6bc1d33f-70c6-4130-ab29-957b5f45f219",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2416,
        896
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "You a personal assistant that helps me make decisions based on my internal information pdfs. Your goal is not to facilitate a explain any questions user might have about the documents.\n\nDo your best to answer any questions factually. If you don't know the answer or unable to obtain the information from the datastore, then tell the user so.\n\nAlways answer in short message, in the size of one paragraph: between 100 and 200 words. Better to answer in short messages, human like."
        }
      },
      "id": "42ebe201-b731-4775-b044-4969ca21412f",
      "name": "AI Sales Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        2544,
        1184
      ],
      "typeVersion": 1.6
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.id }}"
        },
        "options": {
          "fileName": "={{ $json.name }}"
        }
      },
      "id": "dc2f6b06-c153-469b-84a9-93bd4de03ff2",
      "name": "Download File From Google Drive",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        1216,
        1104
      ],
      "typeVersion": 3,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "391RvBevK7wpwiY1",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "mode": "list",
          "value": "1WlejjfGrijAhMsJ2zWUa-2OZsiXIj4Bu",
          "cachedResultUrl": "https://drive.google.com/drive/folders/null",
          "cachedResultName": "4. Personal Helper"
        },
        "event": "fileUpdated",
        "options": {}
      },
      "id": "5a1dd754-47db-48bc-8533-0343a9a8c9d9",
      "name": "Google Drive File Updated",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "position": [
        896,
        1312
      ],
      "typeVersion": 1,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "391RvBevK7wpwiY1",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1fLZH84vnmAg3hIt30QgpbEM21mAXaG3e",
          "mode": "list",
          "cachedResultName": "CV",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1fLZH84vnmAg3hIt30QgpbEM21mAXaG3e"
        },
        "event": "fileCreated",
        "options": {
          "fileType": "all"
        }
      },
      "id": "f3be44d0-7439-46f3-ad05-0cc0793555da",
      "name": "Google Drive File Created",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "position": [
        896,
        1120
      ],
      "typeVersion": 1,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "391RvBevK7wpwiY1",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Add documents to vector store when updating or creating new documents in Google Drive",
        "width": 320
      },
      "id": "a9895215-911e-4385-b221-3d4bbc7f96bd",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        368,
        944
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## 1. Build Databse\n[Read more about the HTTP Request Tool](https://docs.n8n.io/integrations/builtin/core-nodes/n8n-nodes-base.httprequest)\n\nImport your marketing PDF document to build your vector store. This will be used as the knowledgebase by the Tourist guide AI Agent.",
        "height": 655,
        "width": 640,
        "color": 7
      },
      "id": "9089c52e-8626-4683-bae9-5d5cd1bd4bf7",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        784,
        896
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "public": true,
        "options": {}
      },
      "id": "1fd02eeb-abcc-4e12-80bb-6a92439edc5f",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "position": [
        2240,
        1184
      ],
      "webhookId": "7d2ecd50-140d-4b7d-a07b-42300ce295b0",
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "my-cv",
          "mode": "list",
          "cachedResultName": "my-cv"
        },
        "options": {}
      },
      "id": "11b01f02-d54c-463b-8bbf-7f0e09705c4c",
      "name": "Pinecone Vector Store",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "position": [
        1792,
        992
      ],
      "typeVersion": 1,
      "credentials": {
        "pineconeApi": {
          "id": "rf3KHGMU3vDyd1Qh",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "pineconeIndex": {
          "__rl": true,
          "value": "my-cv",
          "mode": "id"
        },
        "options": {}
      },
      "id": "50df9dce-66c7-4f09-abd6-b6d0ce7a635d",
      "name": "Pinecone Vector Store (Retrieval)",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "position": [
        2768,
        1552
      ],
      "typeVersion": 1,
      "credentials": {
        "pineconeApi": {
          "id": "rf3KHGMU3vDyd1Qh",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "resource": "folder",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "0AGMjmhIM2B3eUk9PVA",
          "cachedResultUrl": "https://drive.google.com/drive/folders/0AGMjmhIM2B3eUk9PVA",
          "cachedResultName": "Shape Labs"
        },
        "folderId": {
          "__rl": true,
          "mode": "list",
          "value": "1WlejjfGrijAhMsJ2zWUa-2OZsiXIj4Bu",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1WlejjfGrijAhMsJ2zWUa-2OZsiXIj4Bu",
          "cachedResultName": "4. Personal Helper"
        },
        "options": {}
      },
      "id": "3f7731e0-7cb6-4f59-9553-b7109ebd766e",
      "name": "Download File From Google Drive1",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        1184,
        1344
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        1424,
        1104
      ],
      "id": "e44bdc41-72f1-4869-a18f-6e49fab28ea2",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        2448,
        1584
      ],
      "id": "a3c318fc-29af-488d-b67e-5c36882b3226",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "URRbsC3VkaNt4l8s",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        3072,
        1552
      ],
      "id": "c9b83391-b5a4-403b-a25d-10db6f63ff2f",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "URRbsC3VkaNt4l8s",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Vector Store Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Sales Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Sales Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive File Created": {
      "main": [
        [
          {
            "node": "Download File From Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive File Updated": {
      "main": [
        [
          {
            "node": "Download File From Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Sales Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download File From Google Drive": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store (Retrieval)": {
      "ai_vectorStore": [
        [
          {
            "node": "Vector Store Tool",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Generate Embeddings for Search with OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store (Retrieval)",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Sales Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Vector Store Tool",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "19d31ef7-c2a0-4a3b-942b-65d368dd134e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "83a0bd2cd089bcc720c463ad29ce167c02c8874e936d90c332f0cf86f0da3076"
  },
  "id": "iLxnGiDHGngy8zKL",
  "tags": []
}