Business_process_automation/Automate IT Support with Telegram Voice to JIRA Tickets.json
{
  "name": "Automate IT Support with Telegram Voice to JIRA Tickets",
  "nodes": [
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "id": "9bb46a53-04f3-4457-8539-c9831f0b2781",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        3376,
        960
      ],
      "typeVersion": 1.2,
      "credentials": {
        "openAiApi": {
          "id": "Hb8scaDn3DEbAoqO",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "[\n  {\n    \"chatid\": \"IT-REQ-20240701-001\",\n    \"requested_by\": {\n      \"name\": \"\",\n      \"department\": \"\"\n    },\n    \"from\":\"\",\n    \"category\": \"Feature\",\n    \"priority\": \"High\",\n    \"status\": \"Open\",\n    \"title\": \"Purchase 2TB SSD compatible with MacBook\",\n    \"description\": \"Request to purchase a 2TB or larger SSD compatible with MacBook for data backup and transfer purposes. The requester expects the SSD to be reliable and durable. Delivery is expected by 2024-07-05. Please proceed with sourcing a compatible model and ensure proper procurement process is followed. Original request came via IT support email.\",\n    \"due_date\": \"2024-07-05\",\n    \"created_at\": \"2024-07-01T10:30:00Z\",\n    \"original_message\":\"\",\n    \"audioUrl\":\"\"\n  }\n]"
      },
      "id": "0fc12e61-512f-4abd-9a4a-40257ddd1b72",
      "name": "Structured Output Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "position": [
        3504,
        960
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C09E9H19BC3",
          "mode": "list",
          "cachedResultName": "testn8n"
        },
        "text": "=📩 *New IT Support Request Submitted*\n👤 *Requested by:* {{ $('Transcript Processing Agent').item.json.output[0].requested_by.name }} | ({{ $('Transcript Processing Agent').item.json.output[0].requested_by.department }})\n🎯 *Category:* {{ $('Transcript Processing Agent').item.json.output[0].category }}\n📊 *Priority:* {{ $('Transcript Processing Agent').item.json.output[0].priority }}\n📝 *Title:* {{ $('Transcript Processing Agent').item.json.output[0].title }}\n\n🧾 *Description:*  \n{{ $('Transcript Processing Agent').item.json.output[0].description }}\n\n🔗 *Track in Jira:* {{ $json[\"Jira base URL\"] }}/browse/{{ $('Submit JIRA request ticket').item.json.key }}\n\n📣 Please take action or assign accordingly.",
        "otherOptions": {}
      },
      "id": "c98503a7-0700-464c-9082-c51368ac8bc7",
      "name": "Send message to IT Support team",
      "type": "n8n-nodes-base.slack",
      "position": [
        4192,
        640
      ],
      "webhookId": "cb2e481d-9325-4e1c-9ce1-70c6ff0136ef",
      "typeVersion": 2.3,
      "credentials": {
        "slackOAuth2Api": {
          "id": "OuTD7X3xMDpyarmh",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "content": "# 🎧 IT Voice Support Automation Bot – Telegram Voice Message to JIRA ticket with OpenAI Whisper\n\n> Automatically process IT support requests submitted via Telegram voice messages by transcribing, extracting structured data, creating a JIRA ticket, and notifying relevant parties.\n\n## 🧑‍💼 Who’s it for\n\n- Internal teams that handle IT support but want to streamline voice-based requests.\n- Employees who prefer using mobile/voice to report incidents or ask for support.\n- Organizations aiming to integrate conversational AI into existing support workflows.\n\n## ⚙️ How it works / What it does\n\n1. A user sends a voice message to a Telegram bot.\n2. The system checks whether it’s an audio message.\n3. If valid, the audio is:\n   - Downloaded\n   - Transcribed via OpenAI Whisper\n   - Backed up to Google Drive\n4. The transcription and file metadata are merged.\n5. The merged content is processed through an **AI Agent** (GPT) to extract structured request info.\n6. A JIRA ticket is created using the extracted data.\n7. The IT team is notified via Slack (or other channels).\n8. The requester receives a Telegram confirmation message with the JIRA ticket link.\n9. If the input is not audio, a polite rejection message is sent.\n\n## 📌 Key Features\n\n- Supports voice-based ticket creation\n- Accurate transcription using Whisper\n- Context-aware request parsing using GPT-4.1 mini\n- Fully automated ticket creation in JIRA\n- Notifies both IT and the original requester\n- Cloud backup of original voice messages (Google Drive)\n\n## 🛠️ Setup Instructions\n### Prerequisites\n\n| Component | Required |\n|----------|----------|\n| Telegram Bot & API Key | ✅ |\n| OpenAI Whisper / Transcription Model | ✅ |\n| Google Drive Credentials (OAuth2) | ✅ |\n| Google Sheets or other storage (optional) | ⬜ |\n| JIRA Cloud API Access | ✅ |\n| Slack Bot or Webhook | ✅ |\n\n### Workflow Steps\n\n1. **Telegram Voice Message Trigger**: Starts the flow when a user sends a voice message.\n\n2. **Is Audio Message?**: If false → reply \"only voice is supported\"\n\n3. **Download Audio**: Download `.oga` file from Telegram.\n\n4. **Transcribe Audio**: Use OpenAI Whisper to get text transcript.\n\n5. **Backup to Google Drive**: Upload original voice file with metadata.\n\n6. **Merge Results**: Combine transcript and metadata.\n\n7. **Pre-process Output**: Clean formatting before AI extraction.\n\n8. **Transcript Processing Agent**: GPT-based agent extracts:\n   - Requester name, department\n   - Request title & description\n   - Priority & request type\n\n9. **Submit JIRA Request Ticket**: Create ticket from AI-extracted data.\n\n10. **Setup Slack / Email / Manual Steps**: Optional internal routing or approvals.\n\n11. **Inform Reporter via Telegram**: Sends confirmation message with JIRA ticket link.\n\n## 🔧 How to Customize\n\n- Replace JIRA with Zendesk, GitHub Issues, or other ticketing tools.\n- Change Slack to Microsoft Teams or Email.\n- Add Notion/Airtable logging.\n- Enhance agent to extract department from user ID or metadata.\n\n## 📦 Requirements\n\n| Integration | Notes |\n|-------------|-------|\n| Telegram Bot | Used for input/output |\n| Google Drive | Audio backup |\n| OpenAI GPT + Whisper | Transcript & Extraction |\n| JIRA | Ticketing platform |\n| Slack | Team notification |\n\nBuilt with ❤️ using [n8n](https://n8n.io)",
        "height": 2112,
        "width": 1648
      },
      "id": "1ff65329-c3ca-4e88-b778-281d744c72a0",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d6d4633f-b2b1-4789-a373-6a37e7965203",
              "name": "Jira base URL",
              "type": "string",
              "value": "https://poesd-team-n473485e.atlassian.net/"
            },
            {
              "id": "2e7685df-5c0c-476c-aa2c-bbf72c255dfa",
              "name": "IT support email",
              "type": "string",
              "value": "nsultana2021@icloud.com"
            }
          ]
        },
        "options": {}
      },
      "id": "5fd12b4a-cbc0-463c-917b-3eb12935c894",
      "name": "Setup Jira, Slack, Email",
      "type": "n8n-nodes-base.set",
      "position": [
        3968,
        736
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "project": {
          "__rl": true,
          "value": "10000",
          "mode": "list",
          "cachedResultName": "My Kanban Project"
        },
        "issueType": {
          "__rl": true,
          "value": "10005",
          "mode": "list",
          "cachedResultName": "Service Request"
        },
        "summary": "={{ $json.output[0].title }}",
        "additionalFields": {
          "description": "={{ $json.output[0].description }}\nOriginal Voice Message Transcript (by AI)\n---\n{{ $json.output[0].original_message }}\n---\nOriginal Voice Message: {{ $json.output[0].audioUrl }}"
        }
      },
      "id": "515c23e6-c302-44c3-9262-b7a40b5f86a6",
      "name": "Submit JIRA request ticket",
      "type": "n8n-nodes-base.jira",
      "position": [
        3744,
        736
      ],
      "executeOnce": false,
      "retryOnFail": false,
      "typeVersion": 1,
      "credentials": {
        "jiraSoftwareCloudApi": {
          "id": "gVEBeKr9UgxmiEKt",
          "name": "Jira SW Cloud account"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {
          "download": true
        }
      },
      "id": "f7660bf7-060c-4549-ae68-6f3d93bc82b6",
      "name": "Telegram Voice Message Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "position": [
        1792,
        832
      ],
      "webhookId": "5cdd7f36-b2e3-4c8d-ab5f-1f2763eb5c75",
      "typeVersion": 1.2,
      "credentials": {
        "telegramApi": {
          "id": "0wW4zQw8lxj0ZiyX",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "069b1c3b-d683-46f2-b7d6-9dbcdde41445",
              "operator": {
                "type": "string",
                "operation": "contains"
              },
              "leftValue": "={{ $json.message.toJsonString() }}",
              "rightValue": "audio/ogg"
            }
          ]
        },
        "options": {}
      },
      "id": "9c82fd93-0641-4b91-a89c-b7ed7e204931",
      "name": "Is audio message?",
      "type": "n8n-nodes-base.if",
      "position": [
        2016,
        832
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Voice Message Trigger').item.json.message.chat.id }}",
        "text": "=Sorry, I can’t read your input right now.\nPlease send me a voice message, and I’ll help you transcribe and track it! 🎙️💬",
        "additionalFields": {}
      },
      "id": "8af4ffaa-deb5-4cb4-95d2-e63891dc9b87",
      "name": "Un-supported message type",
      "type": "n8n-nodes-base.telegram",
      "position": [
        2240,
        928
      ],
      "webhookId": "344e09e1-f90a-4181-b88d-eba8a1729454",
      "typeVersion": 1.2,
      "credentials": {
        "telegramApi": {
          "id": "0wW4zQw8lxj0ZiyX",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.voice.file_id }}",
        "additionalFields": {}
      },
      "id": "c46934bf-dc3c-480e-97aa-90c97ca5946b",
      "name": "Download audio message",
      "type": "n8n-nodes-base.telegram",
      "position": [
        2240,
        736
      ],
      "webhookId": "b7eb04dc-b5db-4fbd-8ea6-7692282d9469",
      "typeVersion": 1.2,
      "credentials": {
        "telegramApi": {
          "id": "0wW4zQw8lxj0ZiyX",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "content": "![Alt text](https://wisestackai.s3.ap-southeast-1.amazonaws.com/jira.png \"Optional title text\")",
        "height": 432,
        "width": 768
      },
      "id": "024f17db-5e43-4f3d-8cc9-0dffaa4121f5",
      "name": "Sticky Note7",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        4224,
        80
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Below is the voice message transcript sent to IT support. Please extract all relevant information according to your instructions.\n---\n{{ $json.toJsonString() }}\n---",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are an intelligent IT Support Assistant.\n\nYour job is to analyze voice message transcripts sent to the IT support team via Telegram, and extract all the key information required for internal processing.\n\nHere’s what you must do:\n\n1. Carefully read the entire transcript content of the voice message.\n2. Determine the **actual requester** by checking:\n   - If the speaker clearly mentions their **name, role, or department** during the voice message\n   - If no identifying details are mentioned, leave the name and department fields blank (they can be filled in later manually)\n3. Extract the following information:\n   - Requester's name (if mentioned)\n   - Requester's department or team (if mentioned)\n   - Request category: choose from one of the following — *Feature, Incident, Access Request, Maintenance*\n   - Priority level: *Low, Medium, High, or Critical*\n   - Request title: a clear and concise title summarizing the main intent\n   - Request description: provide enough technical and business context for the IT team to take action. Don't leave this empty\n   - Due date or urgency if mentioned\n   - The full original transcript (for reference)\n\n⚠️ Do not make up information that is not mentioned. If a specific field cannot be determined from the transcript, leave it blank or mark as \"Not specified\".\n\nReturn your output as **clearly structured data in text**, following a readable and organized format (not JSON). This will be converted to structured data by another tool."
        }
      },
      "id": "77e2f6cc-88e2-46e7-82de-9d9b3cd7dfc7",
      "name": "Transcript Processing Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        3344,
        736
      ],
      "typeVersion": 1.8
    },
    {
      "parameters": {
        "chatId": "={{ $('Transcript Processing Agent').item.json.output[0].chatid }}",
        "text": "=*Dear {{ $('Transcript Processing Agent').item.json.output[0].requested_by.name }},*\n\nThank you for reaching out to the IT Support team.  \nWe’ve received your request regarding:  \n*{{ $('Transcript Processing Agent').item.json.output[0].title }}*\n\n📝 *Summary:*  \n{{ $('Transcript Processing Agent').item.json.output[0].description }}\n\nYour request has been successfully logged in our system and is now being processed by the IT Support team.\n\n🔗 You can track the status of your request here:  \n[{{ $('Submit JIRA request ticket').item.json.key }}]({{ $json[\"Jira base URL\"] }}/browse/{{ $('Submit JIRA request ticket').item.json.key }})\n\nOur team will review it shortly and follow up with any updates or actions needed.  \n\nBest regards,  \n*IT Support Team*",
        "additionalFields": {}
      },
      "id": "5debd8b1-dfa7-4e90-8748-d0c8e9c8eefb",
      "name": "Inform reporter via Telegram",
      "type": "n8n-nodes-base.telegram",
      "position": [
        4192,
        832
      ],
      "webhookId": "ed72173c-01bc-41a7-a369-545e09392e09",
      "typeVersion": 1.2,
      "credentials": {
        "telegramApi": {
          "id": "0wW4zQw8lxj0ZiyX",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {},
      "id": "8ba028af-a3e8-4e0a-9f1d-6ff6372426d3",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "position": [
        2896,
        736
      ],
      "typeVersion": 3.2
    },
    {
      "parameters": {
        "content": "![Alt text](https://wisestackai.s3.ap-southeast-1.amazonaws.com/slack.png \"Optional title text\")",
        "height": 272,
        "width": 768
      },
      "id": "a353a500-e7ff-423f-b157-f3bd5e5e6108",
      "name": "Sticky Note8",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        4400,
        544
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "![Alt text](https://wisestackai.s3.ap-southeast-1.amazonaws.com/tele.png \"Optional title text\")",
        "height": 512,
        "width": 768
      },
      "id": "033946e6-d062-4385-bd66-1004805b161d",
      "name": "Sticky Note9",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        4288,
        912
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "name": "=audio-{{ $now.toFormat(\"yyyyLLdd-HHmmss\") }}-{{$binary.data.fileName}}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1wULhkoxfSxH08xevjPpApVFjyimGW0pN",
          "mode": "list",
          "cachedResultName": "test_n8n_image",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1wULhkoxfSxH08xevjPpApVFjyimGW0pN"
        },
        "options": {}
      },
      "id": "1b071600-aa26-431d-9f0e-62d696c409b7",
      "name": "Backup Audio Message To Google Drive",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        2464,
        832
      ],
      "typeVersion": 3,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Bpak8YLYgfBqBbu6",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const inputs = $input.all();\n\n// Assumes: \n// inputs[0] = transcript\n// inputs[1] = drive metadata\n\nconst transcriptData = inputs[0].json;\nconst driveData = inputs[1].json;\nconst tele = $('Telegram Voice Message Trigger').first().json.message;\n\nconst result = {\n  Transcript: transcriptData.content?.parts?.[0]?.text || '',\n  AudioURL: driveData.webContentLink || '',\n  ChatID: tele.chat.id,\n  FirstName: tele.from.first_name\n};\n\nreturn [{ json: result }];\n"
      },
      "id": "f3c800f9-ae65-43e5-9ddf-dd0f0565f0a3",
      "name": "Process output before feeding AI agent",
      "type": "n8n-nodes-base.code",
      "position": [
        3120,
        736
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "content": "## 📥 1. Telegram Voice Input & Validation\n\n### 🔹 Telegram Trigger\nListens for incoming messages via Telegram bot. This is the entry point of the workflow.\n\n### 🔹 Is Audio Message?\nValidates that the message is a voice/audio message. If not, it replies with a polite rejection (\"Only voice messages are supported\").",
        "height": 256,
        "width": 528
      },
      "id": "4950dc2d-e274-4073-8251-001d728c5675",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1680,
        512
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## 🎙️ 2. Audio Handling & Transcription\n\n### 🔹 Download Audio Message\nRetrieves the `.oga` file from Telegram for processing.\n\n### 🔹 Transcribe Recording (OpenAI Whisper)\nSends the audio to OpenAI Whisper to generate a transcript of the voice message.\n\n### 🔹 Backup Audio to Google Drive\nUploads the original audio message to Google Drive as a backup and reference.",
        "height": 240,
        "width": 528
      },
      "id": "e9c0cc24-3bd2-4599-8827-d31556386e71",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2240,
        368
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## 🔀 3. Merge & Preprocess Data\n\n### 🔹 Merge Transcript & Metadata\nCombines the transcript and file metadata (e.g. Google Drive link, duration) into a single structured object.\n\n### 🔹 Transform Output for AI Agent\nPrepares and formats the merged data so it can be interpreted accurately by the AI agent.",
        "height": 256,
        "width": 448
      },
      "id": "bd54d1cb-fc1e-46a6-b78a-1bd9696270ed",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2640,
        912
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## 🧠 4. AI-Powered Transcript Analysis\n### 🔹 Transcript Processing Agent (GPT)\nAnalyzes the voice transcript using a GPT-based agent to extract structured IT support request data:\n- Requester name, department\n- Title & description\n- Request type, priority, and urgency",
        "height": 208,
        "width": 448
      },
      "id": "29bd4dc8-1d40-47a9-813c-7822708db97a",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3040,
        480
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## 🛠️ 5. Ticket Submission & Internal Notification\n### 🔹 Submit JIRA Request Ticket\nCreates a new JIRA issue using the extracted data from the AI agent.\n### 🔹 Setup Jira, Slack, Email\nOptional step to notify internal teams via Slack, email, or update manual logs with relevant info.",
        "height": 208,
        "width": 544
      },
      "id": "932fc77c-3226-4de0-82d0-09dcb286b68e",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3552,
        400
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## 📬 6. User Confirmation\n### 🔹 Inform Reporter via Telegram\nSends a personalized confirmation message to the original requester including:\n- Summary of the request\n- Ticket number\n- Tracking link to JIRA",
        "height": 192,
        "width": 480
      },
      "id": "273128e8-518d-4f62-b8d3-80464659a09b",
      "name": "Sticky Note6",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3568,
        1200
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "resource": "audio",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "inputType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        2576,
        640
      ],
      "id": "69acee7f-cac5-41ac-a516-181f99c9b5d6",
      "name": "Transcribe a recording1",
      "credentials": {
        "googlePalmApi": {
          "id": "RkTrozQnZ8k4AhMs",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Merge": {
      "main": [
        [
          {
            "node": "Process output before feeding AI agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is audio message?": {
      "main": [
        [
          {
            "node": "Download audio message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Un-supported message type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Transcript Processing Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Download audio message": {
      "main": [
        [
          {
            "node": "Backup Audio Message To Google Drive",
            "type": "main",
            "index": 0
          },
          {
            "node": "Transcribe a recording1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Setup Jira, Slack, Email": {
      "main": [
        [
          {
            "node": "Send message to IT Support team",
            "type": "main",
            "index": 0
          },
          {
            "node": "Inform reporter via Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Transcript Processing Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Submit JIRA request ticket": {
      "main": [
        [
          {
            "node": "Setup Jira, Slack, Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcript Processing Agent": {
      "main": [
        [
          {
            "node": "Submit JIRA request ticket",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Voice Message Trigger": {
      "main": [
        [
          {
            "node": "Is audio message?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Backup Audio Message To Google Drive": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Process output before feeding AI agent": {
      "main": [
        [
          {
            "node": "Transcript Processing Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe a recording1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "ce556941-0271-42f8-8257-b7a38a45e549",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "98b510ca4dbbabb609e24c83189c67f6ae0083179272377aca703df4038b384f"
  },
  "id": "ItGJdO63PgXdjmFE",
  "tags": []
}