Business_process_automation/Competitor Price Monitoring with Web Scraping,Google Sheets & Telegram.json
{
  "name": "My workflow 7",
  "nodes": [
    {
      "parameters": {
        "content": "**Fires every morning at 8:00 AM server time to kick off the price-check cycle). Then it Reads the “master” Google Sheet tab, pulling each row’s product_url + last_price for processing**",
        "height": 100,
        "width": 420
      },
      "id": "045898fe-85e7-4718-b4bb-911d54644343",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -688,
        -32
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            }
          ]
        }
      },
      "id": "8c453ca2-8cf1-4bb4-8e81-e5401c536cd8",
      "name": "Daily 8 AM Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        -640,
        112
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "13rGmd4Curh8N6dKWSinJgWnk7iYvx3W8i64HoWtv7pw",
          "mode": "list",
          "cachedResultName": "monitor_price",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13rGmd4Curh8N6dKWSinJgWnk7iYvx3W8i64HoWtv7pw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 331965750,
          "mode": "list",
          "cachedResultName": "product_data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13rGmd4Curh8N6dKWSinJgWnk7iYvx3W8i64HoWtv7pw/edit#gid=331965750"
        },
        "options": {}
      },
      "id": "a4252ebc-2a7f-4e10-a367-95b33e26aa4e",
      "name": "Fetch Product List from Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        -416,
        112
      ],
      "typeVersion": 4.5,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "agnITpQnUDcFMt5T",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "id": "13f20731-621b-4405-a787-546cdddbde72",
      "name": "Process Each Product in Batches of 1",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [
        -208,
        112
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "amount": 20
      },
      "id": "ac5b6762-9fe1-4e01-b165-577488f4df6c",
      "name": "Pause Between Requests",
      "type": "n8n-nodes-base.wait",
      "position": [
        32,
        -144
      ],
      "webhookId": "335e69ac-d8ce-4704-a9c6-5a087f2859f8",
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "url": "={{ $json.product_url }}",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "{\n  \"User-Agent\": \"Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:119.0) Gecko/20100101 Firefox/119.0\",\n  \"Accept\": \"text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8\",\n  \"Accept-Language\": \"en-IN,en;q=0.9\",\n  \"Accept-Encoding\": \"gzip, deflate, br\"\n}",
        "options": {}
      },
      "id": "1576478d-219e-4b50-a221-8579bc8e70f0",
      "name": "Load Product Page HTML",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        240,
        -144
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "current_price",
              "cssSelector": ".price__regular > span.price-item--regular"
            }
          ]
        },
        "options": {}
      },
      "id": "3684e2f9-c23e-4315-965f-144da5056f16",
      "name": "Extract Current Price from HTML",
      "type": "n8n-nodes-base.html",
      "position": [
        464,
        -144
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "jsCode": "// HTML Extract result\nconst scraped = items[0].json;\n\n// Original data from Wait node\nconst original = $items(\"Pause Between Requests\")[0].json;\n\n// Clean and parse price\nconst priceNum = parseFloat((scraped.current_price || \"\").replace(/[^0-9.]+/g, \"\"));\n\n// Original price from Google Sheet\nconst lastPrice = parseFloat(original.price);\n\nreturn [{\n  json: {\n    product_url: original.product_url,\n    row_number: original.row_number,\n    last_price: lastPrice,\n    current_price: priceNum\n  }\n}];\n\n"
      },
      "id": "e0a877de-1aba-4ca8-8145-a7cbe5d2b6f5",
      "name": "Normalize Price Values",
      "type": "n8n-nodes-base.code",
      "position": [
        688,
        -144
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "jsCode": "// Get the incoming item\nconst item = items[0].json;\n\n// Compute whether the price changed\nconst priceChanged = item.last_price !== item.current_price;\n\n// Calculate percentage difference (will be NaN if last_price is null/0)\nlet priceDiffPct = null;\nif (item.last_price && item.last_price !== 0) {\n  priceDiffPct = (\n    ((item.current_price - item.last_price) / item.last_price) *\n    100\n  ).toFixed(2);\n}\n\n// Return everything, including product_url and last_price\nreturn [\n  {\n    json: {\n      product_url: item.product_url,\n      last_price: item.last_price,\n      current_price: item.current_price,\n      price_changed: priceChanged,\n      price_diff_pct: priceDiffPct !== null ? parseFloat(priceDiffPct) : null,\n      timestamp: new Date().toISOString(),\n    },\n  },\n];\n\n\n\n"
      },
      "id": "3ab3924a-3d50-4ea5-873b-7098936f74b9",
      "name": "Compute Price Change",
      "type": "n8n-nodes-base.code",
      "position": [
        912,
        -144
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "jsCode": "// Function node: 'items' is an array of incoming items\nif (!items.length) {\n  return [];\n}\n\nconst input = items[0].json;\nconst cleaned = {};\n\nfor (const key in input) {\n  const cleanKey = key.replace(/\\t/g, '').trim();\n  cleaned[cleanKey] = input[key];\n}\n\nreturn [\n  {\n    json: {\n      product_url: cleaned.product_url,\n      last_price: cleaned.last_price,\n      current_price: cleaned.current_price,\n      price_changed: cleaned.price_changed,\n      price_diff_pct: cleaned.price_diff_pct,\n      timestamp: cleaned.timestamp,\n    },\n  },\n];\n\n\n"
      },
      "id": "46b4d40b-3572-467e-a249-dcfcef90a357",
      "name": "Clean Up Parsed Fields",
      "type": "n8n-nodes-base.code",
      "position": [
        1120,
        -144
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "or",
          "conditions": [
            {
              "id": "5e285834-82ef-4c77-b96b-97661760f996",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              },
              "leftValue": "={{ $json.price_changed}}",
              "rightValue": "true"
            }
          ]
        },
        "options": {}
      },
      "id": "495bb82f-00d3-4a7a-b09c-771a2fc6695a",
      "name": "Is Price Changed?",
      "type": "n8n-nodes-base.if",
      "position": [
        1344,
        -144
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "jsCode": "const itemsFormatted = [];\n\nfor (const item of items) {\n  const data = item.json;\n\n  // Determine alert type\n  const isDrop = data.price_diff_pct < 0;\n  const alertType = isDrop ? \"📉 *Price Drop Alert*\" : \"📈 *Price Hike Alert*\";\n\n  // Format timestamp to IST\n  const date = new Date(data.timestamp);\n  const istOffset = 5.5 * 60 * 60 * 1000;\n  const istDate = new Date(date.getTime() + istOffset);\n  const formattedDate = istDate.toLocaleString(\"en-IN\", {\n    day: \"2-digit\",\n    month: \"short\",\n    year: \"numeric\",\n    hour: \"2-digit\",\n    minute: \"2-digit\",\n    hour12: true\n  });\n\n  // Build message\n  const message = `${alertType}\n\n🛍️ *Product:* (${data.product_url})\n💸 *Last Price:* $${data.last_price}\n💰 *Current Price:* $${data.current_price}\n📊 *Change:* ${data.price_diff_pct > 0 ? \"+\" : \"\"}${data.price_diff_pct}%\n🕒 *Time:* ${formattedDate}`;\n\n  itemsFormatted.push({ json: { message } });\n}\n\nreturn itemsFormatted;\n\n\n"
      },
      "id": "2a44ee62-7549-4ce5-bd43-8ed4a2d1bb72",
      "name": "Build Telegram Alert Message",
      "type": "n8n-nodes-base.code",
      "position": [
        1568,
        -48
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "13rGmd4Curh8N6dKWSinJgWnk7iYvx3W8i64HoWtv7pw",
          "mode": "list",
          "cachedResultName": "monitor_price",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13rGmd4Curh8N6dKWSinJgWnk7iYvx3W8i64HoWtv7pw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1345627522,
          "mode": "list",
          "cachedResultName": "price_tracking",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13rGmd4Curh8N6dKWSinJgWnk7iYvx3W8i64HoWtv7pw/edit#gid=1345627522"
        },
        "columns": {
          "value": {
            "last_price": "={{ $json.last_price }}",
            "timestamp\t": "={{ new Date($json.timestamp).toLocaleString('en-IN', {\n  timeZone: 'Asia/Kolkata',\n  day: '2-digit',\n  month: 'short',\n  year: 'numeric',\n  hour: '2-digit',\n  minute: '2-digit',\n  hour12: true\n}) }}\n",
            "product_url": "={{ $json.product_url }}",
            "current_price": "={{ $json.current_price }}",
            "price_diff_pct": "={{ $json.price_diff_pct}}",
            "price_changed        ": "={{ $json.price_changed }}"
          },
          "schema": [
            {
              "id": "timestamp\t",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "timestamp\t",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "product_url",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "product_url",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "current_price",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "current_price",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "last_price",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "last_price",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "price_changed        ",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "price_changed        ",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "price_diff_pct",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "price_diff_pct",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "useAppend": true
        }
      },
      "id": "a82c2d7d-33db-4bc3-b321-a2ca8d7f94ad",
      "name": "Log Price History to Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        1568,
        -256
      ],
      "typeVersion": 4.5,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "agnITpQnUDcFMt5T",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "amount": 1,
        "unit": "minutes"
      },
      "id": "42ce4635-43ad-4ddb-9859-99bcda26fe0e",
      "name": "Pause Before Updating Sheet",
      "type": "n8n-nodes-base.wait",
      "position": [
        1792,
        -256
      ],
      "webhookId": "f8ba192a-211d-4b40-be9c-9994343eb162",
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "13rGmd4Curh8N6dKWSinJgWnk7iYvx3W8i64HoWtv7pw",
          "mode": "list",
          "cachedResultName": "monitor_price",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13rGmd4Curh8N6dKWSinJgWnk7iYvx3W8i64HoWtv7pw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 331965750,
          "mode": "list",
          "cachedResultName": "product_data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13rGmd4Curh8N6dKWSinJgWnk7iYvx3W8i64HoWtv7pw/edit#gid=331965750"
        },
        "columns": {
          "value": {
            "price": "={{ $json.current_price }}",
            "product_url": "={{ $json.product_url }}"
          },
          "schema": [
            {
              "id": "product_url",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "product_url",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "price",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "price",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "type": "string",
              "display": true,
              "removed": true,
              "readOnly": true,
              "required": false,
              "displayName": "row_number",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [
            "product_url"
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "3151e650-9185-4afb-bfc2-065f334df09d",
      "name": "Update Last Price in Master Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        2000,
        -256
      ],
      "typeVersion": 4.5,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "agnITpQnUDcFMt5T",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "7493883462",
        "text": "={{$json[\"message\"]}}",
        "additionalFields": {}
      },
      "id": "3b35efd8-bc67-4c79-bac5-51e9766cb3aa",
      "name": "Send Price Alert via Telegram",
      "type": "n8n-nodes-base.telegram",
      "position": [
        1792,
        32
      ],
      "webhookId": "39287ce3-3a7e-4c7e-b8ee-b11ebb83bfb8",
      "typeVersion": 1.2,
      "credentials": {
        "telegramApi": {
          "id": "0wW4zQw8lxj0ZiyX",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "content": "**Iterates through all products in groups (e.g., 1 at a time) so we don’t overwhelm the target site with parallel requests.**",
        "height": 100
      },
      "id": "07c760eb-a938-4afd-b03e-287d74e43223",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -256,
        256
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "**fires an HTTP GET for each product_url, then uses a CSS selector to pull the live price text from the returned HTML.**",
        "height": 80,
        "width": 360
      },
      "id": "d02b8e4e-5565-406c-beb3-2c729e96a4e2",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        224,
        -256
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "**Strips currency symbols/commas to convert strings into numbers; compares last_price vs. current_price to calculate % change and set price_changed=true if different**",
        "height": 100,
        "width": 380
      },
      "id": "88dc9bbf-e75e-4465-80a0-60d02e080fec",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        672,
        -16
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "\n**Removes stray whitespace or malformed keys (e.g., stray tabs) so downstream nodes can read fields consistently**",
        "height": 120,
        "width": 220
      },
      "id": "e12e5524-962e-414a-8b00-acbe01d98a8a",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1040,
        -288
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "**Only products with price_changed=true proceed to alerting and logging; unchanged items exit here.**",
        "height": 100
      },
      "id": "6b313116-9e35-4a10-923b-aabb054b5b0d",
      "name": "Sticky Note6",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1248,
        -16
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "\n**Formats a human‐readable message (product name/URL, old vs. new price, % change, timestamp) and pushes it to the configured Telegram chat**\n",
        "height": 80,
        "width": 380
      },
      "id": "9d8acdbd-3479-4096-83e2-d777f466c04c",
      "name": "Sticky Note7",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1600,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "\n**Appends a row to Price_History with timestamp, % change, old vs. new price; then waits 1 minute before overwriting last_price in the master sheet with current_price.**\n",
        "height": 80,
        "width": 520
      },
      "id": "87e8696c-edbd-4be9-b03b-9a4c9c4dfeb3",
      "name": "Sticky Note8",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1584,
        -352
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Detailed Explanations of this automation\n \nYou can see the detailed step-by-step instructions here:\n\n- [Free n8n Web Scraping Competitor Price Tracking](https://www.blog.datahut.co/post/free-n8n-web-scraping-competitor-price-tracking)\n- [YouTube Tutorial](https://www.youtube.com/watch?v=a9esT732mmE)\n\n\n\n\n\n\nIs this conversation helpful so far?\n\n\n",
        "width": 580
      },
      "id": "d1ff1451-b20f-40d1-a99b-04daac705e7d",
      "name": "Sticky Note9",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        480,
        -704
      ],
      "typeVersion": 1
    }
  ],
  "pinData": {},
  "connections": {
    "Is Price Changed?": {
      "main": [
        [
          {
            "node": "Build Telegram Alert Message",
            "type": "main",
            "index": 0
          },
          {
            "node": "Log Price History to Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Daily 8 AM Trigger": {
      "main": [
        [
          {
            "node": "Fetch Product List from Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compute Price Change": {
      "main": [
        [
          {
            "node": "Clean Up Parsed Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean Up Parsed Fields": {
      "main": [
        [
          {
            "node": "Is Price Changed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Product Page HTML": {
      "main": [
        [
          {
            "node": "Extract Current Price from HTML",
            "type": "main",
            "index": 0
          },
          {
            "node": "Process Each Product in Batches of 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Price Values": {
      "main": [
        [
          {
            "node": "Compute Price Change",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pause Between Requests": {
      "main": [
        [
          {
            "node": "Load Product Page HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Price History to Sheet": {
      "main": [
        [
          {
            "node": "Pause Before Updating Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pause Before Updating Sheet": {
      "main": [
        [
          {
            "node": "Update Last Price in Master Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Telegram Alert Message": {
      "main": [
        [
          {
            "node": "Send Price Alert via Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Product List from Sheet": {
      "main": [
        [
          {
            "node": "Process Each Product in Batches of 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Price Alert via Telegram": {
      "main": [
        [
          {
            "node": "Process Each Product in Batches of 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Current Price from HTML": {
      "main": [
        [
          {
            "node": "Normalize Price Values",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Each Product in Batches of 1": {
      "main": [
        [],
        [
          {
            "node": "Pause Between Requests",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "84871be4-3612-41e9-b3c7-14a6d57d717c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "98b510ca4dbbabb609e24c83189c67f6ae0083179272377aca703df4038b384f"
  },
  "id": "3k4bRkBCCgfoz4v3",
  "tags": []
}