Business_process_automation/HR Job Posting and Evaluation with AI.json
{
  "name": "HR_AI_evaluation_workflow",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Job Application",
        "formDescription": "=Fill this for to apply for the role Automation Specialist:\n\nLocation: Remote\nExperience: Minimum 3 years\nEmployment Type: Full-time\n\nJob Description:\nWe are seeking a highly skilled Automation Specialist with at least 3 years of experience in designing and implementing workflow automation solutions. The ideal candidate will have expertise in tools such as n8n, Zapier, Make.com, or similar platforms, and a strong background in integrating APIs, streamlining processes, and enhancing operational efficiency.\n\nKey Responsibilities:\n\n    Develop and implement automated workflows to optimize business processes.\n    Integrate third-party APIs and systems to create seamless data flow.\n    Analyze, debug, and improve existing automation setups.\n    Collaborate with cross-functional teams to identify automation opportunities.\n    Monitor and maintain automation systems to ensure reliability.\n\nRequired Skills & Qualifications:\n\n    Proven 3+ years of experience in workflow automation and integration.\n    Proficiency with tools like n8n, Zapier, or Make.com.\n    Strong understanding of APIs, webhooks, and data transformation.\n    Familiarity with scripting languages (e.g., JavaScript or Python).\n    Excellent problem-solving and communication skills.\n\nPreferred Qualifications:\n\n    Experience with database management and cloud services.\n    Background in business process analysis or RPA tools.\n\nWhy Join Us?\n\n    Opportunity to work on cutting-edge automation projects.\n    Supportive and collaborative team environment.\n    Competitive salary and benefits package.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "First Name",
              "requiredField": true
            },
            {
              "fieldLabel": "Last Name",
              "requiredField": true
            },
            {
              "fieldLabel": "Email",
              "fieldType": "email",
              "requiredField": true
            },
            {
              "fieldLabel": "Phone",
              "fieldType": "number",
              "requiredField": true
            },
            {
              "fieldLabel": "Years of experience",
              "fieldType": "number",
              "requiredField": true
            },
            {
              "fieldLabel": "Upload your CV",
              "fieldType": "file",
              "acceptFileTypes": ".pdf",
              "requiredField": true
            }
          ]
        },
        "options": {
          "appendAttribution": false,
          "buttonLabel": "Submit",
          "path": "automation-specialist-application",
          "ignoreBots": false,
          "useWorkflowTimezone": true
        }
      },
      "id": "c4115220-519d-4f12-bc50-ec7b431e5098",
      "name": "On form submission",
      "type": "n8n-nodes-base.formTrigger",
      "position": [
        -1664,
        272
      ],
      "webhookId": "18f7428c-9990-413f-aff3-bdcca1bbbe2d",
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appHutFlt763sot5P",
          "mode": "list",
          "cachedResultName": "Simple applicant tracker",
          "cachedResultUrl": "https://airtable.com/appHutFlt763sot5P"
        },
        "table": {
          "__rl": true,
          "value": "tblpdl8tBk8jHOElr",
          "mode": "list",
          "cachedResultName": "Applicants",
          "cachedResultUrl": "https://airtable.com/appHutFlt763sot5P/tblpdl8tBk8jHOElr"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{ $json.Name }}",
            "Stage": "Decision needed",
            "Email address": "={{ $json.email }}",
            "Applying for": "={{ $json.JD }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Stage",
              "displayName": "Stage",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "No hire",
                  "value": "No hire"
                },
                {
                  "name": "Interviewing",
                  "value": "Interviewing"
                },
                {
                  "name": "Decision needed",
                  "value": "Decision needed"
                },
                {
                  "name": "Hire",
                  "value": "Hire"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Applying for",
              "displayName": "Applying for",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Attachments",
              "displayName": "Attachments",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "score",
              "displayName": "score",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Email address",
              "displayName": "Email address",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Phone",
              "displayName": "Phone",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Q&A",
              "displayName": "Q&A",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Phone interview",
              "displayName": "Phone interview",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Phone interviewer",
              "displayName": "Phone interviewer",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Phone interview Questions",
              "displayName": "Phone interview Questions",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Phone interview score",
              "displayName": "Phone interview score",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "0 – No hire",
                  "value": "0 – No hire"
                },
                {
                  "name": "1 – Probably no hire",
                  "value": "1 – Probably no hire"
                },
                {
                  "name": "2 – Worth consideration",
                  "value": "2 – Worth consideration"
                },
                {
                  "name": "3 – Good candidate",
                  "value": "3 – Good candidate"
                },
                {
                  "name": "4 – Please hire this person",
                  "value": "4 – Please hire this person"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Phone interview notes",
              "displayName": "Phone interview notes",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Onsite interview",
              "displayName": "Onsite interview",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Onsite interviewer",
              "displayName": "Onsite interviewer",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Onsite interview score",
              "displayName": "Onsite interview score",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "0 – No hire",
                  "value": "0 – No hire"
                },
                {
                  "name": "1 – Probably no hire",
                  "value": "1 – Probably no hire"
                },
                {
                  "name": "2 – Worth consideration",
                  "value": "2 – Worth consideration"
                },
                {
                  "name": "3 – Good candidate",
                  "value": "3 – Good candidate"
                },
                {
                  "name": "4 – Please hire this person",
                  "value": "4 – Please hire this person"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Onsite interview notes",
              "displayName": "Onsite interview notes",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "typecast": "={{ true }}"
        }
      },
      "id": "d72cc755-ec0d-4899-a148-c097bbef53eb",
      "name": "Airtable",
      "type": "n8n-nodes-base.airtable",
      "position": [
        -1024,
        272
      ],
      "typeVersion": 2.1,
      "credentials": {
        "airtableTokenApi": {
          "id": "b0iEbUiEc5wW9KIH",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "inputDataFieldName": "Upload_your_CV",
        "name": "={{ $binary.Upload_your_CV.fileName }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1wULhkoxfSxH08xevjPpApVFjyimGW0pN",
          "mode": "list",
          "cachedResultName": "test_n8n_image",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1wULhkoxfSxH08xevjPpApVFjyimGW0pN"
        },
        "options": {}
      },
      "id": "67055eb2-8025-45ca-b52e-7b7205b8e1f3",
      "name": "Upload CV to google drive",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        -1440,
        272
      ],
      "typeVersion": 3,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "1nxcHc4AdcN1vUV3",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bffff778-859a-4bb8-b973-39237ce7486e",
              "name": "Name",
              "type": "string",
              "value": "={{ $('On form submission').item.json['First Name'] + \" \" + $('On form submission').item.json['Last Name'] }}"
            },
            {
              "id": "cd6e7372-c65f-4e6f-9612-6ea513bb8e15",
              "name": "Phone",
              "type": "number",
              "value": "={{ $('On form submission').item.json.Phone }}"
            },
            {
              "id": "eb19138e-7ff3-4f0c-ad95-ac33f8835717",
              "name": "email",
              "type": "string",
              "value": "={{ $('On form submission').item.json.Email }}"
            },
            {
              "id": "25172db9-91fb-45da-b036-ee9aea1e8b09",
              "name": "Experience",
              "type": "number",
              "value": "={{ $('On form submission').item.json[\"Years of experience\"] }}"
            },
            {
              "id": "64393285-3770-47e0-bbbb-3c5d5e14f1f4",
              "name": "Applied On",
              "type": "string",
              "value": "={{ $('On form submission').item.json.submittedAt }}"
            },
            {
              "id": "dc052fd6-f57d-4da1-9976-67fcd9496e58",
              "name": "CV link",
              "type": "string",
              "value": "={{ $json.webViewLink }}"
            },
            {
              "id": "3dd3cbc3-d9d8-4255-bc5d-9636da7a98c4",
              "name": "JD",
              "value": "Automation Specialist",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "ab73959c-8165-4ca4-aaf4-924d6b65a41b",
      "name": "applicant details",
      "type": "n8n-nodes-base.set",
      "position": [
        -1216,
        272
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "content": "## Grab User Details and Update in Airtable\n",
        "height": 220,
        "width": 760,
        "color": 3
      },
      "id": "5fe8fad5-dd12-4e7e-9c6c-98a46434a4ac",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1680,
        192
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Download the CV and get the job description and requirements.\n- ### Send the details to ChatGPT to score the viability of the candidate",
        "height": 460,
        "width": 820
      },
      "id": "19062427-b85d-4eaa-a03e-f3f1f062b37a",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -848,
        160
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $('applicant details').item.json['CV link'] }}",
          "mode": "url"
        },
        "options": {}
      },
      "id": "af9efe91-e7e9-4570-8895-cdecbef2a36b",
      "name": "download CV",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        -816,
        272
      ],
      "typeVersion": 3,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "1nxcHc4AdcN1vUV3",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "=data",
        "options": {}
      },
      "id": "6b3fbcea-4006-4af7-b3d4-3cd259604daa",
      "name": "Extract from File",
      "type": "n8n-nodes-base.extractFromFile",
      "position": [
        -608,
        272
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Compare the following job description and resume. Assign a qualification score between 0 and 1, where 1 indicates the best match. Provide only the score and the reason for the score in less than 20 words.\nJob Description: Must use Airtable tool to get the job description\nResume: \n{{ $json.text }} \nyou need to use the airtable tool",
        "hasOutputParser": true,
        "options": {}
      },
      "id": "95a03caf-8bfe-4f90-a717-39aa2f7d7314",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        -432,
        272
      ],
      "typeVersion": 1.7
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "2ca93ba6-ca75-45e5-81f3-0dbb653f56f5",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        -464,
        464
      ],
      "typeVersion": 1,
      "credentials": {
        "openAiApi": {
          "id": "wIXy1qZotSXCZ3Ho",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"score\": 0.8,\n  \"reason\": \"Does not meet required number of experience in years\"\n}"
      },
      "id": "1eb80f58-d354-4ca1-8200-23f11edaa0dd",
      "name": "Structured Output Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "position": [
        -144,
        464
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "7b4950b2-d218-4911-89cd-22a60b7465d8",
              "operator": {
                "type": "number",
                "operation": "gte"
              },
              "leftValue": "={{ $json.output.score }}",
              "rightValue": 0.7
            }
          ]
        },
        "options": {}
      },
      "id": "ce45f5af-a081-4d9c-9dc0-d3e06d1d104f",
      "name": "shortlisted?",
      "type": "n8n-nodes-base.if",
      "position": [
        0,
        272
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appHutFlt763sot5P",
          "mode": "list",
          "cachedResultName": "Simple applicant tracker",
          "cachedResultUrl": "https://airtable.com/appHutFlt763sot5P"
        },
        "table": {
          "__rl": true,
          "value": "tblpdl8tBk8jHOElr",
          "mode": "list",
          "cachedResultName": "Applicants",
          "cachedResultUrl": "https://airtable.com/appHutFlt763sot5P/tblpdl8tBk8jHOElr"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Airtable').item.json.id }}",
            "Stage": "No hire"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Stage",
              "displayName": "Stage",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "No hire",
                  "value": "No hire"
                },
                {
                  "name": "Interviewing",
                  "value": "Interviewing"
                },
                {
                  "name": "Decision needed",
                  "value": "Decision needed"
                },
                {
                  "name": "Hire",
                  "value": "Hire"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Applying for",
              "displayName": "Applying for",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Attachments",
              "displayName": "Attachments",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "score",
              "displayName": "score",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Email address",
              "displayName": "Email address",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Phone",
              "displayName": "Phone",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Q&A",
              "displayName": "Q&A",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Phone interview",
              "displayName": "Phone interview",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Phone interviewer",
              "displayName": "Phone interviewer",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Phone interview Questions",
              "displayName": "Phone interview Questions",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Phone interview score",
              "displayName": "Phone interview score",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "0 – No hire",
                  "value": "0 – No hire"
                },
                {
                  "name": "1 – Probably no hire",
                  "value": "1 – Probably no hire"
                },
                {
                  "name": "2 – Worth consideration",
                  "value": "2 – Worth consideration"
                },
                {
                  "name": "3 – Good candidate",
                  "value": "3 – Good candidate"
                },
                {
                  "name": "4 – Please hire this person",
                  "value": "4 – Please hire this person"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Phone interview notes",
              "displayName": "Phone interview notes",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Onsite interview",
              "displayName": "Onsite interview",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Onsite interviewer",
              "displayName": "Onsite interviewer",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Onsite interview score",
              "displayName": "Onsite interview score",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "0 – No hire",
                  "value": "0 – No hire"
                },
                {
                  "name": "1 – Probably no hire",
                  "value": "1 – Probably no hire"
                },
                {
                  "name": "2 – Worth consideration",
                  "value": "2 – Worth consideration"
                },
                {
                  "name": "3 – Good candidate",
                  "value": "3 – Good candidate"
                },
                {
                  "name": "4 – Please hire this person",
                  "value": "4 – Please hire this person"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Onsite interview notes",
              "displayName": "Onsite interview notes",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "f616ffd5-c8f5-429d-adbe-e1c683e5e4f6",
      "name": "Rejected",
      "type": "n8n-nodes-base.airtable",
      "position": [
        288,
        400
      ],
      "typeVersion": 2.1,
      "credentials": {
        "airtableTokenApi": {
          "id": "b0iEbUiEc5wW9KIH",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appHutFlt763sot5P",
          "mode": "list",
          "cachedResultName": "Simple applicant tracker",
          "cachedResultUrl": "https://airtable.com/appHutFlt763sot5P"
        },
        "table": {
          "__rl": true,
          "value": "tblpdl8tBk8jHOElr",
          "mode": "list",
          "cachedResultName": "Applicants",
          "cachedResultUrl": "https://airtable.com/appHutFlt763sot5P/tblpdl8tBk8jHOElr"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "score": "={{ $('AI Agent').item.json.output.score }}",
            "id": "={{ $('Airtable').item.json.id }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Stage",
              "displayName": "Stage",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "No hire",
                  "value": "No hire"
                },
                {
                  "name": "Interviewing",
                  "value": "Interviewing"
                },
                {
                  "name": "Decision needed",
                  "value": "Decision needed"
                },
                {
                  "name": "Hire",
                  "value": "Hire"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Applying for",
              "displayName": "Applying for",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Attachments",
              "displayName": "Attachments",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "score",
              "displayName": "score",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Email address",
              "displayName": "Email address",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Phone",
              "displayName": "Phone",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Phone interview",
              "displayName": "Phone interview",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Phone interviewer",
              "displayName": "Phone interviewer",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Phone interview score",
              "displayName": "Phone interview score",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "0 – No hire",
                  "value": "0 – No hire"
                },
                {
                  "name": "1 – Probably no hire",
                  "value": "1 – Probably no hire"
                },
                {
                  "name": "2 – Worth consideration",
                  "value": "2 – Worth consideration"
                },
                {
                  "name": "3 – Good candidate",
                  "value": "3 – Good candidate"
                },
                {
                  "name": "4 – Please hire this person",
                  "value": "4 – Please hire this person"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Phone interview notes",
              "displayName": "Phone interview notes",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Onsite interview",
              "displayName": "Onsite interview",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Onsite interviewer",
              "displayName": "Onsite interviewer",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Onsite interview score",
              "displayName": "Onsite interview score",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "0 – No hire",
                  "value": "0 – No hire"
                },
                {
                  "name": "1 – Probably no hire",
                  "value": "1 – Probably no hire"
                },
                {
                  "name": "2 – Worth consideration",
                  "value": "2 – Worth consideration"
                },
                {
                  "name": "3 – Good candidate",
                  "value": "3 – Good candidate"
                },
                {
                  "name": "4 – Please hire this person",
                  "value": "4 – Please hire this person"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Onsite interview notes",
              "displayName": "Onsite interview notes",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "f925b660-39cf-4526-befc-b30b22773bb9",
      "name": "Potential Hire",
      "type": "n8n-nodes-base.airtable",
      "position": [
        288,
        208
      ],
      "typeVersion": 2.1,
      "credentials": {
        "airtableTokenApi": {
          "id": "b0iEbUiEc5wW9KIH",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=Given the following job description and candidate CV, create 5 insightful interview questions to gather more information about the candidate's suitability for the role. The questions should focus on:\n\n    Specific projects the candidate has worked on.\n    Key responsibilities and achievements in their previous roles.\n    Skills relevant to the job description.\n    Problem-solving abilities and how they handled challenges.\n    Alignment with the company’s goals and values.\n\nProvide the questions in a clear, concise format.\n\nJob Description:\nUse the airtable tool to get the job description\n\nCandidate CV:\n{{ $('Extract from File').item.json.text }}"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "id": "bf5cb420-790a-40f2-a8a9-eadeb834dbcf",
      "name": "generate questionnaires",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "position": [
        512,
        208
      ],
      "typeVersion": 1.7,
      "credentials": {
        "openAiApi": {
          "id": "wIXy1qZotSXCZ3Ho",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "formFields": {
          "values": [
            {
              "fieldLabel": "={{ $json.q1 }}",
              "placeholder": "=",
              "requiredField": true
            },
            {
              "fieldLabel": "={{ $json.q2 }}",
              "placeholder": "=",
              "requiredField": true
            },
            {
              "fieldLabel": "={{ $json.q3 }}",
              "placeholder": "=",
              "requiredField": true
            },
            {
              "fieldLabel": "={{ $json.q4 }}",
              "placeholder": "=",
              "requiredField": true
            },
            {
              "fieldLabel": "={{ $json.q5 }}",
              "placeholder": "=",
              "requiredField": true
            }
          ]
        },
        "options": {
          "formTitle": "Questionnaires",
          "formDescription": "Kindly fill in the following questions to proceed.",
          "buttonLabel": "Submit"
        }
      },
      "id": "c3982fd8-3056-48ee-9185-19bae4f98d0d",
      "name": "questionnaires",
      "type": "n8n-nodes-base.form",
      "position": [
        1040,
        208
      ],
      "webhookId": "3f654280-b5d0-4392-824f-bc384d91a1df",
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appHutFlt763sot5P",
          "mode": "list",
          "cachedResultName": "Simple applicant tracker",
          "cachedResultUrl": "https://airtable.com/appHutFlt763sot5P"
        },
        "table": {
          "__rl": true,
          "value": "tblpdl8tBk8jHOElr",
          "mode": "list",
          "cachedResultName": "Applicants",
          "cachedResultUrl": "https://airtable.com/appHutFlt763sot5P/tblpdl8tBk8jHOElr"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Q&A": "={{ $json.qnas[0].question }}: {{ $json.qnas[0].answer }}\n\n{{ $json.qnas[1].question }}: {{ $json.qnas[1].answer }}\n\n{{ $json.qnas[2].question }}: {{ $json.qnas[2].answer }}\n\n{{ $json.qnas[3].question }}: {{ $json.qnas[3].answer }}\n\n{{ $json.qnas[4].question }}: {{ $json.qnas[4].answer }}\n\n",
            "id": "={{ $('Airtable').item.json.id }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Stage",
              "displayName": "Stage",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "No hire",
                  "value": "No hire"
                },
                {
                  "name": "Interviewing",
                  "value": "Interviewing"
                },
                {
                  "name": "Decision needed",
                  "value": "Decision needed"
                },
                {
                  "name": "Hire",
                  "value": "Hire"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Applying for",
              "displayName": "Applying for",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Attachments",
              "displayName": "Attachments",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "score",
              "displayName": "score",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Email address",
              "displayName": "Email address",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Phone",
              "displayName": "Phone",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Q&A",
              "displayName": "Q&A",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Phone interview",
              "displayName": "Phone interview",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Phone interviewer",
              "displayName": "Phone interviewer",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Phone interview Questions",
              "displayName": "Phone interview Questions",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Phone interview score",
              "displayName": "Phone interview score",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "0 – No hire",
                  "value": "0 – No hire"
                },
                {
                  "name": "1 – Probably no hire",
                  "value": "1 – Probably no hire"
                },
                {
                  "name": "2 – Worth consideration",
                  "value": "2 – Worth consideration"
                },
                {
                  "name": "3 – Good candidate",
                  "value": "3 – Good candidate"
                },
                {
                  "name": "4 – Please hire this person",
                  "value": "4 – Please hire this person"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Phone interview notes",
              "displayName": "Phone interview notes",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Onsite interview",
              "displayName": "Onsite interview",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Onsite interviewer",
              "displayName": "Onsite interviewer",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Onsite interview score",
              "displayName": "Onsite interview score",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "0 – No hire",
                  "value": "0 – No hire"
                },
                {
                  "name": "1 – Probably no hire",
                  "value": "1 – Probably no hire"
                },
                {
                  "name": "2 – Worth consideration",
                  "value": "2 – Worth consideration"
                },
                {
                  "name": "3 – Good candidate",
                  "value": "3 – Good candidate"
                },
                {
                  "name": "4 – Please hire this person",
                  "value": "4 – Please hire this person"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Onsite interview notes",
              "displayName": "Onsite interview notes",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "8a36e852-9ac1-444f-a142-ab20dfbd6a0d",
      "name": "update questionnaires",
      "type": "n8n-nodes-base.airtable",
      "position": [
        1440,
        208
      ],
      "typeVersion": 2.1,
      "credentials": {
        "airtableTokenApi": {
          "id": "b0iEbUiEc5wW9KIH",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appHutFlt763sot5P",
          "mode": "list",
          "cachedResultName": "Simple applicant tracker",
          "cachedResultUrl": "https://airtable.com/appHutFlt763sot5P"
        },
        "table": {
          "__rl": true,
          "value": "tbln9c3wzl1mVVNeu",
          "mode": "list",
          "cachedResultName": "Positions",
          "cachedResultUrl": "https://airtable.com/appHutFlt763sot5P/tbln9c3wzl1mVVNeu"
        },
        "options": {}
      },
      "id": "62928c95-1a04-45fc-8842-2f23e23a42a6",
      "name": "job_posting",
      "type": "n8n-nodes-base.airtableTool",
      "position": [
        1744,
        480
      ],
      "typeVersion": 2.1,
      "credentials": {
        "airtableTokenApi": {
          "id": "b0iEbUiEc5wW9KIH",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "base": {
          "__rl": true,
          "mode": "list",
          "value": "appublMkWVQfHkZ09",
          "cachedResultUrl": "https://airtable.com/appublMkWVQfHkZ09",
          "cachedResultName": "Simple applicant tracker"
        },
        "table": {
          "__rl": true,
          "mode": "list",
          "value": "tblllvQaRTSnEr17a",
          "cachedResultUrl": "https://airtable.com/appublMkWVQfHkZ09/tblllvQaRTSnEr17a",
          "cachedResultName": "Applicants"
        },
        "id": "={{ $('update questionnaires').item.json.id }}",
        "options": {}
      },
      "id": "5d5ac198-0aee-4df2-af3e-37983ba9cec5",
      "name": "candidate_insights",
      "type": "n8n-nodes-base.airtableTool",
      "position": [
        1920,
        496
      ],
      "typeVersion": 2.1,
      "credentials": {
        "airtableTokenApi": {
          "id": "b0iEbUiEc5wW9KIH",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "id"
        },
        "messages": {
          "values": [
            {
              "content": "=Craft a personalized email to the interviewee, expressing interest in continuing the conversation over a phone call. The email should mention strengths or achievements from their CV or questionnaire responses, and include a polite request to have the phone conversation. Ensure the tone is professional and warm.\n\nProvide an output of \nTo:\nSubject:\nContent:\n\nInputs:\n\n    {{ $('Extract from File').item.json.text }}\n    \n    {{ $json.fields['Q&A'] }}\n\n\nExample email:\nDear [Candidate's Name],\n\nThank you for submitting your application and responses to the questionnaire for the AI automation engineer position. We were impressed by [specific strength or achievement from their CV or questionnaire, e.g., \"your experience in automating workflows using n8n, which aligns closely with our goals\"].\n\nWe’d love to continue the conversation to discuss your experience further. \n\nLooking forward to speaking with you soon.\n\n\n\nNOTE: \nSign off the email with\n\nRegards,\nFrancis"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "id": "766f3e80-73f3-4156-8562-bae9ead58b28",
      "name": "Personalize email",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "position": [
        1664,
        208
      ],
      "typeVersion": 1.7,
      "credentials": {
        "openAiApi": {
          "id": "wIXy1qZotSXCZ3Ho",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b3d6e85e-c478-452d-aafc-c325dfbe2c9b",
              "name": "To",
              "type": "string",
              "value": "=nsultana2021@icloud.com"
            },
            {
              "id": "f24eb1d5-fa61-48ce-8685-a0b2022bf576",
              "name": "Subject",
              "type": "string",
              "value": "={{ $json.message.content.Subject }}"
            },
            {
              "id": "25de1423-b66a-4389-906f-8b0c9c1d3826",
              "name": "Content",
              "type": "string",
              "value": "={{ $json.message.content.Content }}"
            }
          ]
        },
        "options": {}
      },
      "id": "82609d75-eea0-409e-ae04-db12b2a57b5f",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "position": [
        2016,
        192
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "id"
        },
        "messages": {
          "values": [
            {
              "content": "=Your job is ONLY to book a meeting in the calendar using the Google Calendar tool.\nCheck the interviewer's Google Calendar for the next day between 8:00 AM and 5:00 PM.\nSearch for ONE SINGLE 30-minute slot that does not overlap with any existing calendar event.\nA slot is considered free only if no event starts, ends, or occurs within that time range.\nExample: If an event is 9:00–9:30, then 9:00–9:30 is not free, but 9:30–10:00 may be.\nStart checking from 8:00 AM and move forward in 30-minute increments until 5:00 PM.\nIf a valid free slot is found:\nUse the calendar tool to book a meeting in that slot. set the description of the meeting as: \"Phone Interview- {{ $('Airtable').item.json.fields.Name }} \" \nReturn the result in the following format:\nStart time: [YYYY-MM-DD HH:MM]  \nEnd time: [YYYY-MM-DD HH:MM]  \nInputs: - The interviewer's calendar events - Today's date: {{ $today }}\n\nYou MUST use the Google Calendar tool to create the event. \nDo not respond with plain text or summaries. \nOnly return output after calling the tool successfully.\n"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "id": "18443c3b-d255-4b04-81db-00dbd6a59abf",
      "name": "Book Meeting",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "position": [
        3264,
        192
      ],
      "typeVersion": 1.7,
      "credentials": {
        "openAiApi": {
          "id": "fVZUSiD0V6g24UAt",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appHutFlt763sot5P",
          "mode": "list",
          "cachedResultName": "Simple applicant tracker",
          "cachedResultUrl": "https://airtable.com/appHutFlt763sot5P"
        },
        "table": {
          "__rl": true,
          "value": "tblpdl8tBk8jHOElr",
          "mode": "list",
          "cachedResultName": "Applicants",
          "cachedResultUrl": "https://airtable.com/appHutFlt763sot5P/tblpdl8tBk8jHOElr"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Phone interview": "={{ $json.message.content['Start time'] }}",
            "id": "={{ $('Airtable').item.json.id }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Stage",
              "displayName": "Stage",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "No hire",
                  "value": "No hire"
                },
                {
                  "name": "Interviewing",
                  "value": "Interviewing"
                },
                {
                  "name": "Decision needed",
                  "value": "Decision needed"
                },
                {
                  "name": "Hire",
                  "value": "Hire"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Applying for",
              "displayName": "Applying for",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Attachments",
              "displayName": "Attachments",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "score",
              "displayName": "score",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Email address",
              "displayName": "Email address",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Phone",
              "displayName": "Phone",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Q&A",
              "displayName": "Q&A",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Phone interview",
              "displayName": "Phone interview",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Phone interviewer",
              "displayName": "Phone interviewer",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Phone interview Questions",
              "displayName": "Phone interview Questions",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Phone interview score",
              "displayName": "Phone interview score",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "0 – No hire",
                  "value": "0 – No hire"
                },
                {
                  "name": "1 – Probably no hire",
                  "value": "1 – Probably no hire"
                },
                {
                  "name": "2 – Worth consideration",
                  "value": "2 – Worth consideration"
                },
                {
                  "name": "3 – Good candidate",
                  "value": "3 – Good candidate"
                },
                {
                  "name": "4 – Please hire this person",
                  "value": "4 – Please hire this person"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Phone interview notes",
              "displayName": "Phone interview notes",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Onsite interview",
              "displayName": "Onsite interview",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Onsite interviewer",
              "displayName": "Onsite interviewer",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Onsite interview score",
              "displayName": "Onsite interview score",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "0 – No hire",
                  "value": "0 – No hire"
                },
                {
                  "name": "1 – Probably no hire",
                  "value": "1 – Probably no hire"
                },
                {
                  "name": "2 – Worth consideration",
                  "value": "2 – Worth consideration"
                },
                {
                  "name": "3 – Good candidate",
                  "value": "3 – Good candidate"
                },
                {
                  "name": "4 – Please hire this person",
                  "value": "4 – Please hire this person"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Onsite interview notes",
              "displayName": "Onsite interview notes",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "typecast": true
        }
      },
      "id": "1d4a65fc-b0e7-4ac6-ad69-bb8d967fa308",
      "name": "update phone meeting time",
      "type": "n8n-nodes-base.airtable",
      "position": [
        3888,
        208
      ],
      "typeVersion": 2.1,
      "credentials": {
        "airtableTokenApi": {
          "id": "b0iEbUiEc5wW9KIH",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "id"
        },
        "messages": {
          "values": [
            {
              "content": "=Given the  job description, along with the candidate's CV and their responses to the questionnaires, generate a list of screening questions that will help gauge the candidate's suitability for the role. The questions should focus on understanding the candidate’s relevant experience, skills, and cultural fit. The questions should take into account both the job description and the candidate's background and responses. Provide a minimum of 5 questions.\n\nUse the tools to get the job description and the applicant's responses to the questionnaires.\n\nApplicant's CV:\n{{ $('Extract from File').item.json.text }}\n\n\nGive the output as various sentences as a paragraph with every new question in a numbered list:\nScreening Questions:"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "id": "2292fbfd-a29b-41fb-b82c-ff32ae0e30c5",
      "name": "Screening Questions",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "position": [
        4192,
        208
      ],
      "typeVersion": 1.7,
      "credentials": {
        "openAiApi": {
          "id": "wIXy1qZotSXCZ3Ho",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "base": {
          "__rl": true,
          "value": "appHutFlt763sot5P",
          "mode": "list",
          "cachedResultName": "Simple applicant tracker",
          "cachedResultUrl": "https://airtable.com/appHutFlt763sot5P"
        },
        "table": {
          "__rl": true,
          "value": "tblpdl8tBk8jHOElr",
          "mode": "list",
          "cachedResultName": "Applicants",
          "cachedResultUrl": "https://airtable.com/appHutFlt763sot5P/tblpdl8tBk8jHOElr"
        },
        "id": "={{ $('update questionnaires').item.json.id }}",
        "options": {}
      },
      "id": "f1dcb103-a67b-424e-b448-f48614a52d40",
      "name": "candidate_insights1",
      "type": "n8n-nodes-base.airtableTool",
      "position": [
        4240,
        480
      ],
      "typeVersion": 2.1,
      "credentials": {
        "airtableTokenApi": {
          "id": "b0iEbUiEc5wW9KIH",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appHutFlt763sot5P",
          "mode": "list",
          "cachedResultName": "Simple applicant tracker",
          "cachedResultUrl": "https://airtable.com/appHutFlt763sot5P"
        },
        "table": {
          "__rl": true,
          "value": "tblpdl8tBk8jHOElr",
          "mode": "list",
          "cachedResultName": "Applicants",
          "cachedResultUrl": "https://airtable.com/appHutFlt763sot5P/tblpdl8tBk8jHOElr"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('update phone meeting time').item.json.id }}",
            "Phone interview Questions": "={{ $json['Screening Questions'] }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Stage",
              "displayName": "Stage",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "No hire",
                  "value": "No hire"
                },
                {
                  "name": "Interviewing",
                  "value": "Interviewing"
                },
                {
                  "name": "Decision needed",
                  "value": "Decision needed"
                },
                {
                  "name": "Hire",
                  "value": "Hire"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Applying for",
              "displayName": "Applying for",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Attachments",
              "displayName": "Attachments",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "score",
              "displayName": "score",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Email address",
              "displayName": "Email address",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Phone",
              "displayName": "Phone",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Q&A",
              "displayName": "Q&A",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Phone interview",
              "displayName": "Phone interview",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Phone interviewer",
              "displayName": "Phone interviewer",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Phone interview Questions",
              "displayName": "Phone interview Questions",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Phone interview score",
              "displayName": "Phone interview score",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "0 – No hire",
                  "value": "0 – No hire"
                },
                {
                  "name": "1 – Probably no hire",
                  "value": "1 – Probably no hire"
                },
                {
                  "name": "2 – Worth consideration",
                  "value": "2 – Worth consideration"
                },
                {
                  "name": "3 – Good candidate",
                  "value": "3 – Good candidate"
                },
                {
                  "name": "4 – Please hire this person",
                  "value": "4 – Please hire this person"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Phone interview notes",
              "displayName": "Phone interview notes",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Onsite interview",
              "displayName": "Onsite interview",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Onsite interviewer",
              "displayName": "Onsite interviewer",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Onsite interview score",
              "displayName": "Onsite interview score",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "0 – No hire",
                  "value": "0 – No hire"
                },
                {
                  "name": "1 – Probably no hire",
                  "value": "1 – Probably no hire"
                },
                {
                  "name": "2 – Worth consideration",
                  "value": "2 – Worth consideration"
                },
                {
                  "name": "3 – Good candidate",
                  "value": "3 – Good candidate"
                },
                {
                  "name": "4 – Please hire this person",
                  "value": "4 – Please hire this person"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Onsite interview notes",
              "displayName": "Onsite interview notes",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "6a64a05e-bf33-4680-b341-ab531aef9bb4",
      "name": "screening questions",
      "type": "n8n-nodes-base.airtable",
      "position": [
        4896,
        176
      ],
      "typeVersion": 2.1,
      "credentials": {
        "airtableTokenApi": {
          "id": "b0iEbUiEc5wW9KIH",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d51edc4a-60cd-41fe-8cc3-afc3c266d588",
              "name": "Screening Questions",
              "type": "string",
              "value": "={{ $json.message.content['Screening Questions'][0] }}\n\n{{ $json.message.content['Screening Questions'][1] }}\n\n{{ $json.message.content['Screening Questions'][2] }}\n\n{{ $json.message.content['Screening Questions'][3] }}\n\n{{ $json.message.content['Screening Questions'][4] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "1bf53e51-6925-453f-9a2d-a6e90d08eb1f",
      "name": "Edit Fields1",
      "type": "n8n-nodes-base.set",
      "position": [
        4672,
        192
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "content": "## Actions\n- ### Change the `Form Description` with the job description you are hiring for.\n- ### Make sure to check and change the prompts if need be to suit your use case.\n- ### Use the Simple Applicant Tracker template on Airtable to set up the tables required.",
        "height": 460,
        "width": 580
      },
      "id": "99cb437f-3ee7-4a9f-a567-5135aa9d5602",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2256,
        48
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "jsCode": "\nreturn [\n  {\n    json: {\n      qnas: Object.entries(items[0].json)\n        .filter(([key, value]) => key !== \"submittedAt\" && key !== \"formMode\")\n        .map(([question, answer]) => ({\n          question,\n          answer\n        }))\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1248,
        208
      ],
      "id": "60c3f27b-5416-4e73-b306-b8b390ff71ed",
      "name": "Code"
    },
    {
      "parameters": {
        "sendTo": "=nsultana2021@icloud.com",
        "subject": "={{ $json.Subject }}",
        "message": "={{ $json.Content }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        2192,
        192
      ],
      "id": "7ec7e0ef-eb43-44cd-b3b3-d3f7c4e96886",
      "name": "Send a message",
      "webhookId": "40c2a77f-142f-4620-a71b-c3ebb3072f29",
      "credentials": {
        "gmailOAuth2": {
          "id": "51xyhEFYEuzrLNCk",
          "name": "Gmail account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "id"
        },
        "messages": {
          "values": [
            {
              "content": "=Craft a personalized email to the interviewee, professionally and sensitively rejecting them for the position. The email should mention their weakness from their CV and include the reason why they are not suitable for the position. Ensure the tone is professional and warm.\n\nProvide an output of \nTo:\nSubject:\nContent:\n\nInputs:\n{{ $json.fields['Email address'] }}\n{{ $json.fields.Name }}\n{{ $('AI Agent').item.json.output.score }}\n{{ $('AI Agent').item.json.output.reason }}\n{{ $('applicant details').item.json.JD }}\nExample email:\nDear [Candidate's Name],\n\nThank you for submitting your application and responses to the questionnaire for the AI automation engineer position. \n\nAfter careful consideration, we have decided to move forward with other candidates whose professional background and qualifications are more closely aligned with the requirements of this role. We sincerely appreciate your interest and the effort you invested in your application. We wish you every success in your future career endeavors and thank you again for considering us. \n\n\nNOTE: \nSign off the email with\n\nRegards,\nTama"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        496,
        400
      ],
      "id": "e63bec8b-6ef8-48ba-88dc-55158c0eaa05",
      "name": "Message a model",
      "credentials": {
        "openAiApi": {
          "id": "fVZUSiD0V6g24UAt",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e04ce753-c757-4fd8-a342-013e39b66596",
              "name": "to",
              "value": "={{ $json.message.content.To }}",
              "type": "string"
            },
            {
              "id": "8d312478-5e49-445a-8460-78df4f382186",
              "name": "subject",
              "value": "={{ $json.message.content.Subject }}",
              "type": "string"
            },
            {
              "id": "bc27dc85-cc5e-4cdb-94b8-2b98fab3d4b9",
              "name": "Content",
              "value": "={{ $json.message.content.Content }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        848,
        400
      ],
      "id": "95d515b9-ffac-49a0-be1c-57dc2e3d710f",
      "name": "Edit Fields3"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.to }}",
        "subject": "={{ $json.subject }}",
        "message": "={{ $json.Content }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1056,
        400
      ],
      "id": "15c767d8-7d60-49c5-9d82-f7daa2a63638",
      "name": "Send a message1",
      "webhookId": "45a761b4-2bb2-4354-b80b-ad8bde6bd992",
      "credentials": {
        "gmailOAuth2": {
          "id": "51xyhEFYEuzrLNCk",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appHutFlt763sot5P",
          "mode": "list",
          "cachedResultName": "Simple applicant tracker",
          "cachedResultUrl": "https://airtable.com/appHutFlt763sot5P"
        },
        "table": {
          "__rl": true,
          "value": "tbln9c3wzl1mVVNeu",
          "mode": "list",
          "cachedResultName": "Positions",
          "cachedResultUrl": "https://airtable.com/appHutFlt763sot5P/tbln9c3wzl1mVVNeu"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtableTool",
      "typeVersion": 2.1,
      "position": [
        -352,
        576
      ],
      "id": "9dc5ce7f-a167-4e86-95c2-40fa15190586",
      "name": "Search records in Airtable",
      "credentials": {
        "airtableTokenApi": {
          "id": "b0iEbUiEc5wW9KIH",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "daa64598-243f-4ef0-954a-68f09cbde9a8",
              "name": "q1",
              "value": "={{ $json.message.content.interview_questions[0].question }}",
              "type": "string"
            },
            {
              "id": "6c58a389-9a13-4dad-808b-f54a203d0b9a",
              "name": "q2",
              "value": "={{ $json.message.content.interview_questions[1].question }}",
              "type": "string"
            },
            {
              "id": "7e560170-7360-4828-ba22-4cd68ad2de28",
              "name": "q3",
              "value": "={{ $json.message.content.interview_questions[2].question }}",
              "type": "string"
            },
            {
              "id": "9e616faa-b9fa-4514-a51d-207c75de36b6",
              "name": "q4",
              "value": "={{ $json.message.content.interview_questions[3].question }}",
              "type": "string"
            },
            {
              "id": "1a24fa4e-a626-4de9-8b68-01d3d0f8b0f3",
              "name": "q5",
              "value": "={{ $json.message.content.interview_questions[4].question }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        864,
        208
      ],
      "id": "bcb08da4-e9e1-4bab-8f53-0b30280a542a",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Use this tool to create an event in Google Calendar",
        "calendar": {
          "__rl": true,
          "value": "nstamanna19@gmail.com",
          "mode": "list",
          "cachedResultName": "nstamanna19@gmail.com"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
        "additionalFields": {
          "showMeAs": "opaque",
          "summary": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', ``, 'string') }}"
        }
      },
      "id": "1e4b1e81-4e4c-4bf1-b4f2-a1c9854cfb66",
      "name": "Create an event in Google Calendar",
      "type": "n8n-nodes-base.googleCalendarTool",
      "position": [
        3328,
        464
      ],
      "typeVersion": 1.2,
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "NOOPz8tVvN3zJQKW",
          "name": "Google Calendar account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "AI Agent": {
      "main": [
        [
          {
            "node": "shortlisted?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable": {
      "main": [
        [
          {
            "node": "download CV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "download CV": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "job_posting": {
      "ai_tool": [
        [
          {
            "node": "Personalize email",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Book Meeting": {
      "main": [
        [
          {
            "node": "update phone meeting time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "screening questions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "shortlisted?": {
      "main": [
        [
          {
            "node": "Potential Hire",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Rejected",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Potential Hire": {
      "main": [
        [
          {
            "node": "generate questionnaires",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "questionnaires": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Personalize email": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "applicant details": {
      "main": [
        [
          {
            "node": "Airtable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On form submission": {
      "main": [
        [
          {
            "node": "Upload CV to google drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "candidate_insights": {
      "ai_tool": [
        [
          {
            "node": "Personalize email",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Screening Questions": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "candidate_insights1": {
      "ai_tool": [
        [
          {
            "node": "Screening Questions",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "update questionnaires": {
      "main": [
        [
          {
            "node": "Personalize email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "generate questionnaires": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Upload CV to google drive": {
      "main": [
        [
          {
            "node": "applicant details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update phone meeting time": {
      "main": [
        [
          {
            "node": "Screening Questions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "update questionnaires",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Book Meeting",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rejected": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search records in Airtable": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "questionnaires",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create an event in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "Book Meeting",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "92fd0916-d0c0-416d-9be8-5f6adbd96ae4",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8d401f885e1d55f4ab54b9409be28c0a99616546f3fde5dcc217c9802d0a05db"
  },
  "id": "6azK1zNHdHhJOQT6",
  "tags": []
}