Business_process_automation/Invoice Attachments Gmail to Drive and Google Sheets.json
{
  "name": "email_invoice_attachment_workflow",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {
          "readStatus": "unread"
        },
        "options": {
          "downloadAttachments": true
        }
      },
      "id": "b54eac02-2f51-4680-bf99-b2c5850ef8fe",
      "name": "Gmail Trigger1",
      "type": "n8n-nodes-base.gmailTrigger",
      "position": [
        448,
        544
      ],
      "typeVersion": 1.1,
      "credentials": {
        "gmailOAuth2": {
          "id": "51xyhEFYEuzrLNCk",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4cca07a2-6a70-4011-a025-65246e652fb9",
              "name": "url_to_drive_folder",
              "type": "string",
              "value": "1fCWCdqrFP3WrjjLc-gJtxMaiaF5lh8Ko"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "3e4a2104-d756-46e4-b9ad-4f0119d4142d",
      "name": "Setup1",
      "type": "n8n-nodes-base.set",
      "position": [
        800,
        544
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.googleapis.com/upload/drive/v3/files",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDriveOAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "uploadType",
              "value": "media"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "={{ $binary.attachment_0.mimeType === \"application/pdf\"\n     ? \"attachment_0\"\n     : \"attachment_1\" }}",
        "options": {}
      },
      "id": "2366bfb7-f711-4e38-9116-fc3bfdf04802",
      "name": "Upload PDF to Drive1",
      "type": "n8n-nodes-base.httpRequest",
      "maxTries": 5,
      "position": [
        1856,
        416
      ],
      "retryOnFail": true,
      "typeVersion": 4.2,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "1nxcHc4AdcN1vUV3",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "fileId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.id }}"
        },
        "newUpdatedFileName": "={{ $('Setup1').item.json.subject }}_invoice_{{ $now.format('yyyy-MM-dd_HH-mm-ss') }}.pdf",
        "options": {}
      },
      "id": "8d4cf102-96f9-4926-b9d0-2ef33494cd83",
      "name": "Rename file1",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        2032,
        416
      ],
      "typeVersion": 3,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "1nxcHc4AdcN1vUV3",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.id }}"
        },
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive",
          "cachedResultName": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1wULhkoxfSxH08xevjPpApVFjyimGW0pN",
          "mode": "list",
          "cachedResultName": "test_n8n_image",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1wULhkoxfSxH08xevjPpApVFjyimGW0pN"
        }
      },
      "id": "ae6944ba-940a-4ba7-9784-4ae1b95640d9",
      "name": "Move to the correct folder1",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        2208,
        416
      ],
      "typeVersion": 3,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "1nxcHc4AdcN1vUV3",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "markAsRead",
        "messageId": "={{ $('Gmail Trigger1').item.json.id }}"
      },
      "id": "82a1b8a3-4cb8-4b0f-8a47-03b900cff260",
      "name": "Gmail",
      "type": "n8n-nodes-base.gmail",
      "position": [
        2880,
        416
      ],
      "webhookId": "556cbee3-8de0-4645-9e91-e7c0c252f2ab",
      "typeVersion": 2.1,
      "credentials": {
        "gmailOAuth2": {
          "id": "51xyhEFYEuzrLNCk",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "id": "b9d2ac0e-ac56-4248-8589-0da9b6d96c96",
      "name": "Extract from File2",
      "type": "n8n-nodes-base.extractFromFile",
      "position": [
        2832,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.id }}"
        },
        "options": {}
      },
      "id": "2273a25e-7abe-4013-9cd7-bf3a91e7b2a4",
      "name": "Google Drive",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        2432,
        416
      ],
      "typeVersion": 3,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "1nxcHc4AdcN1vUV3",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchema": "{\n  \"Invoice date\": { \"type\": \"date\" },\n  \"Invoice description\": { \"type\": \"string\" },\n  \"Total price\": { \"type\": \"number\" },\n  \"Fichero\": { \"type\": \"string\" }\n}"
      },
      "id": "4e44bd8a-dc1c-47af-b1e1-b42c255f918d",
      "name": "Structured Output Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "position": [
        3568,
        464
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ $json.output }}",
        "options": {}
      },
      "id": "e3c6715f-ae8d-4aec-9e68-55eb57228c53",
      "name": "Map Output",
      "type": "n8n-nodes-base.set",
      "position": [
        3712,
        288
      ],
      "typeVersion": 3.3
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Given the following invoice in the <invoice> xml tags, extract the following information as listed below.\nIf you cannot the information for a specific item, then leave blank and skip to the next. \nOnly extract the date, not time. And for the total amount, extract it in the following format: $dollerAmount.centAmount\n\n* Invoice date\n* Invoice Description:\n* Total price\n* File Name:  {{ $('Rename file1').item.json.name }}\n\n\n\n<invoice>{{ $json.text }}</invoice>",
        "hasOutputParser": true
      },
      "id": "e87b61a8-9c91-409d-9136-4f9269f6e29c",
      "name": "Apply Data Extraction Rules",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "position": [
        3376,
        288
      ],
      "typeVersion": 1.4
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 1,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "229200d1-ec13-4970-ae0e-2c8e17da0bdf",
              "operator": {
                "type": "string",
                "operation": "contains"
              },
              "leftValue": "={{ $('Gmail Trigger1').item.json.headers['content-type'] }}",
              "rightValue": "multipart/mixed"
            },
            {
              "id": "41a6d341-9d5e-4059-a870-6d33713bd0d8",
              "leftValue": "={{ $json.matches }}",
              "rightValue": "invoice",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            },
            {
              "id": "eca124f4-5d10-4f31-bcda-12e545bfc1f3",
              "leftValue": "={{ $json.labelIds }}",
              "rightValue": "CATEGORY_PERSONAL",
              "operator": {
                "type": "array",
                "operation": "contains",
                "rightType": "any"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "cb93f10f-f564-4bb1-bc09-f1bfc8652a34",
      "name": "Only invoice mails with attachments",
      "type": "n8n-nodes-base.if",
      "position": [
        1584,
        544
      ],
      "typeVersion": 2.1
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        3264,
        496
      ],
      "id": "5418029a-af28-423c-bdfc-ca72ffc59134",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "wIXy1qZotSXCZ3Ho",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "10YYMpHNPfaNvw6MB_Uwt4QDFBoH_7IaxA1GcJ8bMjSc",
          "mode": "list",
          "cachedResultName": "invoice_record_test",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/10YYMpHNPfaNvw6MB_Uwt4QDFBoH_7IaxA1GcJ8bMjSc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/10YYMpHNPfaNvw6MB_Uwt4QDFBoH_7IaxA1GcJ8bMjSc/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Date": "={{ $json['Invoice date'] }}",
            "Description": "={{ $json['Invoice Description'] }}",
            "Total price": "={{ $json['Total price'] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Description",
              "displayName": "Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Total price",
              "displayName": "Total price",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "89a469a2-b359-4551-9aad-332317220480",
      "name": "Append to Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        3920,
        288
      ],
      "typeVersion": 4.3,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "0qQzV3DmSlI358f0",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Keywords to check\nconst keywords = [\"invoice\", \"bill\", \"receipt\", \"payment\", \"statement\"];\n\n// Access the filename safely\nconst fileName = (items[0].binary?.attachment_0?.fileName || \"\").toLowerCase();\n\n// Check if any keyword exists in filename\nconst containsKeyword = keywords.some(word => fileName.includes(word));\n\n// Check if file is a PDF\nconst isPdf = fileName.endsWith(\".pdf\");\n\n// Final result: only true if keyword + pdf\nconst matches = containsKeyword && isPdf;\n\n// Return result along with original data\nreturn [\n  {\n    json: {\n      hasKeyword: containsKeyword,\n      isPdf,\n      matches // true only if both conditions satisfied\n    },\n    binary: items[0].binary,\n    json: {\n      ...items[0].json,\n      hasKeyword: containsKeyword,\n      isPdf,\n      matches\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1216,
        560
      ],
      "id": "02e0dc1c-ddb4-4ec9-b23c-738264f4702c",
      "name": "Code"
    }
  ],
  "pinData": {},
  "connections": {
    "Setup1": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map Output": {
      "main": [
        [
          {
            "node": "Append to Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive": {
      "main": [
        [
          {
            "node": "Extract from File2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rename file1": {
      "main": [
        [
          {
            "node": "Move to the correct folder1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail Trigger1": {
      "main": [
        [
          {
            "node": "Setup1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File2": {
      "main": [
        [
          {
            "node": "Apply Data Extraction Rules",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload PDF to Drive1": {
      "main": [
        [
          {
            "node": "Rename file1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Apply Data Extraction Rules",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Apply Data Extraction Rules": {
      "main": [
        [
          {
            "node": "Map Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move to the correct folder1": {
      "main": [
        [
          {
            "node": "Gmail",
            "type": "main",
            "index": 0
          },
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Only invoice mails with attachments": {
      "main": [
        [
          {
            "node": "Upload PDF to Drive1",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Apply Data Extraction Rules",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Only invoice mails with attachments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "ff5a6e00-1c51-44ad-90f6-c981cdb895a1",
  "meta": {
    "instanceId": "8d401f885e1d55f4ab54b9409be28c0a99616546f3fde5dcc217c9802d0a05db"
  },
  "id": "pARSaHbfWblvtYke",
  "tags": []
}